<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/howitworks.css">
    <title>Все сервисы GM</title>
</head>
<body>
<div class="container">
    <div class="box-left">
        <div class="node">
            <div class="node-header">
                {{ selected_campaign.name }}
            </div>
            <div class="node-section">
                <div class="node-section-left">
                    <img src="{{ selected_campaign.image }}" alt="" class="lamoda-pic">
                    <a target="_blank" href="{{ selected_campaign.gotolink }}?subid={{ user }}" class="node-btn">
                        <img src="/images/howitworks/btn-hard.png" alt="" class="arrow-btn-hard-pic">
                        <div class="btn-txt">В МАГАЗИН</div>
                        <img src="/images/howitworks/arrow-btn.png" alt="" class="arrow-btn-pic">
                    </a>
                </div>
                <div class="node-section-right">
                    <div class="rang">
                        <div class="rang-stars">
                            <div class="rang-stars__box">
                                <div class="rang-stars__bg" style="width: {{ selected_campaign.rating * 10 }}%"></div>
                                <div class="rang-stars__stars"></div>
                            </div>
                        </div>
                        <a href="#" class="rang-posts">ОТЗЫВЫ (11)</a>
                    </div>
                    <div class="cashback">
                        Кэшбэк до <span
                                class="txt-red">{{ selected_campaign.action.payment_size|paymentFilter }}</span>
                    </div>
                    <div class="lamoda-txt">
                        Описание отсутствует
                        <div class="a_socials al_block">
                            <div class="a_socials_icons">
                                <script type="text/javascript" src="//yastatic.net/share/share.js"
                                        charset="utf-8"></script>
                                <div class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="small"
                                     data-yashareQuickServices="odnoklassniki,vkontakte,facebook,gplus,moimir,twitter"
                                     data-yashareTheme="counter"
                                     data-yashareLink="http://gmcard.ru.fank.su/campaigns/details/{{ selected_campaign.id }}"></div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </div><!-- /node-section -->
            <div class="inform">
                <div class="inform-heder-bg">
                    <div class="iform-header-bg">
                        <div class="iform-header">
                            <div id="item-1" class="iform-header-item block">ИНФОРМАЦИЯ / УСЛОВИЯ</div>
                            <div id="item-2" class="iform-header-item">ОТЗЫВЫ (11)</div>
                            <div id="item-3" class="iform-header-item">СКИДОЧНЫЕ КУПОНЫ
                                ({{ selected_campaign.coupons|length }})
                            </div>
                            <div id="item-4" class="iform-header-item">ГАРАНТИИ</div>
                        </div>
                    </div>
                </div>
                <div id="inf-usl" class="inform-node">
                    <div class="inform-node-header">
                        Приблизительное время ожидания кэшбэка: <span
                                class="pink">{{ selected_campaign.action.hold_time }} дней</span>
                    </div>
                    <div class="inform-node-text">
                        Описание отсутствует
                    </div>
                    <div class="horizont-line"></div>
                    {% for action in selected_campaign.actions %}
                        {% if action.type == 'sale' %}
                            <div class="kupon">{{ action.name }}: <span
                                        class="pink">{{ action.payment_size|paymentFilter }}</span>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div><!-- /inf-usl -->
                <div id="otzivi" class="inform-node">
                    <div class="send-otziv"><a href="#" class="send-otziv-link">ОСТАВЬТЕ СВОЙ ОТЗЫВ</a></div>
                    <div class="otzivi-box">
                        <div class="otzivi-foto">
                            <img src="/images/howitworks/foto1.png" alt="" class="otzivi-foto-pic">
                            <div class="otzivi-foto-mame">Irina Semenova</div>
                        </div>
                        <div class="otzivi-node">
                            <div class="otzivi-node-top">
                                <div class="otzivi-node-top-left">
                                    <div class="otzivi-node-top-left-text">
                                        Оценка:
                                    </div>
                                    <div class="otzivi-node-top-left-stars">
                                        <img src="/images/howitworks/stars-otz.png" alt="" class="otzivi-stars-pic">
                                    </div>
                                </div>
                                <div class="otzivi-node-top-right">16.02.2017</div>
                            </div>
                            <div class="otzivi-node-text">
                                Ух ты!!! Не прошло и суток с момента предыдущего коммента, как пришли денежки от
                                Ламода! Ай да служба поддержки GM, ай да МОЛОДЦЫ!!! СПАСИБО! Пять звезд! Респект!!!
                            </div>
                        </div>
                    </div><!-- /otzivi-box -->
                    <div class="otzivi-box">
                        <div class="otzivi-foto">
                            <img src="/images/howitworks/foto2.png" alt="" class="otzivi-foto-pic">
                            <div class="otzivi-foto-mame">Виктория Бутова</div>
                        </div>
                        <div class="otzivi-node">
                            <div class="otzivi-node-top">
                                <div class="otzivi-node-top-left">
                                    <div class="otzivi-node-top-left-text">
                                        Оценка:
                                    </div>
                                    <div class="otzivi-node-top-left-stars">
                                        <img src="/images/howitworks/stars-otz.png" alt="" class="otzivi-stars-pic">
                                    </div>
                                </div>
                                <div class="otzivi-node-top-right">14.02.2017</div>
                            </div>
                            <div class="otzivi-node-text">
                                Уже давным-давно отказалась от хождения по магазинам, ох, спасибо
                                интернет-магазинам, которые экономят мое время, и спасибо Вашему сервису, что я еще
                                и получаю деньги за то, что трачу их у кого-то :) Не знаю в чем подвох, но как по
                                мне гениальная идея!
                            </div>
                        </div>
                    </div><!-- /otzivi-box -->
                    <div class="otzivi-box">
                        <div class="otzivi-foto">
                            <img src="/images/howitworks/foto1.png" alt="" class="otzivi-foto-pic">
                            <div class="otzivi-foto-mame">Irina Semenova</div>
                        </div>
                        <div class="otzivi-node">
                            <div class="otzivi-node-top">
                                <div class="otzivi-node-top-left">
                                    <div class="otzivi-node-top-left-text">
                                        Оценка:
                                    </div>
                                    <div class="otzivi-node-top-left-stars">
                                        <img src="/images/howitworks/stars-otz.png" alt="" class="otzivi-stars-pic">
                                    </div>
                                </div>
                                <div class="otzivi-node-top-right">16.02.2017</div>
                            </div>
                            <div class="otzivi-node-text">
                                Ух ты!!! Не прошло и суток с момента предыдущего коммента, как пришли денежки от
                                Ламода! Ай да служба поддержки GM, ай да МОЛОДЦЫ!!! СПАСИБО! Пять звезд! Респект!!!
                            </div>
                        </div>
                        <div class="otzivi-box-otvet">
                            <div class="otzivi-foto-otvet">
                                <img src="/images/howitworks/logo.png" alt="" class="otzivi-foto-pic">
                            </div>
                            <div class="otzivi-node-otvet">
                                <div class="otzivi-node-top">
                                    <div class="otzivi-node-top-left">
                                        <div class="otzivi-node-top-left-text">
                                            Сервис GM Скидки
                                        </div>
                                    </div>
                                    <div class="otzivi-node-top-right">16.02.2017</div>
                                </div>
                                <div class="otzivi-node-text">
                                    Спасибо вам, Irina, за то что пользуетесь нашим сервисом. Оставайтесь с нами, и
                                    получайте еще больше бонусов и скидок на ваши покупки!
                                </div>
                            </div>
                        </div><!-- /otzivi-box-otvet -->
                    </div><!-- /otzivi-box -->
                    <div class="otzivi-box">
                        <div class="otzivi-foto">
                            <img src="/images/howitworks/foto2.png" alt="" class="otzivi-foto-pic">
                            <div class="otzivi-foto-mame">Виктория Бутова</div>
                        </div>
                        <div class="otzivi-node">
                            <div class="otzivi-node-top">
                                <div class="otzivi-node-top-left">
                                    <div class="otzivi-node-top-left-text">
                                        Оценка:
                                    </div>
                                    <div class="otzivi-node-top-left-stars">
                                        <img src="/images/howitworks/stars-otz.png" alt="" class="otzivi-stars-pic">
                                    </div>
                                </div>
                                <div class="otzivi-node-top-right">14.02.2017</div>
                            </div>
                            <div class="otzivi-node-text">
                                Уже давным-давно отказалась от хождения по магазинам, ох, спасибо
                                интернет-магазинам, которые экономят мое время, и спасибо Вашему сервису, что я еще
                                и получаю деньги за то, что трачу их у кого-то :) Не знаю в чем подвох, но как по
                                мне гениальная идея!
                            </div>
                        </div>
                    </div>
                </div><!-- /otzivi-box -->
                <div id="kuponi" class="inform-node">
                    {% for coupon in selected_campaign.coupons %}
                        <a target="_blank" href="{{ coupon.goto_link }}">
                            <div class="kuponi-box">
                                <div class="kuponi-box-mame">{{ coupon.name }}</div>
                                <div class="kuponi-box-dadlin">
                                    <img src="/images/howitworks/dadlin.png" alt="" class="kuponi-box-dadlin-pic">
                                    {% set now = "now"|date %}
                                    {% set difference = date(now).diff(date(coupon.date_end)) %}
                                    {% set leftDays = difference.days %}
                                    {% if leftDays == 0 %}
                                        Осталось часов: {{ difference.h }}
                                    {% else %}
                                        Осталось дней: {{ leftDays }}
                                    {% endif %}
                                </div>
                                <div class="kuponi-box-cod">
                                    {% if (coupon.promocode == 'НЕ НУЖЕН' or coupon.promocode == 'NOT REQUIRED') %}
                                        промокод не требуется
                                    {% else %}
                                        Код купона: {{ coupon.promocode }}
                                    {% endif %}
                                </div>
                            </div>
                        </a><!-- /kuponi-box -->
                    {% endfor %}
                </div><!-- /kuponi -->
                <div id="garantii" class="inform-node">
                    <div class="garantii-header">
                        Мы гарантируем начисление и выплату кэшбэка, в таких случаях:
                    </div>
                    <div class="garantii-txt">
                        1. Переход был совершен при помощи кнопки «В магазин» у нас на сайте. После перехода в
                        интернет-магазин прошло не более 4-х часов, заказ совершен не покидая магазин. <br>
                        2. После совершения перехода в магазин, Вы не переходили по рекламным объявлениям в других
                        источниках и не переходили из рассылок интернет-магазинов на сайт, так же не использовали
                        сторонние промокоды<br>
                        3. Выбранный Вами товар участвует в кэшбэке (в некоторых интернет-магазинах есть разделение
                        на категории, смотрите вкладку «ИНФОРМАЦИЯ/УСЛОВИЯ» )<br>
                        4. После оплаты товара Вами в интернет-мангазине, Вы не отказались от товара по каким либо
                        причинам<br>
                        5. Вы не используете или отключили специальные блокировщики рекламы, такие как AdBlock и
                        другие

                        <div class="garantii-txt-dn">Гарантируем выплату заработанных Вами средств на выбранный
                            удобный способ в течении 3-х рабочих дней (обычно не более суток) после подачи запроса
                            через специальное меню «ВЫВОД СРЕДСТВ».
                        </div>
                    </div>
                </div><!-- /garantii -->
            </div><!-- /inform -->
            <div class="wriper-box-dn">
                {% for campaign in campaigns %}
                    <div class="box-dn">
                        <div class="bx-dn-labl">
                            <img src="{{ campaign.image }}" alt="" class="bx-dn-pic">
                        </div>
                        <div class="bx-dn-mame">{{ campaign.name }}</div>
                        <div class="bx-dn-cashback">Кэшбэк до <span
                                    class="pocent">{{ campaign.action.payment_size|paymentFilter }}</span></div>
                        <a target="_blank" href="{{ campaign.gotolink }}?subid={{ user }}" class="node-btn btn-box-bn">
                            <img src="/images/howitworks/btn-hard.png" alt="" class="arrow-btn-hard-pic">
                            <div class="btn-txt ">В МАГАЗИН</div>
                            <img src="/images/howitworks/arrow-btn.png" alt="" class="arrow-btn-pic">
                        </a>
                        <a href="/campaigns/details/{{ campaign.id }}" class="bx-dn-all">ПОДРОБНЕЕ</a>
                    </div>
                {% endfor %}

                <div class="box-dn_null"></div>
                <!-- Пустой блок, для выравнивания по левому краю, если блоков в строке меньше 3-х -->
            </div><!-- /wriper-box-dn -->
            <div class="see-all">
                <span class="see-before"></span>
                <a href="#" class="btn-see-all"><i>Показать ещe</i></a>
                <span class="see-after"></span>
            </div>
        </div> <!-- /box-left -->
    </div>
    <div class="box-right">
        <div class="info-graf">
            <div class="info-graf-box">
                <div class="info-graf-box-img">
                    <img src="/images/howitworks/comp.png" alt="" class="info-graf-box-img-pic">
                </div>
                <div class="info-graf-box-txt">
                    Зарегистрируйтесь на нашем сервисе и выберите любимый магазин
                </div>
                <div class="info-graf-box-arrow">
                    <img src="/images/howitworks/arrow.png" alt="" class="info-graf-box-arrow-pic">
                </div>
            </div>
            <div class="info-graf-box">
                <div class="info-graf-box-img">
                    <img src="/images/howitworks/corzina.png" alt="" class="info-graf-box-img-pic">
                </div>
                <div class="info-graf-box-txt">
                    Перейдите в магазин и совершите покупку как обычно
                </div>
                <div class="info-graf-box-arrow">
                    <img src="/images/howitworks/arrow.png" alt="" class="info-graf-box-arrow-pic">
                </div>
            </div>
            <div class="info-graf-box">
                <div class="info-graf-box-img">
                    <img src="/images/howitworks/carta.png" alt="" class="info-graf-box-img-pic">
                </div>
                <div class="info-graf-box-txt">
                    Мы получаем комиссию от магазина и переводим кэшбэк на ваш счет
                </div>
            </div>
        </div>
    </div>
</div>


<script src="/js/jquery-1.11.1.min.js"></script>

<script>
    $(document).ready(function () {
        $('#item-1').click(function () {
            $('#item-1').addClass('block');
            $('#inf-usl').show();
            $('#item-1').removeClass('n-block');
            $('#item-2').removeClass('block');
            $('#otzivi').hide();
            $('#item-3').removeClass('block');
            $('#kuponi').hide();
            $('#item-4').removeClass('block');
            $('#garantii').hide();
        });
        $('#item-2').click(function () {
            $('#item-1').removeClass('block');
            $('#inf-usl').hide();
            $('#item-2').addClass('block');
            $('#otzivi').show();
            $('#item-1').addClass('n-block');
            $('#item-3').removeClass('block');
            $('#kuponi').hide();
            $('#item-4').removeClass('block');
            $('#garantii').hide();
        });
        $('#item-3').click(function () {
            $('#item-3').addClass('block');
            $('#kuponi').show();
            $('#item-1').removeClass('block');
            $('#item-1').addClass('n-block');
            $('#inf-usl').hide();
            $('#item-2').removeClass('block');
            $('#otzivi').hide();
            $('#item-4').removeClass('block');
            $('#garantii').hide();
        });
        $('#item-4').click(function () {
            $('#item-4').addClass('block');
            $('#garantii').show();
            $('#item-1').removeClass('block');
            $('#item-1').addClass('n-block');
            $('#inf-usl').hide();
            $('#item-2').removeClass('block');
            $('#otzivi').hide();
            $('#item-3').removeClass('block');
            $('#kuponi').hide();

        });
    })
</script>
</body>
</html>