<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/howitworks.css">
    <title>Все сервисы GM</title>
</head>
<body>
<div class="container">
    <div class="header-shops">Популярные магазины</div>
    {% for campaign in popular_campaigns %}
        {% set long = ""|boxClassFilter(loop.index) %}
        <div class="box-dn{{ long }}">
            <div class="bx-dn-labl">
                <img src="{{ campaign.image }}" alt="" class="bx-dn-pic">
            </div>
            <div class="bx-dn-mame">{{ campaign.name }}</div>
            <div class="bx-dn-cashback">Кэшбэк до <span
                        class="pocent">{{ campaign.action.payment_size|paymentFilter }}</span></div>
            <a target="_blank" href="{{ campaign.gotolink }}?subid={{ user }}"
               class="node-btn btn-box-bn{{ long }}">
                <img src="/images/howitworks/btn-hard.png" alt=""
                     class="arrow-btn-hard-pic{{ long }}">
                <div class="btn-txt ">В МАГАЗИН</div>
                <img src="/images/howitworks/arrow-btn.png" alt="" class="arrow-btn-pic">
            </a>
            <a target="_blank" href="/campaigns/details/{{ campaign.id }}" class="bx-dn-all">ПОДРОБНЕЕ</a>
        </div>
    {% endfor %}
    <div class="box-dn_null"></div>
    <!-- Пустой блок, для выравнивания по левому краю, если блоков в строке меньше 3-х -->

    <div class="header-shops">Новые магазины</div>
    {% for campaign in campaigns %}
        <div class="box-dn">
            <div class="bx-dn-labl">
                <img src="{{ campaign.image }}" alt="" class="bx-dn-pic">
            </div>
            <div class="bx-dn-mame">{{ campaign.name }}</div>
            <div class="bx-dn-cashback">Кэшбэк до <span
                        class="pocent">{{ campaign.action.payment_size|paymentFilter }}</span></div>
            <a target="_blank" href="{{ campaign.gotolink }}?subid={{ user }}" class="node-btn btn-box-bn">
                <img src="/images/howitworks/btn-hard.png" alt="" class="arrow-btn-hard-pic">
                <div class="btn-txt ">В МАГАЗИН</div>
                <img src="/images/howitworks/arrow-btn.png" alt="" class="arrow-btn-pic">
            </a>
            <a target="_blank" href="/campaigns/details/{{ campaign.id }}" class="bx-dn-all">ПОДРОБНЕЕ</a>
        </div>
    {% endfor %}
    <div class="box-dn_null"></div>
    <!-- Пустой блок, для выравнивания по левому краю, если блоков в строке меньше 3-х -->
    <div class="conteiner-center">
        <a href="#" class="btn-all-shops">
            <div class="btn-all-shops_txt">Все магазины</div>
        </a>
        <!-- /.btn-all-shops -->
    </div>
    <!-- Горизонтальная линия -->
    <div class="wrapper">
        <div class="gor-line-dn"></div>
    </div>
    <!-- /Горизонтальная линия -->
    <!-- Скидочные купоны -->
    <div class="header-shops">Скидочные купоны</div>
    <!-- Скидочный купон блок -->
    {% for coupon in coupons %}
        <div class="box-dn box-dn_cupon-height">
            <div class="bx-dn-labl">
                <img src="{{ coupon.image }}" alt="" class="bx-dn-pic">
            </div>
            <div class="box-dn__deadline">
                <div class="kuponi-box-dadlin">
                    <img src="/images/howitworks/dadlin.png" alt="" class="kuponi-box-dadlin-pic">
                    {% set now = "now"|date %}
                    {% set difference = date(now).diff(date(coupon.date_end)) %}
                    {% set leftDays = difference.days %}
                    {% if leftDays == 0 %}
                        Осталось часов: {{ difference.h }}
                    {% else %}
                        Осталось дней: {{ leftDays }}
                    {% endif %}
                </div>
            </div>
            <!-- /.box-dn__deadline -->
            <div class="box-dn__cupon-text">
                <div class="kuponi-box-mame box-dn__cupon-text_width">
                    {{ coupon.name }}
                </div>
            </div>
            <!-- /.box-dn__cupon-text -->
            <div class="box-dn__promokod">
                <div class="box-dn__promokod-txt">
                    {% if (coupon.promocode == 'НЕ НУЖЕН' or coupon.promocode == 'NOT REQUIRED') %}
                        промокод не требуется
                    {% else %}
                        Код купона: {{ coupon.promocode }}
                    {% endif %}
                </div>
                <a target="_blank" href="{{ coupon.goto_link }}&subid={{ user }}" class="node-btn btn-box-bn btn-box-bn-cupon">
                    <div class="btn-txt ">В МАГАЗИН</div>
                    <img src="/images/howitworks/arrow-btn.png" alt="" class="arrow-btn-pic">
                </a>
            </div>
            <!-- /box-dn__promokod -->
        </div>
    {% endfor %}
    <!-- /Скидочный купон блок -->
    <div class="box-dn_null"></div>
    <!-- Пустой блок, для выравнивания по левому краю, если блоков в строке меньше 3-х -->
</div>
<!-- /Скидочные купоны -->

<div class="see-all">
    <span class="see-before-long"></span>
    <a href="#" class="btn-see-all"><i>Показать ещe</i></a>
    <span class="see-after-long"></span>
</div>


</body>
</html>