{%  for stat in stats %}
    <p>subid: {{ stat.subid }}</p>
    <p>leads_sum: {{ stat.leads_sum }}</p>
    <p>payment_sum: {{ stat.payment_sum }}</p>
    <p>views: {{ stat.views }}</p>
    <p>payment_sum_declined: {{ stat.payment_sum_declined }}</p>
    <p>actions_sum_total: {{ stat.actions_sum_total }}</p>
    <p>payment_sum_approved: {{ stat.payment_sum_approved }}</p>
    <p>currency: {{ stat.currency }}</p>
    <p>sales_sum: {{ stat.sales_sum }}</p>
    <p>payment_sum_open: {{ stat.payment_sum_open }}</p>
    <p>cr: {{ stat.cr }}</p>
    <p>ecpc: {{ stat.ecpc }}</p>
    <p>clicks: {{ stat.clicks }}</p>
{%  endfor %}