.action_edit_wrapper {
    width: 80%;
    background-color: #FFF;
    height: 310px;
    padding-left: 0;
    padding-top: 0;
}

.a_image {
    float: left;
    width: 290px;
}

.a_description {
    display: inline-block !important;
    float: left;
    width: auto !important;
    padding-left: 10px !important;
}

.action_small_wrapper {
    width: 100% !important;
    float: none;
    position: absolute;
}

.a_price {
    display: none;
}

.a_discount.a_discount_orange {
    display: none;
}

.ae_toolbox {
    bottom: 20px;
    position: absolute;
    width: 100%;
}

.ae_date {
    margin-left: 300px;
}