#city_text {
    font-size: 13px;
}


.modal {
	background-image: url('/images/modal.png');
	height: 222px;
	width: 500px;
}

.modal .title {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 400px;
	height: 30px;
	color: #FFF;
}

.modal .close {
    width: 20px;
    position: absolute;
    right: 10px;
    height: 20px;
    top: 10px;
}

.modal .text {
    height: 124px;
    top: 56px;
    left: 14px;
    position: absolute;
    width: 450px;
    text-align: center;
    margin: 20px;
}

/*********/
.sinfo_img .circled {
    width: 156px;
}

img.mini-avatar {
    width: 46px;
}

.tip_wrap {
    display: inline-block;
    position: relative;
    height: auto;
}

.tooltip.positive {
    background: #eef8dd;
    border-color: #99b962;
}

.tooltip.negative {
    background: #ffefed;
    border-color: #ff2a0e;
}

.tooltip {
    position: absolute;
    width: 200px;
    padding: 16px 7px 16px 13px;
    z-index: 100;
    font-size: 13px;
    line-height: 20px;
    color: #333333;
    background: #FFF;
    border: 1px solid #bfd7e2;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    line-height: normal;
    text-align: left;
}

.tooltip .triangle {
    display: block;
    position: absolute;
    width: 12px;
    height: 6px;
    background-image: url(/images/tooltip.png);
    background-repeat: no-repeat;
}

.tooltip.top .triangle {
    bottom: -6px;
    left: 28px;
}

.tooltip.bottom .triangle {
    top: -6px;
    left: 28px;
}

.tooltip.right .triangle {
    left: -7px;
    top: 20px;
    width: 7px;
    height: 14px;
}

.tooltip.positive.top .triangle {
    background-position: -12px 0;
}

.tooltip.positive.right .triangle {
    background-position: -12px -12px;
}

.tooltip.positive.bottom .triangle {
    background-position: -12px -6px;
}

.tooltip.negative.top .triangle {
    background-position: -24px 0;
}

.tooltip.negative.right .triangle {
    background-position: -24px -12px;
}

.tooltip.negative.bottom .triangle {
    background-position: -24px -6px;
}

.tooltip.neutral.top .triangle {
    background-position: 0 0;
}

.tooltip.neutral.right .triangle {
    background-position: 0 -12px;
    left: -6px;
}

.tooltip.neutral.bottom .triangle {
    background-position: 0 -6px;
}

.action .inp_full {
    width: 728px;
}

.action_result .btn-big {
    width: 780px;
}

.action .site_block input {
    width: 622px;
}

.action .site_block input[name="site[vk]"] {
    width: 585px;
}

.action .site_block input[name="site[fb]"] {
    width: 571px;
}

.action .site_block {
}

.action_edit_wrapper {
    padding: 16px 15px 16px 15px;
    margin-bottom: 18px;
    width: 317px;
}

.ae_toolbox .ae_like {
    margin-right: 20px;
}

.a_detailed {
    width: 251px;
}

.action_double_wrapper .a_detailed {
    width: 549px;
}

.action_double_wrapper .a_detailed_link a {
    width: 100%;
}

#popup_menu_bars, #popup_menu_forher {
    width: 750px;
}

.underwear_checkboxes, .accessories_checkboxes, .clothing_checkboxes {
    margin-top: 40px;
}

.column_third:nth-child(1) .accessories_checkboxes:first-child,
.column_third:nth-child(1) .clothing_checkboxes:first-child,
.column_third:nth-child(1) .underwear_checkboxes:first-child,
.column_third:nth-child(2) .accessories_checkboxes:first-child,
.column_third:nth-child(2) .clothing_checkboxes:first-child,
.column_third:nth-child(2) .underwear_checkboxes:first-child {
    margin-top: 0;
}

.tab_hide {
    display: none;
}

.chosen-container-multi .chosen-choices {
    border: 1px solid #9bbedc;
    outline: none;
    padding: 5px;
}

.chosen-container-multi .chosen-choices li.search-choice {
    padding: 10px;
    margin: 1px;
    background-color: #0066cc;
    text-decoration: none;
    color: white;
    background-image: none;
    border: none;
    padding-right: 17px;
    box-shadow: none;
    margin-right: 5px;
}

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
    top: 12px;
}

.action_small_wrapper .a_image {
    overflow: hidden;
}

.action_small_wrapper .a_price {
    background: white;
    width: 270px;
    padding-bottom: 10px;
    bottom: 0;
}

.action_small_wrapper:hover .a_price {
    background-color: transparent;
    padding-bottom: 0;
    bottom: 10px;
}

.word_block {
    display: inline-block;
    margin-right: 40px;
    vertical-align: top;
    width: 19%;
    text-align: left;
}

.word_block:nth-child(4n) {
    margin-right: 0;
}

.word_block h2 {
    margin: 10px 0;
}

.external.howto.country #main .left_block {
    padding-right: 40px;
    text-align: center;
}

.action_main .a_right_block {
    width: 561px;
    padding-left: 76px;
}

img.width48 {
    width: 48px;
}


.ae_edit {

}

.ae_remove {

}

.action_edit_wrapper {
    position: relative;
}

.action_edit_wrapper:hover .actions {
    display: inline-block;
}

.actions {
	display: none;
	height: 50px;
	width: 26px;
}


.attachments {
    margin: 10px 0;
    width: 100%;
    text-align: center;
}

.attachments a {
    display: inline-block;
    width: 19%;
    max-height: 85px;
    box-sizing: border-box;
    vertical-align: middle;
    padding: 0 5px;
    overflow: hidden;
}

.attachments a img {
    display: inline-block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    min-height: 85px;
}

.a_left_block .al_block {
    padding-top: 5px;
}

.a_left_block .al_block h2 {
    color: #000;
}

.video {
    text-align: center;
}