body.external {
    background-color: #622536;
}

.top_toolbox .tt_search {
    margin-top: 5px;
    padding-top: 7px;
    height: 55px;
    margin-left: 20px;
    box-sizing: border-box;
    border-left: 1px solid #ee644e;
    padding-left: 15px;
}

#navigation .tt_block.tt_search {
    float: right;
    margin-right: 10px;
}

.categories_popup {
    display: none;
}

#navigation {
    padding-bottom: 25px;
    height: auto;
}

.action_main .a_right_block {
    border: none;
    width: 579px;
    height: 377px;
    background: url(/images/bg-main-slider.png) left center no-repeat;
    padding-left: 77px;
}

.a_right_block_wrapper {
    background: none;
}

.action_main .a_time.ar_block.desireTime.countdownHolder {
    border-bottom: 1px solid #ebeef0;
}

.member2 {
    font-size: 20px;
    font-family: "PTSans";
    color: rgb(255, 255, 255) !important;;
    font-weight: bold;
    line-height: 1.2;
    border: none;
    vertical-align: middle;
}

.button-br5 {
    border-radius: 5px;
    background-image: -moz-linear-gradient(90deg, rgb(0, 150, 227) 0%, rgb(44, 177, 246) 100%);
    background-image: -webkit-linear-gradient(90deg, rgb(0, 150, 227) 0%, rgb(44, 177, 246) 100%);
    background-image: -ms-linear-gradient(90deg, rgb(0, 150, 227) 0%, rgb(44, 177, 246) 100%);
    box-shadow: inset 0px -3px 0px 0px rgba(2, 128, 192, 0.004);
    padding: 0 39px;
    height: 52px;
}

.move {
    font-size: 16px;
    font-family: "PTSans";
    color: rgb(87, 102, 158) !important;
    font-weight: bold;
    line-height: 1.2;
    border: none;
    vertical-align: middle;
}

.button2-br5 {
    border-radius: 5px;
    background-image: -moz-linear-gradient(90deg, rgb(235, 240, 246) 0%, rgb(240, 244, 248) 100%);
    background-image: -webkit-linear-gradient(90deg, rgb(235, 240, 246) 0%, rgb(240, 244, 248) 100%);
    background-image: -ms-linear-gradient(90deg, rgb(235, 240, 246) 0%, rgb(240, 244, 248) 100%);
    box-shadow: inset 0px -3px 0px 0px rgba(201, 216, 238, 0.004);
    padding: 0 39px;
    height: 52px;
}

#main_slider .bottom {
    position: absolute;
    bottom: 30px;
}

.member2 + .move {
    margin-left: 7px;
}

.action_small_wrapper {
    width: 580px;
    height: 327px;
    text-align: left;
}

.action_small_wrapper .a_image img {
    border: none;
    margin: 0;
}

.action_small_wrapper:nth-child(2n+1) {
    margin: 0 0 20px 0;
    float: left;
}

.action_small_wrapper:nth-child(2n) {
    margin: 0 0 20px 0;
    float: right;
}

.left_act, .right_act {
    width: 50%;
    box-sizing: border-box;
    display: inline-block;
    height: 327px;
    position: relative;
}

#smActions {
    text-align: center;
}

#smActions:after {
    clear: both;
    content: ' ';
}

.left_act {
    float: left;
}

.right_act {
    float: right;
    padding: 12px 17px 5px 17px;
}

.action_small_wrapper .a_description {
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}

.right_act .a_description a {
    color: #003399;
    font-size: 21px;
    line-height: 25px;
}

.a_detailed.bottom {
    position: absolute;
    bottom: 10px;
    display: inline-block;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.a_detailed.bottom button {
    font-size: 14px;
    padding: 0 18px;
    font-weight: normal;
    height: 42px;
}

.action_small_wrapper .a_detailed_toolbox {
    border-top: 1px solid #ebeef0;
    padding: 15px 3px;
}

.right_act .desc {
    text-overflow: ellipsis;
    word-wrap: break-word;
    height: 160px;
    overflow: hidden;
    line-height: 15px;
    box-sizing: border-box;
    padding-top: 10px;
}

.a_socials.al_block .a_like {
    float: left;
}

.a_our_socials {
    margin-top: 20px;
}

.action_wrapper .a_right_block {
    border: none;
    float: right;
}

.obv {
    border: 8px solid #fae115;
}

.obv2 {
    border-left: 1px solid #d0e1e4;
    background-color: #f7fcfd;
}

.but {
    border-bottom: 1px solid #d0e1e4;
    text-align: center;
    padding: 15px 0;
}

.members {
    background-color: #ffffff;
    padding: 0 25px;
}

.members > a {
    color: #294c6c;
    text-align: center;
    font-size: 15px;
    padding: 10px;
    display: block;
    text-decoration: none;
    position: relative;
}

.members > a + .list {
    display: none;
}

.members > a.open + .list {
    display: block;
}

.members > a:after {
    content: '';
    background: url(/images/icon-bottom-arrow-blue.gif) no-repeat;
    position: absolute;
    width: 8px;
    height: 5px;
    top: 18px;
    margin-left: 20px;
    transform: rotate(-90deg);

}

.members > a.open:after {
    transform: rotate(0deg);
}

#searchMember {
    color: #666666;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #d0e1e4;
    background: url(/images/icon-search-yellow.png) no-repeat;
    line-height: 30px;
    padding-left: 26px;
    background-position: 6px 8px;
    box-sizing: border-box;
    width: 100%;
}

.list ul, .list li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.list li {
    width: 49%;
    display: inline-block;
    position: relative;
    margin-top: 5px;
}

.list li a {
    display: inline-block;
    position: relative;
    text-decoration: none;
}

.list .user {
    position: relative;
}

.list .user .img {
    position: relative;
    width: 62px;
    display: inline-block;
}

.list ul li img {
    width: 62px;
    height: 62px;
    border-radius: 8px;
}

.list ul li .num {
    position: absolute;
    bottom: 4px;
    left: 0;
    color: #FFF;
    font-size: 14px;
    text-align: right;
    width: 100%;
    padding-right: 6px;
    box-sizing: border-box;
    font-weight: bold;
}

.list .name {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    color: #294c6c;
    font-weight: bold;
    padding-top: 5px;
    text-align: left;
}

.list ul {
    margin-top: 15px;
    padding-left: 10px;
}

.pages a {
    border-radius: 5px;
    background-image: -moz-linear-gradient(90deg, rgb(223, 236, 245) 3%, rgb(255, 255, 255) 100%);
    background-image: -webkit-linear-gradient(90deg, rgb(223, 236, 245) 3%, rgb(255, 255, 255) 100%);
    background-image: -ms-linear-gradient(90deg, rgb(223, 236, 245) 3%, rgb(255, 255, 255) 100%);
    box-shadow: 0px 1px 1px 0px rgba(72, 97, 168, 0.44), inset 0.5px 0.866px 1px 0px rgba(255, 255, 255, 0.004);
    width: 28px;
    height: 28px;
    z-index: 437;
    padding: 5px 11px;
    text-decoration: none;
    font-size: 13px;
    color: #014c7e;
    margin-left: 10px;
}

.pages a.active {
    color: #ffffff;
    background-color: rgb(1, 76, 126);
    background-image: none;
}

.member2block {
    font-size: 16px;
    padding: 17px;
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
    z-index: 460;
    -webkit-box-shadow: 0px 0px 21px 0px rgba(228, 229, 233, 1);
    -moz-box-shadow: 0px 0px 21px 0px rgba(228, 229, 233, 1);
    box-shadow: 0px 0px 21px 0px rgba(228, 229, 233, 1);
	color: #494949;
}

a {
	color: #6e91b7;
}

.fancybox-skin {
    background-color: #ffffff;
}

.member2block .a_our_socials {
    padding-left: 0;
    margin-left: 0;
}

.cVk {
    color: #475a95;
}

.cTw {
    color: #60abea;
}

.cOk {
    color: #b97737;
}

.cGl {
    color: #b54436;
}

.mt30 {
    margin-top: 30px;
}

a.dotted {
    text-decoration: none;
    border-bottom: 1px dotted #006cce;
}

a.back {
    font-size: 16px;
    color: #003366;
    vertical-align: middle;
    text-decoration: none;
    font-weight: bold;
}

a.back img {
    vertical-align: middle;
}

.fancybox-close {
    background: url(/images/close.jpg) no-repeat;
    width: 15px;
    height: 15px;
    top: 11px;
    right: 10px;
}

ul.right_menu li a {
    color: #cc3333;
}

ul.right_menu li.active a {
    background-color: #ff6e56;
}

.action #main .left_block {
    background-color: #52192b;
}

.btn {
    background-color: #ff6e56;
    color: #ffffff;
    border-color: #ff6e4c;
}

.action_result .amount_label {
    color: #ff6633;
}

.action_result .btn {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(255, 98, 72);
    border-radius: 8px;
    background-image: -moz-linear-gradient(90deg, rgb(255, 98, 72) 0%, rgb(255, 119, 96) 100%);
    background-image: -webkit-linear-gradient(90deg, rgb(255, 98, 72) 0%, rgb(255, 119, 96) 100%);
    background-image: -ms-linear-gradient(90deg, rgb(255, 98, 72) 0%, rgb(255, 119, 96) 100%);
    box-shadow: 0px 3px 0px 0px rgba(71, 14, 30, 0.29);
}

.action_small_wrapper .a_image {
    height: 327px;
}

.action_more_btn {
    background: url(/images/bg-more-btn.png) center repeat-x;
}

.action_more_btn button {
    border: 3px solid #ff967a;
}

.btn-color-lyellow {
    background-color: #efd00d !important;
    border-color: #eccb0a !important;;
    color: #993300 !important;;
}

.cabinet #main .left_block {
    background-color: #ffffff;
}

.edit_ {
    float: left;
    padding: 15px 0 15px 15px;
    border: 1px solid #713347;
    margin: 0 0 20px 0;
}

.edit_ .action_small_wrapper {
    margin: 0;
    display: inline-block;
    float: left;
}

.dop_act {
    display: inline-block;
    float: right;
    width: 181px;
    box-sizing: border-box;

    border-bottom: 1px solid #713347;
}

.dop_act .action_result {
    text-align: center;
    padding-bottom: 10px;
}

.amount_label.white {
    color: #ffffff;
}

.external.action_list h3.blue {
    color: #ff6633;
}

.sltWinner {
    cursor: pointer;
    color: #ffffff;
    padding: 10px 5px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(255, 98, 72);
    border-radius: 2px;
    background-image: -moz-linear-gradient(90deg, rgb(255, 98, 72) 0%, rgb(255, 119, 96) 100%);
    background-image: -webkit-linear-gradient(90deg, rgb(255, 98, 72) 0%, rgb(255, 119, 96) 100%);
    background-image: -ms-linear-gradient(90deg, rgb(255, 98, 72) 0%, rgb(255, 119, 96) 100%);
    box-shadow: 0px 2px 0px 0px rgba(71, 14, 30, 0.47);
    display: inline-block;
    text-decoration: none;
}

tr.winner td {
    background-color: green;
    color: #ffffff;
}

tr.winner td a {
    color: #ffffff !important;
}

.sltWinner_ {
    border-collapse: collapse;
    border-spacing: 0;
}

.sltWinner_ td {
    text-align: center;
    vertical-align: middle;
}

li.winner a .name {
    color: green;
}

#main_slider .a_right_block .a_discount_description p {
    color: black;
    font-size: 18px;
    line-height: 35px;
}

.a_detailed {
    width: 261px;
}

.pe-color {
    width: 44px;
    height: 48px;
    display: inline-block;
}

a.iconSoc {
    display: inline-block;
    width: 44px;
    height: 48px;
}

.pe-so-vk {
    background: url(/images/socs/B.png) no-repeat;
    background-size: cover;
}

.pe-so-facebook {
    background: url(/images/socs/f.png) no-repeat;
    background-size: cover;
}

.pe-so-twitter {
    background: url(/images/socs/t.png) no-repeat;
    background-size: cover;
}

.pe-so-youtube-1 {
    background: url(/images/socs/you.png) no-repeat;
    background-size: cover;
}

.pe-so-instagram {
    background: url(/images/socs/insagramm.png) no-repeat;
    background-size: cover;
    width: 48px;
}

.pe-so-pinterest {
    background: url(/images/socs/pint.png) no-repeat;
    background-size: cover;
    display: none;
}

.pe-so-odnolassniki {
    background: url(/images/socs/ok.png) no-repeat;
    background-size: cover;
}

.pe-so-gm {
    background: url(/images/socs/gm.png) no-repeat;
    background-size: cover;
    width: 48px;
}

.pe-so-www {
    background: url(/images/socs/www.png) no-repeat;
    background-size: cover;
    width: 48px;
}

.text-center {
    text-align: center;
}

.left_block .styled_checkbox.more .checkbox_wrapper {
    margin-bottom: 3px;
}

.m10 {
    margin-bottom: 10px;
}

li.checkbox_wrapper small {
    font-size: 12px;
    color: gray;
}