
/* Slider */
.tariffs#main {
	padding-bottom: 0px;
}

.tariffs .main_slider {
	border: 10px solid #fae115;
	height: 520px;
}
	.tariffs .main_slider .slider_info {
		height: 520px;
		width: 497px;
		right: 0;
		top: 0;
		background: url(../images/slide-mini.png) repeat;
	}

		.tariffs .slider_info .sinfo_logo {
			position: absolute;
			left: 50%;
			margin-left: 25px;
			margin-top: 110px;
		}

		.tariffs .slider_info .sinfo_img {
			margin-top: 45px;
		}

	.tariffs .sinfo_success_wrapper {
		position: absolute;
		right: 40px;
		top: 20px;
		/*width: 100px;*/
		height: 40px;
		text-align: left;
		padding-left: 30px;
		background: url(../images/checkbox_checked.png) left center no-repeat;
		font-size: 13px;
	}

		.tariffs .sinfo_success_wrapper a {
			color: white;
			text-decoration: none;
		}

	.tariffs .slider_text {
		width: 550px;
		padding: 60px 60px 60px 60px;
	}

		.tariffs .slider_text .st_large {
			color: #0f1731;
			font-size: 34px;
			line-height: 50px;
			margin-bottom: 40px;
		}

			.tariffs .st_large .st_highlight {
				color: #003399;
			}

		.tariffs .slider_text .st_list {
			color: #333;
			font-size: 16px;
			margin-bottom: 40px;
		}

			.tariffs .slider_text .st_list li {
				margin-bottom: 18px;

			}

/* Main */
.infinity {
	font-size: 30px;
}
.tariff_table {
	width: 100%;
	margin-top: 100px;
}
	.tariff_table th {
		color: #0f1731;
		padding-top: 33px;
		padding-bottom: 33px;
		border-top: 1px solid #e5edf5;	
		position: relative;
	}

	.tariff_table th.tf_td_info {
		font-size: 22px;
		text-align: left;
	}

	.tariff_table td {
		vertical-align: middle;
		border-top: 1px solid #e5edf5;	
	}

	.tariff_table .tf_td_info {
		padding: 30px 10px 30px 30px;
		color: #333333;
	}
		.tariff_table .tf_td_info .tf_header {
			font-weight: bold;
			display: block;
			font-size: 15px;
		}

	.tariff_table .tf_td_btn {
		padding: 25px 13px 25px 13px;
		text-align: center;
	}

		.tariff_table .tf_td_btn button.btn {
			font-size: 12px;
		}

	.tariff_table .tf_td_value {
		width: 210px;
		text-align: center;
		color: #333333;
		font-weight: bold;
	}

	.tariff_table .tf_td_checked {
		background: url(../images/success_ico.png) center no-repeat;
	}

.tariff_table .td_col_lgray {
	background-color: #f8fbfd !important;
	border-color: #e5edf5 !important;
	
}

.tariff_table .td_col_gray {
	background-color: #edf4fb !important;
	border-color: #dae7f3 !important;
}

.tariff_table .td_col_yellow {
	background-color: #fff49d !important;
	border-color: #ebe79d !important;
}

.tariff_table .tf_td_mix {
	font-size: 19px;
	color: #333333;
	padding-top: 30px;
	padding-bottom: 30px;
	vertical-align: top;
}

	.tariff_table .tf_td_mix button {
		margin-top: 17px;
	}

	.tf_td_mix .large_price {
		color: #0066cc;
	}

		.tf_td_mix .large_price .large_price_amount {
			font-size: 29px;
			font-weight: bold;
		}

.current_plan {
	position: absolute;
	background: url(../images/current_plan.png) left bottom no-repeat;
	height: 80px;
	font-size: 14px;
	color: #0f1731;
	font-style: italic;
	text-align: left;
	padding-left: 35px;
	top: -54px;
	left: 77px;
	white-space: nowrap;
	font-weight: normal;
}