body.external {
    /*background-color: #113b64;*/
    background: url(../images/action-bg-main.jpg) 50% 0 repeat-y #113c64;
}

/*++ HEADER ++*/
.external #header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 59px;
}

.external .header_wrapper, .external #header {
    background: none;
    background-color: #152041;
    border-bottom: 1px solid #222f56;
}

.external .tb_popup {
    top: 1px;
}

/*-- HEADER --*/

/*++ NAVIGATION ++*/
#navigation {
    height: 250px;
    padding-top: 98px;
}

#navigation .top_toolbox {
    height: 68px;
    background: url(../images/bg-navigation.png) center repeat-x;

}

.top_toolbox ul.top_menu {
    list-style: none;
    padding: 0px;
    margin-left: 9px;
}

.top_toolbox ul.top_menu li {
    display: block;
    float: left;
    height: 65px;
}

.top_toolbox ul.top_menu li a {
    color: white;
    font-size: 16px;
    text-decoration: none;
    vertical-align: middle;
    line-height: 65px;
    padding: 0px 15px 0px 15px;
}

#navigation .large_menu {
    list-style: none;
    padding: 0px;
    margin-top: 26px;
}

#navigation ul.large_menu li {
    display: block;
    width: 93px;
    float: left;
    margin: 0px 7px 0px 7px;
    padding-bottom: 15px;
}

ul.large_menu li:hover, ul.large_menu li.active {
    border-radius: 5px;

    background: #f9de14; /* Old browsers */
    background: -moz-linear-gradient(top, #f9de14 0%, #e8c607 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f9de14), color-stop(100%, #e8c607)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f9de14 0%, #e8c607 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f9de14 0%, #e8c607 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f9de14 0%, #e8c607 100%); /* IE10+ */
    background: linear-gradient(to bottom, #f9de14 0%, #e8c607 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9de14', endColorstr='#e8c607', GradientType=0); /* IE6-9 */

    -webkit-box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.3);
    /*background-repeat: no-repeat;*/
}

#navigation ul.large_menu li a {
    text-align: center;
    color: white;
    text-decoration: none;
    display: block;
    padding-top: 90px;

    background-position: center 15px;
    background-repeat: no-repeat;
}

#navigation ul.large_menu li:hover a, #navigation ul.large_menu li.active a {
    color: #993300;
}

ul.large_menu li.menu_forher a {
    background-image: url(../images/micons/menu_icon_forher.png);
}

ul.large_menu li.menu_forhim a {
    background-image: url(../images/micons/menu_icon_forhim.png);
}

ul.large_menu li.menu_forchildren a {
    background-image: url(../images/micons/menu_icon_forchildren.png);
}

ul.large_menu li.menu_forhome a {
    background-image: url(../images/micons/menu_icon_forhome.png);
}

ul.large_menu li.menu_techs a {
    background-image: url(../images/micons/menu_icon_techs.png);
}

ul.large_menu li.menu_beauty a {
    background-image: url(../images/micons/menu_icon_beauty.png);
}

ul.large_menu li.menu_services a {
    background-image: url(../images/micons/menu_icon_services.png);
}

ul.large_menu li.menu_hotels a {
    background-image: url(../images/micons/menu_icon_hotels.png);
}

ul.large_menu li.menu_tours a {
    background-image: url(../images/micons/menu_icon_tours.png);
}

ul.large_menu li.menu_shops a {
    background-image: url(../images/micons/menu_icon_shops.png);
}

ul.large_menu li.menu_bars a {
    background-image: url(../images/micons/menu_icon_bars.png);
}

ul.large_menu li.menu_forher:hover a, ul.large_menu li.menu_forher.active a {
    background-image: url(../images/micons/menu_icon_forher_y.png);
}

ul.large_menu li.menu_forhim:hover a, ul.large_menu li.menu_forhim.active a {
    background-image: url(../images/micons/menu_icon_forhim_y.png);
}

ul.large_menu li.menu_forchildren:hover a, ul.large_menu li.menu_forchildren.active a {
    background-image: url(../images/micons/menu_icon_forchildren_y.png);
}

ul.large_menu li.menu_forhome:hover a, ul.large_menu li.menu_forhome.active a {
    background-image: url(../images/micons/menu_icon_forhome_y.png);
}

ul.large_menu li.menu_techs:hover a, ul.large_menu li.menu_techs.active a {
    background-image: url(../images/micons/menu_icon_techs_y.png);
}

ul.large_menu li.menu_beauty:hover a, ul.large_menu li.menu_beauty.active a {
    background-image: url(../images/micons/menu_icon_beauty_y.png);
}

ul.large_menu li.menu_services:hover a, ul.large_menu li.menu_services.active a {
    background-image: url(../images/micons/menu_icon_services_y.png);
}

ul.large_menu li.menu_hotels:hover a, ul.large_menu li.menu_hotels.active a {
    background-image: url(../images/micons/menu_icon_hotels_y.png);
}

ul.large_menu li.menu_tours:hover a, ul.large_menu li.menu_tours.active a {
    background-image: url(../images/micons/menu_icon_tours_y.png);
}

ul.large_menu li.menu_shops:hover a, ul.large_menu li.menu_shops.active a {
    background-image: url(../images/micons/menu_icon_shops_y.png);
}

ul.large_menu li.menu_bars:hover a, ul.large_menu li.menu_bars.active a {
    background-image: url(../images/micons/menu_icon_bars_y.png);
}

ul.large_menu li.menu_beauty:hover a, ul.large_menu li.menu_beauty.active a {
    background-image: url(../images/micons/menu_icon_beauty_y.png);
}

#navigation .top_toolbox .tt_block {
    float: left;
}

#navigation .top_toolbox .tt_block_r {
    float: right;
}

.top_toolbox .tt_search {
    padding-top: 12px;
    height: 51px;
    margin-left: 20px;
}

.tt_search input, .tt_search div, .tt_search button {
    float: left;
}

.tt_search button {
    font-weight: bold;
}

.extended_search {
    margin-left: 10px;
    color: #ffffff;
    font-size: 14px;
    display: block;
    float: left;
    margin-top: 2px;
}

.top_toolbox .btn-searchlocation {
    background-color: white;
    color: #000f3e;
    font-size: 14px;
    height: 41px;
    vertical-align: middle;
    border: none;
    margin-right: 10px;
    /*position: relative;*/

    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.top_toolbox .btn-searchlocation span {
    background: url(../images/icon-bottom-arrow-blue.gif) right center no-repeat;
    padding-right: 18px;
}

.top_toolbox .btn-location {
    color: white;
    font-size: 14px;
    height: 41px;
    vertical-align: middle;
    margin-right: 10px;
    border: 1px solid #152041;
    width: 140px;
    padding-right: 35px;
    text-align: left;

    background: #222e54; /* Old browsers */
    background: -moz-linear-gradient(top, #222e54 0%, #152041 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #222e54), color-stop(100%, #152041)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #222e54 0%, #152041 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #222e54 0%, #152041 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #222e54 0%, #152041 100%); /* IE10+ */
    background: linear-gradient(to bottom, #222e54 0%, #152041 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#222e54', endColorstr='#152041', GradientType=0); /* IE6-9 */
}

.top_toolbox .btn-location span {
    display: block;
    width: 100px;
    padding-right: 20px;
    background: url(../images/icon-bottom-arrow-white.png) 97px center no-repeat;
}

#navigation input.search_left {
    border: none;
    background-color: white;
    border-right: 1px solid #d1d1d1;
    font-size: 14px;
    padding: 11px 8px 12px 15px;
    color: #666666;
    width: 250px;
    outline: none;

    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.tt_cities {
    height: 60px;
    line-height: 60px;
    vertical-align: middle;
}

.tt_cities label {
    color: white;
    margin-right: 10px;
}

/*-- NAVIGATION --

/*++ MAIN ++*/

.external #main {
    background-color: white;
    padding: 0px;
    margin-bottom: 120px;
}

.external h1 {
    font-size: 45px;
    color: white;
    font-weight: normal;
}

.external h3 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 37px;
}

.external h3.first {
    margin-top: 0px;
}

.external h3 .details {
    font-weight: normal;
}

.external h4 {
    font-size: 16px;
    font-weight: normal;
    margin-top: 20px;
    margin-bottom: 10px;
}

.external .content_block {
    background-color: white;
    padding: 26px;
    margin: 28px 0px 0px 0px;
}

.external #main .left_block {
    padding: 30px 40px 40px 40px;
    width: 780px;
    float: left;
    background-color: #053864;
    border: none;
    border-right: 1px solid #d9e8f8;
}

.action_photo_block {
    float: left;
    width: 230px;
    height: 180px;
    margin-right: 15px;
    background-color: #e9eef0;
    text-align: center;
    padding-top: 50px;
    font-size: 14px;
}

.photo_file, .photo_req {
    font-size: 14px;
    display: block;
}

.photo_file {
    margin-top: 10px;
    color: #8a8989;
}

.photo_req {
    margin-top: 25px;
    color: black;
}

.action_photo_block.last {
    margin-right: 0px;
}

.external .site_block {
    margin-bottom: 10px;
}

.external .site_block .site_block_label, .external .site_block .site_block_link {
    display: table-cell;
}

.external .site_block .site_block_link {
    width: 100%;
}

.external .site_block .site_block_label {
    white-space: nowrap;
}

.external .sites_table label {
    color: #010000;
}

.external .sites_table .link_start {
    color: #294c6c;
}

.external .site_block input {
    outline: none;
    border: none;
    color: #294c6c;
    font-size: 16px;
    border-bottom: 1px solid #d3e4f5;
    padding-left: 5px;
}

.external .cb_worktime .column_half.right {
    margin-top: 50px;
}

.external .cb_worktime .column_half.left .inp {
    width: 270px;
}

.external .cb_worktime .column_half.right .inp {
    width: 90px;
    margin-right: 10px;
    color: black;
}

.price_block {
    margin-bottom: 30px;
}

.price_block_label, .price_block_value {
    display: table-cell;
    vertical-align: middle;
}

.price_block_label {
    width: 180px;
}

.external .days_block {
    vertical-align: middle;
}

.external .inp-days {
    font-size: 20px;
    color: #000;
    padding: 7px 14px 7px 14px;
    margin: 0px 10px 0px 10px;
}

.left_block .desire_checkbox.styled_checkbox .checkbox_wrapper {
    font-size: 16px;
    color: black;
    padding-left: 34px;
    padding-top: 6px;
    height: 26px;
    vertical-align: middle;
    background-image: url(../images/checkbox_notchecked_24.png);
}

.left_block .desire_checkbox.styled_checkbox .checkbox_wrapper.checked {
    color: black;
    background-image: url(../images/checkbox_checked_24.png);
}

.external #main .left_block .column_half {
    float: left;
    width: 364px;
}

.external #main .left_block .column_third {
    float: left;
    width: 240px;
}

.external #main .right_block {
    width: 281px;
    padding: 20px;
    float: left;
    border: none;
}

ul.right_menu {

}

ul.right_menu li {
    width: 100%;
}

ul.right_menu li a {
    display: block;
    padding: 17px;
    font-size: 16px;
}

ul.right_menu li.active a {
    background-color: #0066cc;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/*		.external .right_block .btn {
                        width: 100%;
                        text-align: left;
                        font-size: 16px;
                        font-weight: bold;
                        padding: 17px;
                        height: auto;
                        display: block;
                        box-sizing: border-box;
                }*/
/*-- MAIN --*/

.action_result {
    margin-top: 40px;
}

.action_result .btn {
    border: none;

    -webkit-box-shadow: 0px 15px 15px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 15px 15px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 15px 15px 0px rgba(0, 0, 0, 0.4);

    background: #2793ff; /* Old browsers */
    background: -moz-linear-gradient(top, #2793ff 0%, #0066cc 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2793ff), color-stop(100%, #0066cc)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #2793ff 0%, #0066cc 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #2793ff 0%, #0066cc 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #2793ff 0%, #0066cc 100%); /* IE10+ */
    background: linear-gradient(to bottom, #2793ff 0%, #0066cc 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2793ff', endColorstr='#0066cc', GradientType=0); /* IE6-9 */
}

.action_result .btn-browser {
    padding-left: 0px;
}

.action_result .btn-browser span {
    padding-left: 45px;
    background: url(../images/browser-ico.png) 20px center no-repeat;
}

.btn-big {
    padding-top: 25px;
    padding-bottom: 25px;
    font-weight: bold;
    font-size: 26px;
    height: auto;
}

.action_result .amount_label {
    color: #66ccff;
    font-size: 16px;
}

.action_result .amount_value {
    font-size: 34px;
    color: #ffffff;
}

.action_result .column_third.column_preview {
    float: right;
    text-align: right;
    margin-top: 10px;
}

.checkbox_agreement {
    margin: 30px 0px 40px 0px;
}

.left_block .action_result .styled_checkbox .checkbox_wrapper {
    font-size: 16px;
    color: white;
    padding-left: 30px;
    background-image: url(../images/checkbox_notchecked_20.png);
}

.left_block .action_result .styled_checkbox .checkbox_wrapper.checked {
    color: white;
    background-image: url(../images/checkbox_checked_20.png);
}

.action_result .checkbox_wrapper a {
    text-decoration: underline;
    color: white;
}

/*.lte9 .action_result .btn-browser{ background-image: url(../images/browser-ico.png); }*/

/* Popup menu */
.popup_menu {
    width: 750px;
    background-color: white;
    border-top: 9px solid #f7db13;
    display: none;
    position: absolute;
    top: 21px;

    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;

    -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.5);
}

#popup_menu_bars, #popup_menu_forher {
    width: 250px;
}

#popup_menu_tours {
    width: 500px;
}

.popup_menu .popup_menu_arrow {
    width: 11px;
    height: 6px;
    position: absolute;
    left: 50%;
    margin-left: -5px;
    margin-top: -15px;
    background: url(../images/popup_block_arrow.gif) center no-repeat;
}

.popup_menu a, .popup_menu h3 a {
    color: #006699;
    font-size: 15px;
}

.popup_menu h3 a {
    font-weight: bold;
}

.popup_menu h3.cat_link {
    margin-top: 25px;
}

.popup_menu h3.cat_link.first {
    margin-top: 0px;
}

.popup_menu .column {
    float: left;
    width: 180px;
    padding: 35px;
}

/* Checkboxes */
.left_block .styled_checkbox {

}

.left_block .styled_checkbox .checkbox_wrapper.checkbox_category {
    font-weight: bold;
}

.left_block .styled_checkbox .checkbox_wrapper {
    cursor: pointer;
    font-size: 15px;
    color: black;
    padding-left: 25px;
    background: url(../images/checkbox_notchecked_14.png) left center no-repeat;
    margin-bottom: 10px;
}

.left_block .styled_checkbox .checkbox_wrapper.checked {
    color: #0066cc;
    background-image: url(../images/checkbox_checked_14.png);
}

.left_block .styled_checkbox .checkbox_wrapper.checked.checkbox_category {
    color: black;
}

/**/
.left_block .categories_checkboxes.styled_checkbox .checkbox_wrapper {
    display: block;
    background: none;
    text-decoration: underline;
    color: #0066cc;
    padding: 10px;
    margin-right: 85px;
    margin-bottom: 4px;
}

.left_block .categories_checkboxes.styled_checkbox .checkbox_wrapper.checked {
    background-color: #0066cc;
    text-decoration: none;
    color: white;
}

.underwear_checkboxes, .accessories_checkboxes {
    margin-top: 40px;
}

/* Image crop */
.image_crop_block {
    display: none;
}

.ic_image .jcrop-holder {
    margin: 0 auto;
}

.ic_toolbox {
    padding: 20px;
}

.ic_info {
    float: left;
    font-size: 30px;
    color: #152041;
    vertical-align: middle;
}

.ic_info .ic_steps, .ic_info .ic_steps_text, .ic_btns button {
    display: inline-block;
    vertical-align: middle;
}

.ic_info .ic_steps {
    color: #0066cc;
    font-size: 17px;
    font-weight: bold;
}

.ic_btns {
    float: right;
    padding-top: 6px;
}

.ic_btns button {
    padding-right: 30px;
    padding-left: 30px;
    margin-left: 15px;
}

/* Action page */
.external.action_view #main {
    background-color: transparent;
    margin-bottom: 40px;
}

.action_list #main .left_block {
    /*background: url(../images/bg-action_list.gif) repeat;*/
}

.external.action_list h3 {
    font-size: 20px;
    font-weight: normal;
}

.external.action_list h3.blue {
    color: #029aff;
}

.external.action_list h3.orange {
    color: #ff6248;
}

.external.action_view h2 {
    font-size: 31px;
    color: #ffffff;
    margin: 20px 0px 20px 0px;
}

.a_price {

}

.a_price_old {
    font-size: 20px;
    color: #004371;
    text-decoration: line-through;
    line-height: 30px;
    vertical-align: top;
}

.a_price_new {
    font-size: 26px;
    font-weight: bold;
    color: #ff6248;
    padding-left: 10px;
}

.a_discount {
    position: absolute;
    left: 13px;
    top: 0px;
    width: 81px;
    height: 68px;
    padding-top: 10px;
    color: white;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    font-size: 13px;
}

.a_discount .a_discount_label {
    font-style: italic;
    font-weight: normal;
}

.a_discount .a_discount_bottom {
    margin-top: -7px;
}

.a_discount_bottom .a_discount_amount {
    font-weight: bold;
    font-size: 36px;
}

.a_discount_bottom .a_discount_per {
    vertical-align: top;
    line-height: 36px;
}

.action_wrapper {
    background-color: white;
    display: table;

    -webkit-box-shadow: 0px 0px 30px 0px rgba(9, 63, 95, 0.5);
    -moz-box-shadow: 0px 0px 30px 0px rgba(9, 63, 95, 0.5);
    box-shadow: 0px 0px 30px 0px rgba(9, 63, 95, 0.5);
    margin-bottom: 50px;
}

.action_wrapper .a_left_block, .action_wrapper .a_right_block {
    *float: left;
    display: table-cell;
    vertical-align: top;
    padding: 0px;
    table-layout: fixed;
}

/* Left block */
.action_wrapper .a_left_block {
    width: 724px;
    padding: 0px;
    border: 0px;
}

.a_left_block .al_block {
    padding: 27px;
    border-bottom: 1px solid #dce3e5;
}

.a_left_block .al_block.last {
    border-bottom: none;
}

/* Socials */
.a_socials {

}

.a_socials .a_socials_icons {
    float: left;
    font-size: 18px;
    color: #333333;
}

.a_socials_icons .external_socials_label {
    vertical-align: middle;
    margin-right: 10px;
}

.a_socials_icons .external_socials {
    display: inline-block;
    vertical-align: middle;
    height: 25px;
}

.a_socials_icons .external_socials li {
    float: left;
    display: block;
    margin-left: 6px;
    position: relative;
}

.a_socials_icons .external_socials li a {
    color: white;
    text-decoration: none;
    font-size: 12px;
    vertical-align: middle;

    padding: 5px 0px 5px 19px;
    background-repeat: no-repeat;
    background-position: 5px center;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.a_socials_icons .external_socials li a span {
    padding-right: 6px;
}

.a_socials_icons .external_socials li.social_vk a {
    background-color: #48729e;
    background-image: url(../images/socials/vk.gif);
}

.a_socials_icons .external_socials li.social_fb a {
    background-color: #3c5a98;
    padding-left: 18px;
    background-image: url(../images/socials/fb.gif);
}

.a_socials_icons .external_socials li.social_twitter a {
    background-color: #00aced;
    padding-left: 22px;
    background-image: url(../images/socials/twitter.gif);
}

.a_socials_icons .external_socials li.social_odnoklassniki a {
    background-color: #ff9f4d;
    padding-left: 18px;
    background-image: url(../images/socials/odnoklassniki.gif);
}

.a_socials_icons .external_socials li.social_mail a {
    background-color: #226eb7;
    padding-left: 22px;
    background-image: url(../images/socials/mail.gif);
}

.a_socials .a_like {
    float: right;
}

.a_like .a_like_amount {
    font-size: 22px;
    color: #0d3c5c;
    vertical-align: middle;
    margin-left: 15px;
}

.a_like .btn {
    -webkit-box-shadow: 0px 2px 0px 0px rgba(230, 82, 58, 1.0);
    -moz-box-shadow: 0px 2px 0px 0px rgba(230, 82, 58, 1.0);
    box-shadow: 0px 2px 0px 0px rgba(230, 82, 58, 1.0);
    padding-top: 0px;
    padding-bottom: 0px;
    height: 30px;
}

/* Description */
.a_left_block .a_description {
    font-size: 15px;
    color: #333333;
}

.a_left_block .a_description p {
    line-height: 28px;
}

.a_left_block .a_description .a_our_socials {
    margin-top: 20px;
}

.a_left_block .a_description .a_our_socials li {
    padding-bottom: 7px;
    padding-top: 7px;
}

/* Slider */
.a_left_block .a_slider {
    position: relative;
    padding: 0px;
    margin: 0px;
}

.action_wrapper .a_discount {
    left: 25px;
    top: -1px;
    width: 113px;
    height: 93px;
    padding-top: 15px;
    background-image: url(../images/bg-discount.gif);
    font-size: 18px;
}

.action_wrapper .a_discount .a_discount_bottom {
    margin-top: -10px;
}

.action_wrapper .a_discount_bottom .a_discount_amount {
    font-size: 50px;
}

.action_wrapper .a_discount_bottom .a_discount_per {
    line-height: 50px;
}

/* Right block */
.action_wrapper .a_right_block {
    width: 440px;
    border: 8px solid #fae115;
}

.a_right_block .ar_block {
    padding: 27px;
    border-bottom: 1px solid #dce3e5;
}

.a_right_block .ar_block.last {
    border-bottom: none;
}

.a_right_block .a_time {
    font-size: 18px;
    color: black;
}

.a_time span {
    vertical-align: middle;
}

.a_time .a_time_days, .a_time .a_time_time {
    font-size: 22px;
}

.a_time .a_time_time {
    color: #0d3c5c
}

.a_right_block .a_time_days {
    color: #ff6633;
    padding-left: 33px;
    background: url(../images/icon-clock-orange.png) 5px center no-repeat;
}

.a_right_block .a_discount_description {
}

.a_right_block .a_discount_description p {
    color: black;
    font-size: 23px;
    line-height: 35px;
}

.a_right_block .a_discount_description button.btn {
    font-weight: bold;
}

.a_right_block .a_discount_description .a_price {
    margin-bottom: 18px;
    margin-top: 10px;
}

.a_right_block .a_discount_description .a_price_old {
    font-size: 30px;
    line-height: 50px;
}

.a_right_block .a_discount_description .a_price_new {
    font-size: 40px;
}

.a_right_block .a_contacts {
    color: #000000;
    font-size: 16px;
}

.a_right_block .a_contacts h2 {
    font-size: 32px;
    font-weight: normal;
    color: #000000;
    margin-top: 0px;
}

.a_right_block .a_contacts h3 {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 20px;
}

.a_right_block .work_day {
    color: #003366;
}

.action_small_wrapper {
    width: 285px;
    height: 296px;
    float: left;
    margin: 0px 0px 20px 13px;
    background-color: white;
    position: relative;

    cursor: pointer;

    -webkit-box-shadow: 0px 7px 10px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 7px 10px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 7px 10px 0px rgba(50, 50, 50, 0.75);
}

.action_double_wrapper {
    width: 583px;
    height: 296px;
}

.action_small_wrapper.action_text_wrapper {
    border: 8px solid #ffdd0f;
}

.action_double_wrapper.action_text_wrapper {
    width: 567px;
    height: 290px;
}

.action_small_wrapper.action_text_wrapper p {
    color: #333333;
    font-size: 16px;
    text-align: center;
    margin-top: 30px;
    line-height: 28px;
}

.action_small_wrapper.action_text_wrapper p.large {
    font-size: 22px;
    line-height: 35px;
    color: #000066;
}

.action_small_wrapper.first {
    margin-left: 0px;
}

.action_small_wrapper .a_description {
    font-size: 15px;
    color: black;
    height: 40px;
    padding: 12px;
    /*padding-right: 10px;*/
    line-height: 26px;
    width: 260px;
    word-wrap: break-word;
}

.a_detailed_link a {
    display: inline-block;
    width: 260px;
    word-wrap: break-word;
}

.action_small_wrapper .a_price {
    margin-left: 12px;
    margin-top: 7px;
}

.action_small_wrapper .a_image {
    height: 178px;
    text-align: center;
    position: relative;
}

.action_small_wrapper .a_image img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.action_small_wrapper .a_detailed {
    font-size: 16px;
    padding: 0px 17px 0px 17px;
    position: absolute;
    bottom: 59px;
    background-color: white;
    display: none;
}

.action_small_wrapper .a_detailed .a_time {
    float: left;
    color: #424242;
    padding-left: 18px;
    background: url(../images/icon-clock-gray.png) left center no-repeat;

}

.action_small_wrapper .a_detailed .a_like {
    float: right;
    color: #0d3c5c;
    /*margin-right: 50px;*/
    padding-left: 16px;
    background: url(../images/icon-heart-gray.png) left center no-repeat;
}

.action_small_wrapper .a_detailed_link {
    font-size: 15px;
    line-height: 24px;
    border-bottom: 1px solid #ebeef0;
    padding-bottom: 15px;
    padding-top: 15px;
}

.action_small_wrapper .a_detailed_toolbox {
    padding-top: 17px;
}

.action_small_wrapper .a_discount.a_discount_orange {
    background-image: url(../images/bg-discount-small-orange.png);
}

.action_small_wrapper .a_discount.a_discount_dorange {
    background-image: url(../images/bg-discount-small-dorange.png);
}

.action_small_wrapper .a_discount.a_discount_borange {
    background-image: url(../images/bg-discount-small-borange.png);
}

.action_small_wrapper .a_discount.a_discount_lgreen {
    background-image: url(../images/bg-discount-small-lgreen.png);
}

.action_small_wrapper .a_discount.a_discount_dgreen {
    background-image: url(../images/bg-discount-small-dgreen.png);
}

.action_small_wrapper .a_discount.a_discount_ping {
    background-image: url(../images/bg-discount-small-ping.png);
}

.action_small_wrapper .a_discount.a_discount_blue {
    background-image: url(../images/bg-discount-small-blue.png);
}

.action_small_wrapper .a_discount.a_discount_yellow {
    background-image: url(../images/bg-discount-small-yellow.png);
}

.action_edit_wrapper {
    float: left;
    border: 1px solid #235178;
    width: 319px;
    padding: 16px 22px 16px 15px;
    margin-right: 18px;
}

.action_edit_wrapper .action_small_wrapper {
	width: 290px;
    margin: 0px;
}

.action_edit_wrapper .ae_delete {
    float: left;
    margin-left: 22px;
    margin-top: 9px;
}

.action_edit_wrapper  .action_small_wrapper .a_detailed {
	display: none;
}

.action_edit_wrapper .ae_toolbox {
    font-size: 14px;
    margin-top: 25px;
}

.ae_toolbox .ae_date {
    float: left;
    color: #527ca0;
}

.ae_toolbox .ae_like {
    float: right;
    color: #4b7498;
    margin-right: 50px;
    padding-left: 21px;
    background: url(../images/icon-heart-blue.png) left center no-repeat;
}

.action_more_btn {
    background: url(../images/bg-more-btn.gif) center repeat-x;
    height: 52px;
    text-align: center;
    margin-top: 40px;
}

.action_more_btn .action_more_btn_wrapper {
    background: url(../images/action-bg-main.jpg) 50% 0 repeat-y #113c64;
    display: inline-block;
}

.action_more_btn button {
    border: 3px solid #329fd7;
    color: white;
    font-size: 16px;
    font-weight: normal;
    font-style: italic;
    outline: none;
    background: none;
    padding-left: 177px;
    padding-right: 177px;
    height: 52px;
    cursor: pointer;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    margin-left: 20px;
    margin-right: 20px;
}

/* Slider */
ul.bjqs-controls.v-centered li.bjqs-next a, ul.bjqs-controls.v-centered li.bjqs-prev a {
    width: 43px;
    height: 43px;
    background-repeat: no-repeat;
    background-position: center;
}

ul.bjqs-controls.v-centered li.bjqs-next a {
    right: 35px;
    background-image: url(../images/slider-next.png);
}

ul.bjqs-controls.v-centered li.bjqs-prev a {
    left: 35px;
    background-image: url(../images/slider-prev.png);
}

li.bjqs-slide {
    text-align: center;
    display: block
}

/* Cabinet */
.cabinet #main .left_block {
    background-color: white;
}

.cabinet #main h1 {
    color: #152041;
    margin-bottom: 20px;
}

.cabinet_wrapper {
    border: 1px solid #d9e8f8;
    padding-bottom: 11px;
    position: relative;
}

.cabinet_wrapper .cab_block {
    float: left;
}

.cabinet_wrapper .cab_block.cab_avatar {
    padding: 38px 60px 0px 60px;
    position: relative;
}

.cab_avatar .cab_logo {
    position: absolute;
    left: 50%;
    margin-left: 25px;
    margin-top: 110px;
}

.cabinet_wrapper .cab_block.cab_info {
    /*padding-right: 100px;*/
    width: 400px;
}

.cab_block .cinfo_block {
    border-bottom: 1px solid #d9e8f8;
    padding: 23px 0px 23px 0px;
    color: #333333;
    font-size: 15px;
    /*width: 100%;*/
}

.cab_block .cinfo_block.last {
    border-bottom: none;
}

.cab_block .cinfo_name {
    font-size: 26px;
    margin-top: 10px;
    color: #152041;
}

.cab_block .cinfo_age {
    margin: 15px 0px 15px 0px;
}

.cab_block .cinfo_general {
    line-height: 24px;
}

.cab_block .cinfo_block.cinfo_block_balance {
    font-size: 16px;
}

.cab_block .cinfo_balance_label {
    font-size: 16px;
    color: #000001;
    padding-left: 30px;
    background: url(../images/popup-ico-balance.png) left center no-repeat;
    margin-bottom: 20px;
}

.cab_block .cinfo_balance {
    font-size: 29px;
    color: #375876;
    margin-right: 20px;
}

.cabinet_wrapper .cab_edit_btn {
    position: absolute;
    right: 30px;
    top: 40px;
}

/* Main */
.external.action_main #main {
    background-color: transparent;
    margin-bottom: 40px;
}

.action_main .action_wrapper {
    height: 377px;
    width: 1165px;
    border: 8px solid #f9de14;
    position: relative;
}

.action_main .action_wrapper .a_left_block {
    display: block;
    float: left;
    width: 603px;
    height: 377px;
}

.action_main .action_wrapper .a_right_block {
    display: block;
    float: none;
    position: absolute;
    right: 0;
    top: 0;
}

.action_main .a_right_block {
    border: none;
    width: 560px;
    height: 394px;
    background: url(../images/bg-main-slider.png) left center no-repeat;
    padding-left: 77px;
}

.a_right_block_wrapper {
    background: url(../images/bg-main-slider-right.gif) repeat-x;
    height: 377px;
    width: 100%;
    background-position: 1px 18px;
}

.action_main .a_right_block .ar_block {
    border: none;
}

.action_main .a_discount_description, .action_main .a_time {
    text-align: left;
}

.action_main .a_time {
    /*padding-right: 130px;*/
}

.action_main .a_price {
    position: absolute;
    bottom: 10px;
    /*vertical-align: middle;*/
}

.action_main .a_price .btn {
    vertical-align: top;
    padding: 14px 70px 14px 70px;
    height: auto;
    margin-left: 30px;

    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
}

/*	.action_main .a_slider .a_discount {

        }*/

.action_main ul.bjqs-controls.v-centered li.bjqs-next a {
    right: -25px;
    background-image: url(../images/slider-next-yellow.png);
}

.action_main ul.bjqs-controls.v-centered li.bjqs-prev a {
    left: -25px;
    background-image: url(../images/slider-prev-yellow.png);
}

.action_main .action_wrapper .a_like {
    position: absolute;
    top: 27px;
    right: 30px;
    padding-left: 25px;
    color: #0d3c5c;
    font-size: 22px;
    background: url(../images/icon-heart-orange-big.png) left center no-repeat;
}

.action_main .top_block .tb_lcabinet a {
    font-weight: normal;
}

.action_main .top_block .tb_actbtn .btn {
    font-weight: bold;
}

/* HOWTO */
.external.howto #main .left_block {
    background-color: white;
    padding-right: 80px;
    width: 740px;
}

.external.howto p {
    color: #152041;
    font-size: 16px;
    padding: 15px 0px 15px 0px;
}

.external.howto p.large {
    font-size: 30px;
}

.external.howto p.medium {
    font-size: 22px;
}

.external.howto .bordered_block {
    border: 10px solid #058bcf;
    padding: 40px;
    font-size: 22px;
    margin: 15px 0px 45px 0px;
}

.external.howto h1 {
    color: #152041;
    margin-bottom: 20px;
}

.external.howto h2 {

}

.external.howto ul.styled_list {
}

.external.howto ul.styled_list li {
    color: #152041;
    background: url(../images/bg_howto_list.gif) left 10px no-repeat;
    padding-left: 44px;
    margin-bottom: 30px;
}

.external.howto #main .left_block .column_half.first {
    margin-right: 50px;
}

.external.howto #main .left_block .column_half {
    width: 340px;
}

.howto_buttons {
    margin-top: 40px;
}

.howto_buttons .btn {
    font-size: 20px;
    font-weight: bold;
    height: auto;
    width: 30%;
    /*padding-right: 30px;*/
    /*padding-left: 30px;*/
    /*margin-right: 10px;*/
    margin-right: 12px;
    white-space: nowrap;
}

.howto_buttons .btn.last {
    margin-right: 0px;
}

/*
.action_small_wrapper .a_image img{
height: 100%;
width: 100%;
}
.action_double_wrapper .a_image img{
height: auto;
width: auto;
}*/
.iconSocs {
    display: inline-block;
    vertical-align: middle;
}

.iconSoc {

    font-size: 28px;
    padding: 0 5px;
}