@charset "utf-8";

html {
    float: left;
    width: 100%;
    height: auto;
    min-width: 1180px;
    max-width: 1920px;
    font-family: 'PT Sans', sans-serif;
}

body {
    background-color: #070327;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

h1, h2, h3, h4, p, ul, ol, li, hr {
    float: left;
    width: 100%;
}

blockquote {
    float: left;
    background-color: #cfeff9;
    font-size: 17px;
    font-weight: bold;

    width: 90%;
    margin: 0px;
    margin-top: 1%;
    margin-bottom: 2%;
    padding: 3% 5% 3% 5%;
}

p {
    margin: 0px;
    padding: 0px;
    padding-top: 5px;
    padding-bottom: 10px;
}

hr {
    float: left;
    width: 100%;
    height: 1px;
    background-color: #e0e5f2;
    border: 0px;
    margin-top: 5%;
    margin-bottom: 4%;
    padding: 0px;

}

.button {
    float: left;
    width: auto;
    background-color: #0066cc;
    color: #FFF;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;

    padding: 15px 40px 15px 40px;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    text-transform: uppercase;
}

.remodal ul {
    float: left;
    width: 70%;
    margin: 0px;
    padding: 0px;
    margin-bottom: 3%;
}

.remodal ul li {
    float: left;
    width: 85%;
    padding-top: 0px;
    padding-bottom: 2px;
    margin-bottom: 5px;
    padding-left: 40px;

    list-style: none;
    background: url(images/li2.png) no-repeat 0px 10px;
}

.button:hover {
    float: left;
    width: auto;
    background-color: #077aed;
}

.buttbloc {
    float: left;
    width: 100%;
    margin-top: 15px;
}

.footpcbloc .buttbloc {
    float: none;
    width: 500px;
    margin: auto;
}

.head {
    float: left;
    width: 100%;
    min-width: 1180px;
    max-width: 1920px;
    overflow: hidden;
    height: 760px;
    padding-top: 130px;
    background: url(images/head.jpg) no-repeat 50% 0%;
}

.headbloc {
    float: none;
    margin: auto;
    width: 1180px;
    height: auto;
}

.snbut {
    float: left;
    width: 200px;

    color: #fff;
    font-weight: bold;
    padding-left: 45px;

    margin-left: -15px;

    background: url(images/arrow.png) 0% 30% no-repeat;

    padding-top: 0px;
    text-align: left;
}

.snbut a {
    float: left;
    width: auto;
    color: #5faaf6;
    text-decoration: none;
    padding-top: 0px;
    font-weight: normal;
    font-size: 14px;

    border-bottom: 1px dotted #4f6481;
}

.snbut strong {
    color: #ffe300;
}

.podbott {
    float: left;
    width: 100%;
    margin-top: 70px;
}

.lefthead {
    float: left;
    width: 480px;
}

.lefthead h1, .podbott h1 {
    float: left;
    width: 100%;
    font-size: 41px;
    line-height: 40px;
    font-weight: bold;

    color: #fff;
}

.pd1 {
    float: left;
    width: 575px;
}

.pd2 {
    float: left;
    width: 285px;
    margin-right: 15px;
    margin-top: 20px;
}

.pd3 {
    float: left;
    width: 305px;
    margin-right: 0px;
    margin-top: 67px;
}

.pd2 h2 {
    color: #FFF;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5px;
}

.pd2 p, .pd3 p {
    font-size: 14px;
    margin-top: 0px;
}

.orng2 {
    color: #fae115;
    font-size: 22px;
    line-height: 30px;
}

.opac {
    color: #FFF;
    opacity: 0.7;
}

.temp {
    float: left;

    width: 100%;
    min-width: 1180px;
    max-width: 1920px;
    overflow: hidden;

    background: url(images/howback.jpg) 50% 100% no-repeat;
}

.tempbloc {
    float: none;
    width: 1180px;
    margin: auto;
}

.tmppic {
    margin-top: -397px;
    margin-left: -55px;
}

.bloc {
    float: left;
    width: 290px;
    height: 220px;
    padding: 50px;

    text-align: center;

    border-left: 1px solid #2F2C42;
    border-top: 1px solid #2F2C42;

    background: rgb(36, 28, 62);
    background: -moz-linear-gradient(top, rgba(36, 28, 62, 1) 0%, rgba(5, 2, 34, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(36, 28, 62, 1)), color-stop(100%, rgba(5, 2, 34, 1)));
    background: -webkit-linear-gradient(top, rgba(36, 28, 62, 1) 0%, rgba(5, 2, 34, 1) 100%);
    background: -o-linear-gradient(top, rgba(36, 28, 62, 1) 0%, rgba(5, 2, 34, 1) 100%);
    background: -ms-linear-gradient(top, rgba(36, 28, 62, 1) 0%, rgba(5, 2, 34, 1) 100%);
    background: linear-gradient(to bottom, rgba(36, 28, 62, 1) 0%, rgba(5, 2, 34, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#241c3e', endColorstr='#050222', GradientType=0);
}

.bloc2 {
    float: left;
    width: 780px;
    height: 320px;

    text-align: center;
}

.gm {
    border-left: 1px solid #1473d8;
    border-top: 1px solid #1473d8;

    background-color: #0067d9;
}

.auto {
    border-left: 1px solid #6e6049;
    border-top: 1px solid #6e6049;

    background: url(images/auto.jpg) no-repeat;
}

.acct {
    border-left: 1px solid #ffb970;
    border-top: 1px solid #ffb970;
    background: url(images/auc.jpg) no-repeat;
}

.box {
    float: left;
    width: 1173px;
    height: auto;

    -webkit-box-shadow: 0px 50px 150px 0px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 50px 150px 0px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 50px 150px 0px rgba(0, 0, 0, 0.6);
    margin-bottom: 100px;
}

.done {
    border-left: 1px solid #1467c1;
    border-top: 1px solid #1467c1;
    background: #005abc;
}

.gm .snosk {
    float: right;
    position: relative;
    width: 300px;
    height: 200px;

    margin: 25px;

    padding: 35px;

    background-color: #feea14;
    z-index: 100;
}

.acct .snosk, .auto .snosk {
    float: left;
    width: 300px;
    height: 200px;

    margin: 25px;

    padding: 35px;

}

.acct .snosk h1, .acct .snosk p {
    color: #6d3b0f;
}

.bloc h1, .bloc2 h1 {
    float: left;
    width: 100%;
    height: auto;
    font-size: 20px;
    text-align: center;
    color: #FBEF3D;

    margin-bottom: 10px;
    padding-bottom: 0px;

    text-transform: uppercase;
}

.bloc p, .bloc2 p {
    float: left;
    width: 100%;
    height: auto;
    font-size: 15px;
    line-height: 21px;
    text-align: center;
    color: #fff;
}

.gm .snosk h1 {
    color: #333;
}

.gm .snosk p {
    color: #333;
}

.bloc2 p strong {
    color: #333;
    background-color: #fe9d00;
    padding: 0px 5px 0px 5px;

    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.act {
    float: left;
    width: 100%;
}

.act h1 {
    text-align: center;
}

.howork {
    float: left;
    width: 100%;
    height: 290px;
    margin-top: 65px;
    margin-bottom: 110px;

    background-image: url(images/how.png);
}

.howork p {
    color: #FFF;
    font-size: 14px;
}

.hw1 {
    width: 100px;

    position: absolute;
    margin-top: 108px;
    margin-left: 24px;
}

.hw2 {
    width: 165px;

    position: absolute;
    margin-top: 0px;
    margin-left: 355px;
}

.hw3 {
    width: 180px;

    position: absolute;
    margin-top: 0px;
    margin-left: 680px;
}

.hw4 {
    width: 160px;

    position: absolute;
    margin-top: 0px;
    margin-left: 1013px;
}

.hw5 {
    width: 210px;

    position: absolute;
    margin-top: 170px;
    margin-left: 837px;
}

.hw6 {
    width: 285px;

    position: absolute;
    margin-top: 170px;
    margin-left: 365px;
}

.hw1 p {
    padding-left: 65px;
    margin-bottom: 15px;
}

.hw1 .button {
    padding-left: 23px;
    padding-right: 23px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 18px;
}

.footpc {
    float: left;
    width: 100%;
    min-width: 1180px;
    max-width: 1920px;
    overflow: hidden;

    height: 1730px;

    background: url(images/footer.jpg) 50% 0%;
}

.footpcbloc {
    float: none;
    width: 1180px;
    margin: auto;
}

.enter {
    float: left;
    width: 100%;

    text-align: center;
    margin-top: 40px;
}

.enter h1 {
    color: #000;
    font-size: 41px;
    margin-top: 0px;
    margin-bottom: 15px;
}

.enter p {
    color: #000;
    font-size: 22px;
    line-height: 35px;

    width: 64%;
    padding-left: 18%;
    padding-right: 18%;
}

.enter span {
    color: #ffa000;
}

.prm {
    float: left;
    width: 100%
}

.prmbloc {
    float: none;
    margin: auto;
    width: 680px;
    height: 545px;

    padding: 80px;
    margin-top: 40px;

    background: url(images/pm.png) 0% 0% no-repeat;
}

.prmbloc h1 {
    font-size: 41px;
    text-align: center;
    color: #FFF;
    margin-top: 20px;
}

.prmbloc .ul50 {
    float: left;
    width: 42%;
    margin-right: 8%;
    padding-left: 0%;

    margin-top: 15px;

    color: #FFF;

}

.prmbloc .ul50 li {
    float: left;
    width: 85%;
    margin-bottom: 19px;

    padding-left: 15%;

    list-style: none;
    background: url(images/li.png) no-repeat;
}

.botfot {
    float: left;
    width: 100%;

    margin-top: 255px;
    text-align: center;
}

.botfot h1 {
    font-size: 41px;
    color: #FFF;
    line-height: 45px;
}

.botfot h1 span {
    color: #ffe300;
}

/*  FOOTER  */
footer {
    float: left;
    padding-top: 23px;
    width: 100%;
    min-width: 1180px;
    height: 67px;
    background: #0f1122;
}

.footer1 {
    margin: 0 auto;
    padding-top: 10px;
    width: 1180px;
    height: 43px;
    font: 17px 'PT Sans', 'Myriad Pro', Verdana;
    color: #fff;
    vertical-align: bottom;
}

.footer1a {
    position: relative;
    padding-left: 60px;
    width: 95%;
}

.footer1a img {
    position: absolute;
    top: -11px;
    left: 0;
}

.footer1a {
    float: left;
}

.footer1a span {
    display: block;
    float: left;
}

.logo {
    float: left;
    font: 19px 'PT Sans', 'Myriad Pro', Verdana;
}

.yellow {
    padding: 4px 0 0 20px;
    font: 14px 'PT Sans', 'Myriad Pro', Verdana;
    color: #fae115;
}

.menu {
    padding: 0 0 0 30px;
    float: right;
}

.menu a {
    display: block;
    float: left;
    margin: 2px 20px;
    font: 17px 'PT Sans', 'Myriad Pro', Verdana;
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid #2C2F51;
}

.menu a:hover {
    color: #fae115;
    border-bottom: 1px solid #fae115;
}

.wrapper {
    width: 100%;
    font-size: 0;
    box-sizing: border-box;
}

.content {
    width: 1181px;
    margin: 0 auto;
}

#gr1 {
    background: url("images/gp1.jpg") no-repeat;
    background-size: cover;
    min-height: 710px;
    box-sizing: border-box;
    padding-top: 135px;
}

#gr2 {
    background: url("images/gp2.jpg") no-repeat;
    background-size: cover;
    height: 570px;
    box-sizing: border-box;
}

#gr3 {
    background: url("images/gp3.jpg") no-repeat;
    background-size: cover;
    min-height: 613px;
    box-sizing: border-box;
}

.width100 {
    width: 100%;
    display: inline-block;
    vertical-align: top;
}

.width90 {
    width: 90%;
    display: inline-block;
    vertical-align: top;
}

.width80 {
    width: 80%;
    display: inline-block;
    vertical-align: top;
}

.width60 {
    width: 60%;
    display: inline-block;
    vertical-align: top;
}

.width49 {
    width: 49%;
    display: inline-block;
    vertical-align: top;
}

.width50 {
    width: 50%;
    display: inline-block;
    vertical-align: top;
}

.width51 {
    width: 51%;
    display: inline-block;
    vertical-align: top;
}

.width33_3 {
    width: 33.3333333%;
    display: inline-block;
    vertical-align: top;
}

.width20 {
    width: 20%;
    display: inline-block;
    vertical-align: top;
}

.txt-right {
    text-align: right;
}

.txt-left {
    text-align: left;
}

.txt-center {
    text-align: center;
}

.txtGr1 {
    font-family: "PT Sans";
    font-size: 45px;
    display: inline-block;
    color: #1e2236;
    text-transform: uppercase;
}

.txtGr1 span {
    background-color: #fee729;
    padding: 0 10px;
}

#gr1 .buttbloc {
    margin-top: 20px;
}

.txtGr2 {
    margin-top: 85px;
    font-family: "PT Sans";
    font-size: 40px;
    display: inline-block;
    color: #271a04;
    line-height: 55px;
}

.txtGr2 span {
    color: #fd9f00;
}

.txtGr3 {
    margin-top: 150px;
    font-family: "PT Sans";
    font-size: 45px;
    display: inline-block;
    color: #131c47;
    line-height: 62px;
}

.txtGr3 span {
}

#gr4 {
    background-color: #2c2f45;
    height: 90px;
}

#gr4 a {
    font-family: "PT Sans";
    font-size: 17px;
    color: #ffffff;
    text-decoration: none;
    padding: 0 26px;
    line-height: 89px;
}

#gr4 a.button2 {
    background-color: #fde626;
    float: none;
    font-weight: bold;
    font-size: 18px;
    color: #2b2a29;
    line-height: 46px;
    display: inline-block;
    margin-left: 20px;
    margin-right: 60px;
}
