* {
    position: relative;
}
.center {
    text-align: center;
}
.block {
    display: block;
}
.inline-block {
    display: inline-block;
}
input[type="text"][name="code"] {
    font-size: 32px;
    text-align: center;
    padding: 0 50px;
}
input[type="submit"].go {
    position: absolute;
    top: 0;
    height: 100%;
    right: -40px;
    text-align: center;
    background-color: yellow;
    border: solid 1px rgb(192,192,192);
    width: 40px;
    cursor: pointer;
}
.span-container {
    padding: 6px 0;
}
span {
    padding: 5px 6px;
    text-align: center;
    border: 1px solid transparent;
}
span.decoration {
    background-color: yellow;
    border-color: gray;
}
table {
    width: 100%;
}
tr:not(.date):nth-child(2n) {
    background-color: lavender;
}
td:nth-child(2) {
    width: 225px;
}
.header-line {
    text-align: center;
}
.admin-login-button {
    border: solid 1px rgb(192,192,192);
    padding: 5px 10px;
    position: absolute;
    right: 0;
    top: 0;
}
.date {
    text-align: center;
    font-weight: bolder;
}
.form {
    margin: 20px 0;
}
.form1 {
    border: 1px solid gray;
    display: inline-block;
    padding: 20px 10px;
}
.footer-line-d {
    color: white;
    background-color: black;
    font-weight: 900;
    font-size: 36px;
    padding: 8px 15px;
}
.footer-line-deamoned {
    font-size: 10px;
}
.info, .error {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 400px;
    height: 100px;
    padding: 25px;
    vertical-align: middle;
    text-align: center;
    margin: -75px 0 0 -225px;
}
.info {
    background-color: green;
}
.error {
    background-color: red;
}