@font-face {
    font-family: 'PT_SansBold';
    src: url('../fonts/howitworks/PT_SansWebBold.eot');
    src: url('../fonts/howitworks/PT_SansWebBold.eot') format('embedded-opentype'),
         url('../fonts/howitworks/PT_SansWebBold.woff2') format('woff2'),
         url('../fonts/howitworks/PT_SansWebBold.woff') format('woff'),
         url('../fonts/howitworks/PT_SansWebBold.ttf') format('truetype'),
         url('../fonts/howitworks/PT_SansWebBold.svg#PT_SansWebBold') format('svg');
}
@font-face {
    font-family: 'PT_SansRegular';
    src: url('../fonts/howitworks/PT_SansWebRegular.eot');
    src: url('../fonts/howitworks/PT_SansWebRegular.eot') format('embedded-opentype'),
         url('../fonts/howitworks/PT_SansWebRegular.woff2') format('woff2'),
         url('../fonts/howitworks/PT_SansWebRegular.woff') format('woff'),
         url('../fonts/howitworks/PT_SansWebRegular.ttf') format('truetype'),
         url('../fonts/howitworks/PT_SansWebRegular.svg#PT_SansWebRegular') format('svg');
}

html {
	width: 100%;
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-size: 16px;
}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
	outline: none;
}
.wraper {
	display: block;
	position: relative;
	margin: 0 auto;
	min-width: 1180px;
	padding-bottom: 250px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#113c65+0,087bb7+50,113c65+100 */
	background: #113c65; /* Old browsers */
	background: -moz-linear-gradient(left,  #113c65 0%, #087bb7 50%, #113c65 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  #113c65 0%,#087bb7 50%,#113c65 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  #113c65 0%,#087bb7 50%,#113c65 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#113c65', endColorstr='#113c65',GradientType=1 ); /* IE6-9 */

}
.container {
	position: relative;
	width: 1180px;
	margin: 0 auto;
	text-align: justify;
}

.nav-top {
	height: 60px;
	background: #152041 ;
	position: relative;
	width: 100%;
}

.nav-left {
	display: inline-block;
	width: 39%;
	height: 60px;
	text-align: left;
	vertical-align: top;
}
.nav-right {
	display: inline-block;
	width: 59%;
	height: 100%;
	text-align: right;
}
.logo-link {
	display: inline-block;
	height: 100%;
	margin-top: 0;
	padding-right: 13px;
}
.logo-img {
	display: inline-block;
	position: relative;
	margin-right: 50px;
	height: 100%;
	vertical-align: middle;
}
.logo-img-pic {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}
.logo-txt {
	display: inline-block;
	color: #fff;
	font-family: 'PT_SansBold';
	font-size: 24px;
	letter-spacing: 0.04em;
	vertical-align: middle;
	margin-bottom: 3px;
}
.vse-servisi {
	display: inline-block;
	position: relative;
	height: 60px;
	padding-left: 13px;
	padding-right: 13px;
	vertical-align: top;
	border-left: 1px solid #202e58;
	padding-top: 19px;
}
.vse-servisi:hover {
	background: #0f1731;
}
.vse-servisi-txt {
	display: inline-block;
	color: #fff;
	font-family: 'PT_SansRegular';
	font-size: 16px;
	letter-spacing: 0.04em;
	margin-right: 12px;
	height: 100%;
}
.vse-servisi-arrow {
	display: inline-block;
	position: relative;
	height: 100%;
}

.cabinet {
	display: inline-block;
	position: relative;
	height: 60px;
	padding-left: 13px;
	padding-right: 13px;
	color: #fff;
	font-family: 'PT_SansRegular';
	font-size: 16px;
	letter-spacing: 0.04em;
	margin-right: 12px;
	vertical-align: top;
	padding-top: 19px;
	float: right;
}
.akcia {
	display: inline-block;
	position: relative;
	color: #fff;
	font-family: 'PT_SansBold';
	font-size: 16px;
	letter-spacing: 0.04em;
	background: #3398cc;
	border-radius: 3px;
	padding: 10px 15px 13px 15px;
	vertical-align: top;
	margin-top: 9px;
	margin-right: 13px;
	float: right;
}
.dialog {
	display: inline-block;
	position: relative;
	width: 60px;
	height: 60px;
	border-left: 1px solid #202e58;
	margin-right: 0;
	float: right;
}
.dialog:hover {
	background: #0f1731;
}
.dialog-pic {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}
.flag {
	display: inline-block;
	position: relative;
	width: 60px;
	height: 60px;
	border-left: 1px solid #202e58;
	float: right;
}
.flag:hover {
	background: #0f1731;
}
.flag-pic {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}
.user {
	display: inline-block;
	position: relative;
	width: 60px;
	height: 60px;
	float: right;
}
.user:hover {
	background: #0f1731;
}
.user-pic {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}
.user-send{
	display: block;
	position: absolute;
	background: #ff3333;
	width: 16px;
	height: 16px;
	border-radius: 100%;
	color: #fff;
	font-size: 13px;
	text-align: center;
	font-family: 'PT_SansBold';
	top: 11px;
	right: 15px;
}
.avatar {
	display: inline-block;
	position: relative;
	width: 60px;
	height: 60px;
	float: right;
}
.avatar-pic {
	display: block;
	height: 48px;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	margin-right: 0;
}
.box-left {
	display: inline-block;
	position: relative;
	width: 880px;
	padding-top: 10px;
	vertical-align: top;
	margin-right: 20px;
}
.box-right {
	display: inline-block;
	position: relative;
	width: 275px;
	padding-top: 10px;
	vertical-align: top;
}
.info-graf {
	display: block;
	position: relative;
	width: 275px;
	border-radius: 4px;
	background: #152041;
	color: #fff;
	font-size: 16px;
	font-family: 'PT_SansRegular';
	box-shadow: 0px 4px 27.36px 10.64px rgba(21, 32, 65, 0.3);
	padding-top: 40px;
	padding-bottom: 40px;
}
.info-graf-box {
	display: block;
	position: relative;
	width: 100%;
	text-align: center;
	padding-top: 0;
}
.info-graf-box-img {
	position: relative;
	margin-top: 0;
}
.info-graf-box-img-pic{
	display: block;
	margin: 20px auto;
}
.info-graf-box-txt {
	display: block;
	position: relative;
	vertical-align: top;
	margin-bottom: 10px;
	padding: 0 44px;
}
.info-graf-box-arrow {
	display: block;
	position: relative;
	vertical-align: top;
}
.info-graf-box-arrow-pic {
	display: block;
	vertical-align: top;
	margin: 0 auto;
}
.node-header {
	width: 100%;
	border-radius: 4px 4px 0 0;
	background: #152041;
	color: #fff;
	font-size: 40px;
	font-family: 'PT_SansRegular';
	padding: 45px;
}
.node-section {
	background-color: #fff;
	width: 100%;
	text-align: left;
	padding: 45px 27px;
	border-radius: 0 0 4px 4px;
}
.node-section-left {
	display: inline-block;
	position: relative;
	width: 294px;
	height: 288px;
	border: 4px solid #087db9;
	vertical-align: top;
	padding-top: 76px;
	text-align: center;
	box-shadow: 0px 20px 50px 0px rgba(21, 32, 65, 0.2);
}
.node-btn {
	display: block;
	border-radius: 5px;
	background-image: -moz-linear-gradient( 90deg, rgb(10,107,162) 0%, rgb(7,124,184) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(10,107,162) 0%, rgb(7,124,184) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(10,107,162) 0%, rgb(7,124,184) 100%);
	box-shadow: 0px 2px 0px 0px rgba(0, 26, 40, 0.29);
	position: absolute;
	left: 0px;
	right: 0;
	bottom: 10px;
	margin: 0 auto;
	width: 265px;
	height: 57px;
	font-size: 17px;
	text-align: right;
	font-family: 'PT_SansBold';
	padding-right: 49px;
	color: #fff;
}
.arrow-btn-pic {
	display: inline-block;
	vertical-align: top;
	padding-left: 13px;
	margin-top: 23px;
}
.btn-txt {
	display: inline-block;
	vertical-align: top;
	margin: 0;
	line-height: 14px;
	margin-top: 22px;
}
.arrow-btn-hard-pic {
	padding-top: 9px;
	margin-right: 50px;
}
.arrow-btn-hard-pic-long {
	padding-top: 9px;
	margin-right: 178px;
	margin-left: 10px;
}

.node-section-right {
	display: inline-block;
	width: 520px;
}
.rang {
	width: 100%;
}
.rang-stars {
	display: inline-block;
	position: relative;
	width: 69%;
	text-align: left;
	padding-left: 27px;
}
.rang-stars__box {
	display: block;
	position: relative;
	width: 142px;
	height: 23px;
	top: 0;
	left: 0;
	background-color: #aeaeae;
}
.rang-stars__bg {
	display: block;
	position: absolute;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #087bb8;
	z-index: 1;
}
.rang-stars__stars {
	display: block;
	position: absolute;
	width: 101%;
	height: 101%;
	top: 0;
	left: 0;
	z-index: 2;
	background-image: url(/images/howitworks/reiting.png);
	background-position: 0 0;
	-webkit-background-size: contain;
	background-size: contain;
	background-repeat: no-repeat;
}		
.stars-pic {
	display: inline-block;
}
.rang-posts {
	display: inline-block;
	width: 30%;
	text-align: right;
}
.rang-posts {
	color: #676767;
	font-size: 14px;
	font-family: 'PT_SansRegular';
	text-decoration: underline
}
.cashback {
	font-size: 28px;
	color: #087bb8;
	font-family: 'PT_SansBold';
	padding-left: 27px;

}
.txt-red {
	color: #ff6248;
	font-size: 32px;
}
.lamoda-txt {
	color: #393939;
	font-family: 'PT_SansRegular';
	font-size: 16px;
	line-height: 25px;
	padding-left: 27px;
	margin-top: 36px;

}
.repost {
	padding-left: 27px;
	margin-top: 27px;
}
.header-shops {
	font-family: 'PT_SansRegular';
	font-size: 45px;
	color: #fff;
	margin-top: 63px;
}
.box-dn {
	display: inline-block;
	position: relative;
	background-color: #fff;
	width: 288px;
	height: 327px;
	text-align: center;
	margin-top: 40px;
}
.box-dn-long {
	display: inline-block;
	position: relative;
	background-color: #fff;
	width: 586px;
	height: 327px;
	text-align: center;
	margin-top: 40px;
}
.box-dn_null{
	height: 0;
	width: 288px;
	display: inline-block;
	position: relative;

}
.bx-dn-labl {
	height: 116px;
	border-bottom: 2px solid #f2f3f4;
	display: block;
	position: relative;
}
.bx-dn-pic {
	max-width: 179px;
	max-height: 175px;
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}
.bx-dn-mame {
	display: block;
	padding-top: 25px;
	color: #676767;
	font-size: 18px;
	font-family: 'PT_SansRegular';
}
.bx-dn-cashback {
	display: block;
	position: absolute;
	color: #087bb8;
	font-size: 20px;
	font-family: 'PT_SansBold';
	top: 172px;
	right: 0;
	left: 0;
	bottom: 0;
	margin: 0 auto;
}
.pocent {
	color: #ff6248;
	font-size: 26px;
}
.bx-dn-all {
	display: block;
	position: absolute;
	color: #676767;
	font-size: 12px;
	font-family: 'PT_SansBold';
	top: 296px;
	right: 0;
	left: 0;

}
.btn-box-bn {
	top: 224px !important;
	bottom: 0;
}
.btn-box-bn-long {
	top: 224px !important;
	bottom: 0;
	width: 556px;
	text-align: left;
}
.wriper-box-dn {
	display: block;
	position: relative;
	width: 100%;
	text-align: justify;
}
.wriper-box-dn:after {
	display: inline-block;
	content: "";
	width: 100%;
	height: 0;
}

.see-all{
	display: block;
	position: relative;
	width: 100%;
	height: 52px;
	margin-top: 45px;
}
.btn-see-all {
	display: block;
	width: 340px;
	height: 52px;
	border: 3px solid #329fd7;
	color: #fff;
	border-radius: 52px;
	text-align: center;
	font-size: 16px;
	font-family: 'PT_SansRegular';
	padding-top: 11px;
	margin: 0 auto;
}
.see-before {
	display: block;
	position: absolute;
	width: 240px;
	height: 1px;
	background-color: #329fd7;
	top: 50%;
	left: 0;
}
.see-before-long {
	display: block;
	position: absolute;
	width: 409px;
	height: 1px;
	background-color: #329fd7;
	top: 50%;
	left: 0;
}
.see-after {
	display: block;
	position: absolute;
	width: 240px;
	height: 1px;
	background-color: #329fd7;
	top: 50%;
	right: 0;
}
.see-after-long {
	display: block;
	position: absolute;
	width: 409px;
	height: 1px;
	background-color: #329fd7;
	top: 50%;
	right: 0;
}
.inform {
	display: block;
	position: relative;
	width: 100%;
	margin-top: 60px;
}
.inform-heder-bg {
	display: block;
	width: 733px;
	height: 60px;
	background: #152041 ;
	border-radius: 4px 4px 0 0;
}
.iform-header-bg {
	display: block;
	position: relative;
	width: 100%;
	width: 100%;
	text-align: justify;
}
.iform-header-bg:after {
	display: inline-block;
	content: "";
	width: 100%;
	height: 0;
}
.iform-header-item-bg {
	display: inline-block;
	padding: 23px 28px 0 28px;
	color: #fff;
	font-size: 14px;
	font-family: 'PT_SansBold';
	z-index: 9999999999;
}
.iform-header {
	display: block;
	/*position: absolute;*/
	top: 0;
	width: 100%;
	height: 100%;
	text-align: justify;
}
.iform-header:after {
	display: inline-block;
	content: "";
	width: 100%;
	height: 0;
}
.iform-header-item {
	display: inline-block;
	padding: 23px 20px 23px 20px;
	color: #fff;
	font-size: 14px;
	font-family: 'PT_SansBold';
	background-color: #152041;
	height: 101%;
	border-radius: 4px 4px 0 0;
	height: 100%;
}
.iform-header-item:hover {
	cursor: pointer;
}

.inform-node {
	display: block;
	position: relative;
	width: 880px;
	min-height: 391px;
	background-color: #fff;
	border-radius: 0 4px 4px 4px;
	padding: 20px 35px;
}
.block {
	color: #000;
	background-color: #fff;
}
.n-block {
	color: #fff;
	background-color: #152041;
}
.pink{
	color: #ff6248;
}
.inform-node-header {
	font-size: 24px;
	color: #087bb8;
	font-family: 'PT_SansBold';
	padding-top: 10px;
}
.inform-node-text {
	padding-top: 25px;
	font-size: 16px;
	font-family: 'PT_SansRegular';
	color: #393939;
	line-height: 25px;
}
.zakaz {
	font-size: 19px;
	color: #087bb8;
	font-family: 'PT_SansBold';
	padding-top: 67px;
}
.kupon {
	font-size: 19px;
	color: #087bb8;
	font-family: 'PT_SansBold';
	padding-top: 25px;
}
#otzivi {
	display: none;
}
.send-otziv {
	width: 100%;
	height: 49px;
	text-align: center;
	color: #676767;
	font-size: 13px;
	border-bottom: 1px solid #e6e6e6;
	font-family: 'PT_SansRegular';
}
.send-otziv-link {
	text-decoration: underline;
	color: #676767;
}
.otzivi-box {
	width: 100%;
	border-bottom: 1px solid #e6e6e6;
	padding-bottom: 22px;
}
.otzivi-foto {
	display: inline-block;
	width: 170px;
	padding-top: 22px;
	text-align: center;
}
.otzivi-foto-mame {
	width: 100%;
	text-align: center;
	color: #676767;
	font-size: 16px;
	font-family: 'PT_SansRegular';
}
.otzivi-node {
	display: inline-block;
	width: 635px;
	vertical-align: top;
}
.otzivi-node-top {
	width: 100%;
	margin-top: 22px;
	vertical-align: top;
}
.otzivi-node-top-left {
	display: inline-block;
	width: 50%;
	text-align: left;
}
.otzivi-node-top-left-text {
	display: inline-block;
	text-align: left;
	color: #676767;
	font-size: 15px;
	font-family: 'PT_SansRegular';
}
.otzivi-node-top-left-stars {
	display: inline-block;
	margin-left: 6px;
}
.otzivi-node-top-right {
	display: inline-block;
	text-align: right;
	color: #676767;
	font-size: 14px;
	font-family: 'PT_SansRegular';
	width: 49%;
}
.otzivi-node-text {
	text-align: left;
	color: #393939;
	font-size: 16px;
	font-family: 'PT_SansRegular';
	width: 100%;
	line-height: 25px;
	padding-top: 13px;
}
.otzivi-box-otvet {
	width: 708px;
	padding-bottom: 22px;
	background-color: #f2f5f7;
	border-radius: 4px;
	margin-left: 105px;
	margin-top: 20px;
}
.otzivi-foto-otvet {
	display: inline-block;
	width: 114px;
	padding-top: 22px;
	text-align: center;
}
.otzivi-node-otvet {
	display: inline-block;
	width: 588px;
	vertical-align: top;
	padding-right: 22px;
}
#kuponi {
	display: none;
}
.kuponi-box {
	display: block;
	width: 100%;
	border-bottom: 1px solid #e6e6e6;
	padding-bottom: 22px;
	padding-top: 22px;
	vertical-align: top;
}
.kuponi-box-mame {
	display: inline-block;
	text-align: left;
	color: #676767;
	font-size: 18px;
	font-family: 'PT_SansRegular';
	width: 351px;
	line-height: 22px;
	vertical-align: top;
}
.kuponi-box-dadlin {
	display: inline-block;
	position: relative;
	width: 240px;
	height: 100%;
	text-align: left;
	font-size: 14px;
	line-height: 22px;
	color: #a1a1a1;
	vertical-align: top;
	padding-left: 30px;
	font-family: 'PT_SansRegular';
}
.kuponi-box-dadlin-pic {
	display: inline-block;
	max-width: 20px;
	max-height: 20px;
	vertical-align: top;
	margin-right: 15px;
}
.kuponi-box-cod {
	display: inline-block;
	text-align: center;
	font-size: 14px;
	line-height: 25px;
	color: #432502;
	font-family: 'PT_SansBold';
	text-transform: uppercase;
	vertical-align: top;
	width: 204px;
	padding-left: 15px;
}
#garantii {
	display: none;
}
.garantii-header {
	font-family: 'PT_SansBold';
	font-size: 24px;
	color: #087bb8;
}
.garantii-txt {
	font-size: 16px;
	line-height: 25px;
	color: #393939;
	font-family: 'PT_SansRegular';
	padding-top: 31px;
}
.garantii-txt-dn {
	padding-top: 31px;
}

/*изменения 02-05-17*/
/*Кнопка Все магазины*/
.conteiner-center {
	display: block;
	width: 100%;
	text-align: center;
}
.btn-all-shops {
	display: inline-block;
	margin: 49px auto;
	background-color: #f5d911;
	position: relative;
	text-align: center;
	padding: 17px 47px;
	border-radius: 4px;
	background-image: -moz-linear-gradient( 90deg, rgb(232,198,7) 0%, rgb(249,222,20) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(232,198,7) 0%, rgb(249,222,20) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(232,198,7) 0%, rgb(249,222,20) 100%);
	box-shadow: 0px 2px 0px 0px rgba(0, 26, 40, 0.29);
}
.btn-all-shops_txt {
	color: #993300;
	font-family: 'PT_SansBold';	
	font-size: 16px;
}

/*Горизонтальная линия*/
.gor-line-dn {
	width: 100%;
	height: 2px;
	background-color: rgba(250, 250,250, .15);
}

/*Купоны*/
.box-dn__deadline {
	border-bottom: 2px solid #f2f3f4;
	padding: 16px 0;
}
.box-dn__cupon-text {
	padding: 23px 0 28px 0;
	height: 98px;
}
.box-dn__cupon-text_width {
	width: 100%;
	text-align: center;
	padding: 0 30px;
}
.box-dn_cupon-height {
	height: 391px;
}
.btn-box-bn-cupon {
	top: 322px !important;
	padding-right: 74px;
}
.box-dn__promokod {
	background-color: #ebc90a;
	height: 121px;
	width: 100%;
	text-align: center;
	padding-top: 17px;
}
.box-dn__promokod-txt {
	text-transform: uppercase;
	color: #993300;
	font-family: 'PT_SansBold';	
	font-size: 14px;
}