/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
	box-shadow: inset 0px 1px 17px -2px #000;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
	box-shadow: inset 2px -5px 3px 1px #d6e8ed;
}

input:checked + .slider {
    background-color: #2196F3;
	box-shadow: inset 0px 1px 17px -2px #000;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.span-switch {
    vertical-align: middle;
    font-size: 18px;
	font-weight: bold;
}

.span-switch.selected {
    color: #2196F3;
    text-decoration: none;
	font-weight: bold;
	border-bottom:1px dashed #2196f3;
}

button.btn.rounded_4 {
    background-color: yellow;
    border: none;
    position: relative;
    color: black;
    margin-left: 70px;
}

button.btn.rounded_4::after,
button.btn.rounded_4::before {
    position: absolute;
    background-color: white;
    width: 16px;
    height: 16px;
    content: " ";
    display: block;
    top: 50%;
    margin-top: -8px;
    border-radius: 8px;
}

button.btn.rounded_4::before {
    left: 0;
    margin-left: -8px;
}

button.btn.rounded_4::after {
    right: 0;
    margin-right: -8px;
}