#city_text {
    font-size: 13px;
}

/*********/
.sinfo_img .circled {
    width: 156px;
}

img.mini-avatar {
    width: 46px;
}

.tip_wrap {
    display: inline-block;
    position: relative;
    height: auto;
}

.tooltip.positive {
    background: #eef8dd;
    border-color: #99b962;
}

.tooltip.negative {
    background: #ffefed;
    border-color: #ff2a0e;
}

.tooltip {
    position: absolute;
    width: 200px;
    padding: 16px 7px 16px 13px;
    z-index: 100;
    font-size: 13px;
    line-height: 20px;
    color: #333333;
    background: #FFF;
    border: 1px solid #bfd7e2;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    line-height: normal;
    text-align: left;
}

.tooltip .triangle {
    display: block;
    position: absolute;
    width: 12px;
    height: 6px;
    background-image: url(/images/tooltip.png);
    background-repeat: no-repeat;
}

.tooltip.top .triangle {
    bottom: -6px;
    left: 28px;
}

.tooltip.bottom .triangle {
    top: -6px;
    left: 28px;
}

.tooltip.right .triangle {
    left: -7px;
    top: 20px;
    width: 7px;
    height: 14px;
}

.tooltip.positive.top .triangle {
    background-position: -12px 0;
}

.tooltip.positive.right .triangle {
    background-position: -12px -12px;
}

.tooltip.positive.bottom .triangle {
    background-position: -12px -6px;
}

.tooltip.negative.top .triangle {
    background-position: -24px 0;
}

.tooltip.negative.right .triangle {
    background-position: -24px -12px;
}

.tooltip.negative.bottom .triangle {
    background-position: -24px -6px;
}

.tooltip.neutral.top .triangle {
    background-position: 0 0;
}

.tooltip.neutral.right .triangle {
    background-position: 0 -12px;
    left: -6px;
}

.tooltip.neutral.bottom .triangle {
    background-position: 0 -6px;
}

.action .inp_full {
    width: 728px;
}

.action .inp_full_halved {
    width: 340px;
}

.action_result .btn-big {
    width: 780px;
}

.action .site_block input {
    width: 622px;
}

.action .site_block input[name="site[vk]"] {
    width: 585px;
}

.action .site_block input[name="site[fb]"] {
    width: 571px;
}

.action .site_block {
}

.action_edit_wrapper {
    padding: 16px 15px 16px 15px;
    margin-bottom: 18px;
    width: 311px;
}

.ae_toolbox .ae_like {
    margin-right: 20px;
}

.a_detailed {
    width: 251px;
}

.action_double_wrapper .a_detailed {
    width: 549px;
}

.action_double_wrapper .a_detailed_link a {
    width: 100%;
}

#popup_menu_bars, #popup_menu_forher {
    width: 750px;
}

.underwear_checkboxes, .accessories_checkboxes, .clothing_checkboxes {
    margin-top: 40px;
}

.column_third:nth-child(1) .accessories_checkboxes:first-child,
.column_third:nth-child(1) .clothing_checkboxes:first-child,
.column_third:nth-child(1) .underwear_checkboxes:first-child,
.column_third:nth-child(2) .accessories_checkboxes:first-child,
.column_third:nth-child(2) .clothing_checkboxes:first-child,
.column_third:nth-child(2) .underwear_checkboxes:first-child {
    margin-top: 0;
}

.tab_hide {
    display: none;
}

.chosen-container-multi .chosen-choices {
    border: 1px solid #9bbedc;
    outline: none;
    padding: 5px;
}

.chosen-container-multi .chosen-choices li.search-choice {
    padding: 10px;
    margin: 1px;
    background-color: #0066cc;
    text-decoration: none;
    color: white;
    background-image: none;
    border: none;
    padding-right: 17px;
    box-shadow: none;
    margin-right: 5px;
}

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
    top: 12px;
}

.action_small_wrapper .a_image {
    overflow: hidden;
}

.action_small_wrapper .a_price {
    background: white;
    width: 270px;
    padding-bottom: 10px;
    bottom: 0;
}

.action_small_wrapper:hover .a_price {
    background-color: transparent;
    padding-bottom: 0;
    bottom: 10px;
}

.word_block {
    display: inline-block;
    margin-right: 40px;
    vertical-align: top;
    width: 19%;
    text-align: left;
}

.word_block:nth-child(4n) {
    margin-right: 0;
}

.word_block h2 {
    margin: 10px 0;
}

.external.howto.country #main .left_block {
    padding-right: 40px;
    text-align: center;
}

.action_main .a_right_block {
    width: 561px;
    padding-left: 76px;
}

img.width48 {
    width: 48px;
}

.ae_edit {

}

.ae_remove {

}

.action_edit_wrapper {
    position: relative;
}

.action_edit_wrapper:hover .actions {
    display: inline-block;
}

.actions {
	display: none;
	height: 50px;
	width: 26px;
}

.attachments {
    margin: 10px 0;
    width: 100%;
    text-align: center;
}

.attachments a {
    display: inline-block;
    width: 19%;
    max-height: 85px;
    box-sizing: border-box;
    vertical-align: middle;
    padding: 0 5px;
    overflow: hidden;
}

.attachments a img {
    display: inline-block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    min-height: 85px;
}

.a_left_block .al_block {
    padding-top: 5px;
}

.a_left_block .al_block h2 {
    color: #000;
}

.video {
    text-align: center;
}

.pe-color {
    width: 44px;
    height: 48px;
    display: inline-block;
}

a.iconSoc {
    display: inline-block;
    width: 44px;
    height: 48px;
}

.pe-so-vk {
    background: url(/images/socs/B.png) no-repeat;
    background-size: cover;
}

.pe-so-facebook {
    background: url(/images/socs/f.png) no-repeat;
    background-size: cover;
}

.pe-so-twitter {
    background: url(/images/socs/t.png) no-repeat;
    background-size: cover;
}

.pe-so-youtube-1 {
    background: url(/images/socs/you.png) no-repeat;
    background-size: cover;
}

.pe-so-instagram {
    background: url(/images/socs/insagramm.png) no-repeat;
    background-size: cover;
    width: 48px;
}

.pe-so-pinterest {
    background: url(/images/socs/pint.png) no-repeat;
    background-size: cover;
    width: 48px;
}

.pe-so-odnolassniki {
    background: url(/images/socs/ok.png) no-repeat;
    background-size: cover;
}

.pe-so-gm {
    background: url(/images/socs/gm.png) no-repeat;
    background-size: cover;
    width: 48px;
}

.hide {
    display: none;
}

/***********************/
.tt_search {
    float: right !important;
    margin-right: 15px;
}

.sort h2 {
    font-family: "PT Sans", sans-serif;
    color: #4790ba;
    font-weight: bold;
    font-size: 23px;
    margin: 0;
    padding: 0;
    display: inline-block;
    vertical-align: middle;
}

.sort .tt_cities,
.sort .tt_trc {
    display: inline-block;

    height: 60px;
    line-height: 60px;
    vertical-align: middle;

    margin-left: 40px;

}

.sort .tt_trc label {
    margin-right: 10px;
    color: #FFFFFF;
}

.sort {
    vertical-align: middle;
    line-height: 60px;
    margin-left: 5px;
}

.sort .tt_trc button,
.sort .tt_cities button {
    border-radius: 4px;
    background-image: -moz-linear-gradient(90deg, rgb(21, 32, 65) 0%, rgb(34, 46, 84) 100%);
    background-image: -webkit-linear-gradient(90deg, rgb(21, 32, 65) 0%, rgb(34, 46, 84) 100%);
    background-image: -ms-linear-gradient(90deg, rgb(21, 32, 65) 0%, rgb(34, 46, 84) 100%);
    color: #FFFFFF;
    border: none;
    box-shadow: none;
    position: relative;
    padding-right: 28px;
    font-size: 13px;
}

.sort .tt_trc button span:after,
.sort .tt_cities button span:after {
    content: ' ';
    position: absolute;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAFCAMAAABPT11nAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAV1BMVEUAAAD///////////////////////////////////////////////////////////////////////////////////////////////////////////8AAACO+Cj6AAAAG3RSTlMAm7MSKeHI5s8VLunOMevX7NIXLOfNEyfavxCYxoGrAAAAAWJLR0QAiAUdSAAAAAlwSFlzAAALEgAACxIB0t1+/AAAADJJREFUCNcNwQkCQCAARcGXImVNG/7978kMZrDgxgmvOcRFK9uu41S6IBepNn79fl74ACagAgLVTs/yAAAAAElFTkSuQmCC') no-repeat;
    background-position: 0px center;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAFCAMAAABPT11nAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAV1BMVEUAAAD///////////////////////////////////////////////////////////////////////////////////////////////////////////8AAACO+Cj6AAAAG3RSTlMAm7MSKeHI5s8VLunOMevX7NIXLOfNEyfavxCYxoGrAAAAAWJLR0QAiAUdSAAAAAlwSFlzAAALEgAACxIB0t1+/AAAADJJREFUCNcNwQkCQCAARcGXImVNG/7978kMZrDgxgmvOcRFK9uu41S6IBepNn79fl74ACagAgLVTs/yAAAAAElFTkSuQmCC');
    width: 8px;
    height: 5px;
    top: 18px;
    right: 8px;
}

.sort .tt_trc .chosen-container .chosen-drop {
    background-color: #182345;
    border: none;
}

#popup_trc li {
    color: #FFFFFF;
}

#popup_trc li span {
    color: #b5b7be;
    display: block;
}

.sort .tt_trc .chosen-container .chosen-results li {

}

.sort .tt_trc .chosen-container .chosen-results li b {

}

#popup_trc input[type="text"].search {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(64, 77, 116);
    border-radius: 2px;
    background-color: rgb(44, 57, 96);

    color: #FFFFFF;
    font-size: 16px;
    font-style: italic;
    font-family: "PT Sans", sans-serif;
    display: block;
    margin: 13px;
    width: 92%;
    padding: 10px;
    box-sizing: border-box;
}

#navigation {
    height: 280px;
}

#navigation .large_menu {
    margin-top: 0;
}

#popup_trc {
    width: 390px !important;
    height: 350px;
    overflow: hidden;
}

#popup_trc li {
    background-color: #152041;
    background-image: url(../images/ncbx.png);
    background-position: 10px center;
    background-repeat: no-repeat;
	    width: 323px;
}
#popup_trc ul{
	padding-bottom: 80px;
}

.scroller {
    height: 100%;
    overflow-y: scroll;
    /* -webkit-overflow-scrolling: touch; *//* uncomment to accelerate scrolling on iOS */
}

.scroller::-webkit-scrollbar {
    /* Preventing webkit cross-direction scrolling bug */
    width: 0;
}

.scroller__track {
    display: none; /* Invisible by default */
    position: absolute;
    right: 15px;
    top: 65px;;
    bottom: 4px;
    width: 5px;
    background: #0099ff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

._baron .scroller__track {
    display: block; /* Visible when scrolling is possible */
}

.scroller__bar {
    /* The bar. You should define width, right position and background */
    position: absolute;
    z-index: 401;
    right: 0;
    width: 5px;
    background: #f8d613;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.modal {
	background-image: url('/images/modal.png');
	height: 222px;
	width: 500px;
}

.modal .title {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 400px;
	height: 30px;
	color: #FFF;
}

.modal .close {
    width: 20px;
    position: absolute;
    right: 10px;
    height: 20px;
    top: 10px;
}

.modal .text {
    height: 124px;
    top: 56px;
    left: 14px;
    position: absolute;
    width: 450px;
    text-align: center;
    margin: 20px;
}
