/*Reset*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody, tfoot,
thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    background: transparent;
}

html, body {

}

ul {
    list-style: none;
}

/*end reset*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
/*------- Стили модального окна 1 --------*/
.substrate{
    position: absolute;
    width:100%;
    height:500%;
    z-index: 9000;
    top: 0;
    left: 0;
}
.substrate:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../images/bg_substrate.png);
    width: 100%;
    height: 100%;
    opacity: 0.6;
    z-index: -1;
    background-repeat: no-repeat;
}
.substrate .modal_box{
    width:896px;
    background: url("../images/bg_box_modal.png");
    margin: 0 auto;
    /*margin-top: 210px;*/
}
.substrate .modal_box .modal_header{
    background: #0066cc;
    width:inherit;
    color: #fff;
    font-size: 26px;
    font-family: 'PT Sans', sans-serif;
	margin-top: 15px;
}
.substrate .modal_box .modal_header p{
    float: left;
    margin-left: 30px;
    padding-top: 18px;
    padding-bottom: 21px;
}
.substrate .modal_box .modal_header a{
    float: right;
    padding-top: 19px;
    padding-right: 20px;
}
.substrate .modal_box .content_modal{
    width: 840px;
    margin:25px auto;
    background:#fff;
    padding-top: 23px;
    box-shadow: 0px 0px 20px -5px #333333;
}
.substrate .modal_box .content_modal .top_content{
    font-size: 21px;
    font-family: 'PT Sans', sans-serif;
    color: #333333;
    text-align: center;
    margin: 0 auto;
    line-height: 29px;
}
.substrate .modal_box .content_modal .bold_text{
    font-size: 21px;
    font-family: 'PT Sans', sans-serif;
    color: #333333;
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
}
.substrate .modal_box .content_modal .col_modal{
    float: left;
    width: 170px;
    margin-right: 75px;
    margin-top: 25px;
}
.substrate .modal_box .content_modal .col_modal1{
    margin-left: 100px;
    margin-right: 75px;
}
.substrate .modal_box .content_modal .col_modal ul li a{
    color:#0066cc;
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
    text-decoration: none;
    border-bottom: 1px solid #7fb2e5;
    line-height: 29px;
    font-weight: 600;
}
.substrate .modal_box .content_modal .dim_text{
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
    color: #72869d;
    text-align: center;
    margin-top: 20px;
}
.substrate .modal_box .content_modal .no_examples{
    background:#0066cc;
    font-size: 20px;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
    padding: 11px 53px;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
    margin-left: 35%;
}
.substrate .modal_box .content_modal .text_bottom{
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
    color:#2e2f30 ;
    text-align: center;
    padding-bottom: 30px;
}
.substrate .modal_box .content_modal .text_bottom span{
    font-weight: bold;
}
.substrate .modal_box .content_modal .text_bottom a{
    color: #0066cc;
    border-bottom: 1px solid #7fb2e5;
    text-decoration: none;
}
/*------- конец модального окна 1 ---------*/

/*------ Стили модального окна 2 ---------*/
.substrate .wrap_modal{
    width:730px;
    background: #fae115;
    margin: 0 auto;
    margin-top: 150px;
    padding: 20px 0px;
}
.substrate .wrap_modal .modal_content{
    width:690px;
    margin: 0px auto;
    background: url("../images/bg_wrap_moadl.png");
}
.substrate .wrap_modal .modal_content .modal_header .tipok{
    float: left;
    margin-top: -137px;
    margin-left: 245px;
}
.substrate .wrap_modal .modal_content .modal_header a{
    float: right;
    margin-right: 20px;
    margin-top: 20px;
}
.substrate .wrap_modal .modal_content .zagolovok{
    font-family: 'PT Sans', sans-serif;
    font-size: 37px;
    font-weight: bold;
    color: #333333;
    padding-top: 10px;
    position: relative;
    text-align: center;
    margin-bottom: 45px;

}
.substrate .wrap_modal .modal_content #ego_vel {
    background: url(../images/bot.png) no-repeat 0% 25%;
    font-family: 'PT Sans', sans-serif;
    font-weight: 100;
    font-size: 16.16px;
    padding-left: 40px;
    padding-bottom: 10px;
    float: left;
    margin-left: 154px;
    color:#9bbedc;
}
.substrate .wrap_modal .modal_content #ee_vel {
    background: url(../images/cvet.png) no-repeat 100% 22%;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    font-size: 16.16px;
    padding-right: 24px;
    padding-bottom: 10px;

}
.substrate .wrap_modal .modal_content .line{
    background: #fae115;
    width: 110px;
    height:3px;
    margin: 0 auto;
    margin-top: 30px;
}
.center_form{
    text-align: center;
    margin: 40px 0px;
    margin-bottom: 10px;
}
.center_form p{
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 15px;
}
.center_form input{
    text-align: center;
    width:270px;
    padding: 12px 0px;
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
    margin-bottom: 35px;
    border:0.5px solid #9bbedc;
}
.substrate .wrap_modal .modal_content .sog{
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
    text-align: center;
}
.substrate .wrap_modal .modal_content .sog span{
    color: #0F77DF;
}
.substrate .wrap_modal .modal_content .button{
    border: none;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    font-size: 20px;
    background: #0f77df;
    color: #fff;
    padding: 15px 0px;
    width:270px;
    margin: 30px auto;
    display: inherit;
    cursor: pointer;
    border-radius: 4px;
}


.onoffswitch {
    position: relative; width: 60px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
    float: left;
    position: relative;
    bottom: 5px;
    margin: 0px 15px;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    height: 28px;
    padding: 0;
    line-height: 28px;
    border-radius: 28px;
    background-color: #0F77DF;
    transition: background-color 0.3s ease-in;
    box-shadow: inset 0px 1px 17px -2px #000;
}
.onoffswitch-label:before {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    margin: 0px;
    background: #FFFFFF;
    position: absolute;
    top: 2px;
    bottom: 0;
    right: 30px;
    border-radius: 28px;
    transition: all 0.3s ease-in 0s;
	box-shadow: inset 2px -2px 3px 1px #d6e8ed;
}
.onoffswitch-checkbox:checked + .onoffswitch-label {
    background-color: #0F77DF;
}
.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
    border-color: #0F77DF;
}
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
    right: 3px;
}
/*------ конец модального окна 2 ---------*/

/*------ начало конструктора ------*/
.wrap_konstruckt{
    background: #053863;
    padding-top: 50px;
    margin: 0 auto;
}
.block_konstrukt{
    width: 780px;
    background: #fff;
    margin: 0 auto;
    border-radius: 8px;
}
.block_konstrukt .header_title{
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding-top: 35px;
    margin-left: 30px;
    margin-bottom: 33px;
}
.block_konstrukt .col_left{
    padding-left: 30px;
    width:320px;
    float: left;
}
.block_konstrukt .col_left .zag_input{
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 12px;
}
.block_konstrukt .col_left textarea{
     width: 250px;
     border: 0.5px solid #9bbedc;
     border-radius: 3px;
     padding-left: 18px;
     padding-top: 11px;
     padding-bottom: 11px;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    margin-bottom: 10px;
    resize: none;
 }
.block_konstrukt .col_left input{
    width: 250px;
    border: 0.5px solid #9bbedc;
    border-radius: 3px;
    padding-left: 18px;
    padding-top: 11px;
    padding-bottom: 11px;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    margin-bottom: 10px;
}
.block_konstrukt .col_right{
    padding-top: 27px;
    width: 380px;
    float: left;
}
.block_konstrukt .col_right #sale{
    font-family: 'PT Sans', sans-serif;
    font-weight: 100;
    font-size: 16.16px;
    padding-bottom: 10px;
    float: left;
    color:#9bbedc;
}
.block_konstrukt .col_right #kupon {
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    font-size: 16.16px;
    padding-right: 24px;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

textarea::-webkit-input-placeholder {
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
}

textarea:-moz-placeholder {
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
}
.block_konstrukt .col_right span{
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;

}
.block_konstrukt .col_right .skidka{
    width: 80px;
    border: 0.5px solid #9bbedc;
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    padding: 11px 0px;
    margin-left: 103px;
    position: relative;
    left: 5px;
}
.block_konstrukt .col_right select{
    border: 0.5px solid #9bbedc;
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    padding: 10px 3px;
    color: #54a8d4;
}
.block_konstrukt .col_right .cupoh{
    margin-top: 40px;
    display: inline-block;
}
.block_konstrukt .col_right .srok{
    float: right;
    text-align: center;
    width: 110px;
    margin-right: 1px;
    padding: 10px 0px;
    margin-top: 30px;
    font-family: 'PT Sans', sans-serif;
    font-size: 12px;
    margin-right: 27px;
    background: #ebebe3;
}
.block_konstrukt .col_right .zag_obyaz{
    font-family: 'PT Sans', sans-serif;
    color: #1b9ac5;
    font-size: 18px;
    margin-top: 35px;
}
/*----- конец конструктора ------*/
.special {
    position: absolute;
    bottom: 118px;
    right: 0;
    width: 132px;
    height: 51px;
    background: url(/images/2.png);
    background-size: cover;
}
.action_small_wrapper:hover .special {
    background: url(/images/1.png);
    background-size: cover;
}