﻿.block_header {
    padding-bottom: 20px;
}
#main{
    padding-bottom: 0;
}
#main .left_block {
    min-height: 480px;
}
.mess_dialog{
    padding: 12px 0px 24px 34px;
    border-bottom: 1px solid #d9e2ec;
    min-height: 35px;
}

.mess_dialog:hover{
    background:#f1f4f7;
}

.mess_dialog img{
    height: 50px;
    width: 50px;
    float:left;
}

.mess_dialog div{
    padding-left: 63px;
    padding-top: 5px;
}

.mess_dialog h4{
    font-size: 15px;
    color: #000;
}

.mess_dialog p span{
    font-size: 13px;
    color: #999999;
}
.amount_new{
    font-size: 13px;
    color: #0066cc;
}
.mess_dialog p.mess_priv{
    font-size: 13px;
    color: #333333;
    width: 280px;
    margin-left: 330px;
    margin-top: -38px;
}
.mess_dialog .amount_new{
    font-size: 13px;
    color: #0066cc;
    font-weight: bold;
    margin-top: -25px;
    margin-left: 709px;
    background: wheat;
    width: 20px;
    height: 13px;
    padding: 3px 0px 7px 7px;
    border-radius: 5px;
    display:none;
    position:absolute;
}

.right_block form{
    margin-left: 34px;
}

.right_block input{
    width: 307px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #d9e8f8;
    padding: 0px 0 0 18px;
    font-size: 16px;
    color:#999;
}

.cont_blok{
    padding-bottom: 26px;
    border-bottom: 1px solid #d9e8f8;
    padding-top: 15px;
}

.cont_blok:first-child{
    padding-bottom: 26px;
    border-bottom: 1px solid #d9e8f8;
    padding-top: 0px;
}

.cont_blok img.rounded_3{
    height: 67px;
    width: 67px;
}

.cont_blok ul{
    list-style: none;
    margin-left: 85px;
    padding-bottom: 17px;
}

.cont_blok ul li{
    display: inline-block;
}
.cont_blok ul li:first-child{
    margin-right: 11px;
}

.cont_blok ul li p{
    font-size: 14px;
    color: #666;	
}

.cont_name{
    font-size: 15px;
    color: #0066cc;	
}

.cont_butt{
    font-size: 15px;
    color: #333333;
    background:#edf4fb;
    padding: 10px 20px;
    border-radius: 5px;
    margin-left: 17px;
    text-decoration: none;
}

.cont_blok .rounded_3{
    float:left;
}

.cont_blok:last-child{
    border:none;
}

.dia_blok{
    height: 54px;
    width: 340px;
    background: #edf4fb;
    border-radius: 3px;
    margin: 3px 0;	
}
.dia_blok_act{
    background: #0066cc !important;
}


.dia_blok .rounded_3{
    width: 37px;
    height: 37px;
    padding: 9px 0px 0 9px;
    float: left;	
}


.dia_blok .dia_name{
    font-size: 15px;
    color: #333333;
}

.dia_name_act{
    color: #fff !important;
}

.dia_blok .dia_name{
    font-size: 15px;
    color: #333333;
    font-weight: bold;
    padding-top: 18px;
    padding-left: 58px;
}

.dia_blok .amount_new{
    font-size: 13px;
    color: #0066cc;
    font-weight: bold;
    background: #FFF;
    width: 20px;
    height: 13px;
    padding: 3px 0px 7px 7px;
    border-radius: 5px;
    margin-left: 173px;
    margin-top: -20px;
    display:none;
}

.amount_new_act{
    display:none !important;
}

.amount_new_act2{
    display:block !important;
}

.dia_blok .closer{
    position: absolute;
    margin-left: 260px;
    margin-top: -22px;
    padding: 7px 7px;
    background: #a8bcd0;
}
.closer_act{
    background: #0057ae !important;
}

.left_block_cont{
    padding-left: 29px;
    padding-top: 20px;	
}

.mess_nav h3{
    font-size: 16px;
    color: #0066cc;	
}

.h3{
    text-decoration: none;
    position: absolute;
    margin-left: 13px;
    margin-top: 1px;
}

.mess_nav a p{
    font-size: 16px;
    color: #0066cc;		
}

.a_act{
    position:absolute;
    margin-left: 678px;
    margin-top: 1px;
}

.mess_nav{
    padding-top: 20px;
    border-bottom: 1px solid #d9e8f8;
    padding: 0 0 17px 21px;
}

.blok_mess img.rounded_3{
    width: 30px;
    height: 30px;
    float: left;
    padding: 0 15px 0 0;	
}

.blok_mess .mess_p{
    width: 566px;
    padding-left: 42px;
    word-wrap: break-word;
}

.blok_mess .mess_data{
    font-size: 13px;
    color: #999999;
    margin-top: -16px;
    margin-left: 670px;	
}

.blok_mess{
    padding-bottom: 24px;	
}

.scrollblock {
    overflow: auto;
    width: 752px;
    height: 490px;}

.mess_fut .rounded_3{
    width:49px;
    height:49px;
    float:left;
}

.mess_fut{
    background: #f0f3f5;
    overflow: hidden;
    padding-left: 29px;
    margin-left: -29px;
    padding-top: 16px;
    padding-bottom: 66px;
}

.mess_fut textarea{
    width: 396px;
    height:36px;
    resize: none;
    border: 1px solid #d9e8f8;
    border-radius: 3px;
    margin-bottom: 36px;
    padding:15px 12px 15px 12px;
    overflow: hidden;
}

.mess_fut form{
    margin-left: 57px;
}
.mess_fut .butt_otp{
    width: 106px;
    height: 37px;
    background: #0066cc;
    border: 1px solid #1075d9;
    border-radius: 4px;
    font-size: 15px;
    color: #fff;
    font-weight: bolder;
    margin-left: -427px;
    margin-top: 80px;
}
.mess_fut .smile_butt{
    margin-top: 90px;
    margin-left: 259px;
}

.mess_fut .foto_butt{
    margin-top: 90px;
    margin-left: 9px;
}

.img2_msg{
    position: absolute;
    margin-left: 440px;
}


.hiddendiv {
    display: none;
    white-space: pre-wrap;
    width: 420px;
    min-height: 36px;
    font-family: Arial, sans-serif;
    font-size: 13px;
    overflow: hidden;
    padding: 5px;
    word-wrap: break-word;
}

/*
 * CSS Styles that are needed by jScrollPane for it to operate correctly.
 *
 * Include this stylesheet in your site or copy and paste the styles below into your stylesheet - jScrollPane
 * may not operate correctly without them.
 */

.jspContainer
{
    overflow: hidden;
    position: relative;
}

.jspPane
{
    position: absolute;
}

.jspVerticalBar
{
    position: absolute;
    top: 0;
    right: 0;
    width: 5px;
    height: 100%;
    background: #fff;

}

.jspHorizontalBar
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background: red;
}

.jspCap
{
    display: none;
}

.jspHorizontalBar .jspCap
{
    float: left;
}

.jspTrack
{
    background: #fff;
    position: relative;
    width: 5px;
}

.jspDrag
{
    background: #edf4fb;
    position: relative;
    top: 0;
    left: 0;
    cursor: pointer;
    border-radius:3px;
    width: 5px;
}

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag
{
    float: left;
    height: 100%;
}

.jspArrow
{
    background: #50506d;
    text-indent: -20000px;
    display: block;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.jspArrow.jspDisabled
{
    cursor: default;
    background: #80808d;
}

.jspVerticalBar .jspArrow
{
    height: 16px;
}

.jspHorizontalBar .jspArrow
{
    width: 16px;
    float: left;
    height: 100%;
}

.jspVerticalBar .jspArrow:focus
{
    outline: none;
}

.jspCorner
{
    background: #eeeef4;
    float: left;
    height: 100%;
}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner
{
    margin: 0 -3px 0 0;
}