html{
    /*height: 100%;*/
    
}
body {margin:0;padding:0;background:#fff;word-wrap:break-word; overflow-y: scroll; }

body {
    min-height: 100%;
    height: 100%;
    background:url(/img/bg.jpg) no-repeat;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
    background-size:cover;
}
body.white{
    background-image: none;
}
.clr {clear:both;}
ul {list-style-type:none;}

/*  CONTENT  */
.wrap {width:100%;height:515px;padding-top:130px;}
.wrap1 {width:100%;height:100%;padding-top:40px;padding-bottom: 110px;display: none;}

/* INDEX */
/* LOGIN */
.content {width:100%;height:100%;}
.login {width:720px;height:455px;margin:0 auto;padding-top:60px;background:#fff;
        text-align:center;font:17px 'PT Sans', 'Myriad Pro', Verdana;color:#333;}
.login a {color:#448FB4;}
.login1 {position:relative;margin:0 auto;margin-bottom:37px;width:655px;height:360px;border:1px solid #D2D9E2;}
.login1 img {margin:0 auto;margin-top:-32px;}

/* FORM */
.form {margin:0 auto;padding-top:15px;width:540px;height:auto;text-align:center;}
.form div.pass {clear:both;margin:0;padding:0;position:relative;width:540px;}
.form div img {position:absolute;top:45px;right:24px;border:0;}
.img a {border:0;}
.form span {font:700 27px 'PT Sans', 'Myriad Pro', Verdana;color:#333;}
.f1, .f2 {margin-bottom:20px;padding:14px 20px 11px 20px;width:498px;font:17px 'PT Sans', 'Myriad Pro', Verdana;color:#333;border:1px solid #D2D9E2;}
.f1 {margin-top:38px;}
.f2 {}
.f3 {padding:15px 0 11px 0;text-transform:uppercase;text-align:center;border:1px solid #2972BC;border-radius:5px;
     font:700 20px 'PT Sans', 'Myriad Pro', Verdana;color:#fff;background:url(/img/bg_button1.png) repeat-x;width:540px;}
.f3:hover {cursor:pointer;}

/* INDEX 1 */
/* SLOGAN */
.slogan {padding:100px 0 60px 0;background:url(/img/logo2.png) center top no-repeat;width:100%;height:auto;font:700 40px 'PT Sans', 'Myriad Pro', Verdana;color:#333;text-align:center;}
.slogan span {color:#3399ff;}

/* REGFORM -- Registration form */
.regform {word-wrap:break-word;margin:0 auto;margin-bottom:85px;width:543px;height:auto;padding:28px 50px;border:11px solid #FDE625;font:16px 'PT Sans', 'Myriad Pro', Verdana;color:#333;}
.regform a {color:#448FB4;text-decoration:underline;}
.regform_zag {font:28px 'PT Sans', 'Myriad Pro', Verdana;color:#333;text-align:left;padding-bottom:34px;}
.regform_zag span {font:700 28px 'PT Sans', 'Myriad Pro', Verdana;}
.regform_text {padding-bottom:34px;}
.regform_text1 {}

.f4, .f5 {margin-bottom:20px;padding:14px 20px 11px 20px;width:216px;font:17px 'PT Sans', 'Myriad Pro', Verdana;color:#333;border:1px solid #D2D9E2;}
.f4 {margin-right:20px;}
.f5 {}
.f6{margin-bottom:20px;padding:14px 20px 11px 20px;width:498px;font:17px 'PT Sans', 'Myriad Pro', Verdana;color:#333;border:1px solid #D2D9E2;}
.f7 {padding:15px 0 11px 0;text-transform:uppercase;text-align:center;border:1px solid #EDD513;border-radius:5px;
     font:700 20px 'PT Sans', 'Myriad Pro', Verdana;color:#333;background:url(/img/bg_button2.png) repeat-x;width: 498px;margin-bottom:28px;}
.f7:hover {cursor:pointer;}

/* THANKS */
.thanks {width:100%;height:auto;}
.thanks_zag {width:100%;height:auto;padding:62px 0 50px 0;border-top:1px solid #D2D9E2;font:40px 'PT Sans', 'Myriad Pro', Verdana;color:#333;text-align:center;}
.thanks_logo {margin:0 auto;margin-bottom:77px;width:1180px;height:300px;border:1px solid #D2D9E2;background:url(/img/logos.jpg) center center no-repeat;}

/* INDEX 2 */
/* SLOGAN */
.slogan1 {padding:100px 0 0 0;background:url(/img/logo2.png) center top no-repeat;width:100%;height:auto;font:700 40px 'PT Sans', 'Myriad Pro', Verdana;color:#333;text-align:center;}
.slogan1 span {color:#3399ff;}
.slogan2 {padding:0;width:100%;height:auto;font:18px 'PT Sans', 'Myriad Pro', Verdana;color:#333;text-align:center;}

/* SLIDER */
.slider {margin:0 auto;margin-top:50px;width:1180px;height:auto;}
.slider_div {width:1100px;height:550px;}
.slider_s {width:1100px;height:492px;font:18px 'PT Sans', 'Myriad Pro', Verdana;color:#333;}
.slider_s a {font:18px 'PT Sans', 'Myriad Pro', Verdana;color:#448FB4;text-decoration:none;}
.slider_button {width:100%;height:58px;text-align:center;}
.slider_button1 {display:block;margin:0 auto;padding:15px 0 11px 0;width:240px;text-transform:uppercase;text-align:center;
                 border:1px solid #EDD513;border-radius:5px;font:700 20px 'PT Sans', 'Myriad Pro', Verdana;color:#333;
                 background:url(/img/bg_button2.png) repeat-x;text-decoration:none;}
/* Slide 1 */
.a1 {background:url(/img/a1.png) center top no-repeat;}
.a1 span {font:700 18px 'PT Sans', 'Myriad Pro', Verdana;text-align:center;}
.a1-2 {background:url(/img/a1-2.png) top no-repeat;}
.a1-2 span {font:700 18px 'PT Sans', 'Myriad Pro', Verdana;text-align:center;}
.a1a {float:left;padding-top:200px;width:500px;margin:0;text-align:center;}
.a1b {float:right;padding-top:128px;width:500px;margin:0 20px 0 0;text-align:center;}
/* Slide 2 */
.a2 {background:url(/img/a2.png) center top no-repeat;}
.a2 span {font:700 18px 'PT Sans', 'Myriad Pro', Verdana;text-align:center;}
.a2a {float:left;padding:128px 0 0 10px;width:500px;margin:0;text-align:center;}
.a2b {float:right;padding:200px 25px 0 0;width:500px;margin:0 20px 0 0;text-align:center;}
/* Slide 3 */
.a3 {background:url(/img/a3.png) center top no-repeat;}
.a3 span {font:700 18px 'PT Sans', 'Myriad Pro', Verdana;text-align:center;}
.a3a {float:left;padding:200px 0 0 20px;width:500px;margin:0;text-align:center;}
.a3b {float:right;padding:128px 20px 0 0;width:500px;margin:0 20px 0 0;text-align:center;}
/* Slide 4 */
.a4 {background:url(/img/a4.png) center top no-repeat;}
.a4 span {font:700 18px 'PT Sans', 'Myriad Pro', Verdana;text-align:center;}
.a4a {float:left;padding:128px 0 0 20px;width:500px;margin:0;text-align:center;}
.a4b {float:right;padding:200px 20px 0 0;width:500px;margin:0 20px 0 0;text-align:center;}
/* Slide 5 */
.a5 {background:url(/img/a5.png) center top no-repeat;}
.a5 span {font:700 18px 'PT Sans', 'Myriad Pro', Verdana;text-align:center;}
.a5a {float:left;padding:200px 0 0 20px;width:500px;margin:0;text-align:center;line-height: 16px;}
.a5b {float:right;padding:128px 20px 0 0;width:500px;margin:0 20px 0 0;text-align:center;}
/* Slide 6 */
.a6 {background:url(/img/a6.png) center top no-repeat;line-height: 18px;}
.a6 span {font:700 18px 'PT Sans', 'Myriad Pro', Verdana;text-align:center;}
.a6a {margin:0 auto;padding:190px 0 0 50px;width:500px;text-align:center;}

/*  FOOTER  */
footer {padding-top:23px;width:100%;min-width:1200px;height:67px;background:#0f1122;position: fixed; bottom: 0;z-index: 101;}
.footer1 {margin:0 auto;padding-top:10px;width:1200px;height:43px;font:17px 'PT Sans', 'Myriad Pro', Verdana;color:#fff;vertical-align:bottom;}
.footer1a {position:relative;padding-left:60px;width: 105%;}
.footer1a img {position:absolute;top:-11px;left:0;}
.footer1a {float:left;}
.footer1a span {display:block;float:left;}
.logo {float:left;font:19px 'PT Sans', 'Myriad Pro', Verdana;}
.yellow {padding:4px 0 0 20px;font:14px 'PT Sans', 'Myriad Pro', Verdana;color:#fae115;}
.menu {padding:0 0 0 30px;float:right;}
.menu a {display:block;float:left;margin:2px 20px;font:17px 'PT Sans', 'Myriad Pro', Verdana;color:#fff;text-decoration:none;border-bottom:1px solid #2C2F51;}
.menu a:hover {color:#fae115;border-bottom:1px solid #fae115;}


/* Slider */
#container {width:1180px;position:relative;margin:0 auto;}
#carousel {margin:0 auto;}
#ui-carousel-next, #ui-carousel-prev {
    width:38px;height:550px;background:url(/img/arrow-left.png) center center no-repeat;
    display:block;position:absolute;top:0;z-index:100;}
#ui-carousel-next {right: 0;background-image: url(/img/arrow-right.png);}
#ui-carousel-prev {left:0;}
#ui-carousel-next > span, #ui-carousel-prev > span {display:none;}

.slide {margin:0;position:relative;}
#pages {width:175px;margin:0 auto;margin-top:45px;margin-bottom:90px;}
.bullet {background: url(/img/page-off.png) center center no-repeat;display:block;width:18px;height:18px;margin:0;
         margin-right:5px;float:left;}

#log{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background: #000;
    color: #fae115;
}

.tip_wrap {
    display: inline-block;
    position: relative;
    height: auto;
}
.tooltip.positive {
    background: #eef8dd;
    border-color: #99b962;
}
.tooltip.negative {
    background: #ffefed;
    border-color: #ff2a0e;
}
.tooltip {
    position: absolute;
    width: 200px;
    padding: 16px 7px 16px 13px;
    z-index: 100;
    font-size: 13px;
    line-height: 20px;
    color: #333333;
    background: #FFF;
    border: 1px solid #bfd7e2;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    line-height: normal;
}
.tooltip .triangle {
    display: block;
    position: absolute;
    width: 12px;
    height: 6px;
    background-image: url(/img/tooltip.png);
    background-repeat: no-repeat;
}
.tooltip.top .triangle {
    bottom: -6px;
    left: 28px;
}
.tooltip.bottom .triangle {
    top: -6px;
    left: 28px;
}
.tooltip.right .triangle {
    left: -7px;
    top: 20px;
    width: 7px;
    height: 14px;
}
.tooltip.positive.top .triangle {
    background-position: -12px 0;
}
.tooltip.positive.right .triangle {
    background-position: -12px -12px;
}
.tooltip.positive.bottom .triangle {
    background-position: -12px -6px;
}
.tooltip.negative.top .triangle {
    background-position: -24px 0;
}
.tooltip.negative.right .triangle {
    background-position: -24px -12px;
}
.tooltip.negative.bottom .triangle {
    background-position: -24px -6px;
}
.tooltip.neutral.top .triangle {
    background-position: 0 0;
}
.tooltip.neutral.right .triangle {
    background-position: 0 -12px;
    left: -6px;
}
.tooltip.neutral.bottom .triangle {
    background-position: 0 -6px;
}


.bg_a{
    top: -1000px;
    position: absolute;
    z-index: 99999;
    display: none;
    width: 100%;
    height: 709px;
    background: url(/img/bg_a.jpg) repeat-x;
}
.bg_c{
    margin: -140px 25px 0 0;
    float: right;
    width: 24px;
    height: 24px;
    position: relative;
    background: url(/img/bg_c.png) no-repeat;
}
.bg_c a{
    display: block; 
    width: 100%;
    height: 100%;
    text-decoration: none;
}
.bg_w{
    margin: 0 auto;
    width: 1064px;
}
.bg_t{
    width: 1064px;
    height: 148px;
    background: url(/img/bg_t.png) center no-repeat;
    padding-top: 460px;
}
.bg_t div{
    font-family: 'PT Sans', sans-serif;
    display: inline-block;
    font-size: 140px;
    color: #FFFFFF;
    position: absolute;
    float: left;
}
.col1{
    margin: -235px 0 0 28px;
}
.col2{
    margin: -235px 0 0 236px;
}
.col3{
    margin: -235px 0 0 461px;
}
.col4{
    margin: -235px 0 0 688px;
}
.col5{
    margin: -235px 0 0 903px;
}
.bg_title, .bg_footer{
    padding-top: 20px;
    font-size: 90px;
    font-family: 'PT Sans', sans-serif; 
    text-align: center;  
    color: #FFFFFF;  
    position: relative;
    float: left;
    width: 100%;           
}
.bg_title span{
    color: #ffe82c;
}
.bg_title span.bg_more{
    color: #FFFFFF;
    font-size: 26px;
    font-family: 'PT Sans', sans-serif; 
    display: block;
    margin-top: 5px;
}
.bg_footer{
    font-size: 24px;
    margin-top: -180px;
}

#aut_go2 + div span {
    font-size: 12px;
}