.KEmoji_Block {
    display: block;
    position: relative;
    margin: 0 auto;
    text-align: left;
}

.KEmoji_Block .KEmoji_Input {
    /*display: block;
    position: relative;
    width: 100%;
    height: 100%;*/
}

.KEmoji_Block .KEmoji_Input > div[contenteditable=true] {
    display: block;
    position: relative;
    z-index: 10;
    box-sizing: border-box;
    height: 100%;
    padding: 10px;
    padding-right: 20px;
    background: #fff;
    font-size: 14px;
    outline: none;
    border-radius: 4px 4px 0 0;
    line-height: 150%;
    overflow-x: hidden;
    overflow-y: auto;
    word-wrap: break-word;
    cursor: text;
}

.KEmoji_Block .KEmoji_Input > div[contenteditable=true] img {
    height: 16px;
    margin: 0 4px;
    cursor: text;
}

.KEmoji_Block .KEmoji_Clear {
    clear: both;
}

.KEmoji_Block .KEmoji_Cont {
    display: none;
    position: absolute;
    height: 200px;
    border: 1px solid #ccc;
    border-radius: 4px;
    z-index: 5;
}

.KEmoji_Block .KEmoji_Cont::after {
    content: '';
    position: absolute;
    top: -10px;
    right: 25px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 10px solid white;
}

.KEmoji_Block .KEmoji_Cont > div {
    background: #fff;
    width: 280px;
    height: 200px;
    padding: 5px;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
}

.KEmoji_Block .KEmoji_Cont .KEmoji_Smile {
    float: left;
    padding: 1px;
    cursor: pointer;
}

.KEmoji_Block .KEmoji_Cont .KEmoji_Smile > div {
    width: 26px;
    height: 26px;
    line-height: 26px;
    text-align: center;
}

.KEmoji_Block .KEmoji_Cont .KEmoji_Smile > div i {
    display: inline-block;
    margin-top: 5px;
}

.KEmoji_Block .KEmoji_Cont .KEmoji_Smile > div:hover {
    background: #ccc;
    border-radius: 2px;
}

.KEmoji_Block .KEmoji_TollBar {
    width: 15px;
    height: 15px;
    position: absolute;
    border-radius: 0 0 4px 4px;
    right: 0;
    top: 0;
    z-index: 55;
}

.KEmoji_Block .KEmoji_TollBar .KEmoji_Smiles_Show_Button {
    float: right;
    margin-top: 5px;
    margin-right: 5px;
}

.KEmoji_Block .KEmoji_TollBar .KEmoji_Smiles_Show_Button > div {
    width: 20px;
    height: 23px;

    background: url(/images/mdia-spr.png);
    background-size: cover;
    cursor: pointer;
}

.KEmoji_Submit {
    position: absolute;
    right: 0px;
    bottom: -30px;
}

.KEmoji_Submit > div {
    display: inline-block;
    padding: 0 20px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: #eee;
    border: 1px solid #eee;
    font-size: 12px;
    cursor: pointer;
}

.KEmoji_Submit > div:hover {
    border: 1px solid #aaf;
}
