.sinfo_img .sinfo_img_toolbox {
    display: none;
}

.sinfo_img:hover .sinfo_img_toolbox {
    display: block;
}

.main_slider .slider_toolbox {
    display: none;
}

.main_slider:hover .slider_toolbox {
    display: block;
}

.main_slider {
    overflow: hidden;
}

.slideNx {
    text-align: center;
    width: 1181px;
    height: 478px;
    background-repeat: repeat-x;
    background-position: right;
}

.main_slider .slider_info.bg {
    -webkit-filter: url(#blur);
    filter: url(#blur);
    -webkit-filter: blur(10px);
    filter: blur(10px);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='10');
    -webkit-transition: 1s -webkit-filter linear;
    transition: 1s filter linear;
    background: none;
}

.balance_block {
    margin-top: 150px !important;
    padding-top: 0px !important;
}

.balance_block .left_block {
    padding-top: 13px;
    border-right: none !important;
}

.balance_block .right_block {
    border-left: none !important;
}

body.balance {
    background: #edf4fb;
}

.balance_block h2.fwz {
    font-size: 45px;
    margin-bottom: 20px;
}

.right_links li {
    border-left: 1px solid #d9e8f8;
    border-bottom: 1px solid #d9e8f8;
    color: #0066cc;
    text-decoration: underline;
    font-size: 21px;
}

.right_links li a {
    color: inherit;
    text-decoration: inherit;
    padding: 31px 0px 31px 27px;
    display: block;
}

.right_links li.active, .right_links li:hover {
    background-color: #152041;
    color: white;
    border-bottom: 1px solid #152041;
    text-decoration: none;
}

.balance_block .line {
    background-color: #d9e8f8;
    width: 100%;
    height: 1px;
}

.balance_block .block_content {
    background: none !important;
    padding: 37px 0 0 40px;
    min-height: 211px;
}

.balance_block .cabinet_wrapper {
    position: relative;
}

.balance_block .cabinet_wrapper .cab_block {
    float: left;
}

.balance_block .cabinet_wrapper .cab_block.cab_avatar {
    position: relative;
}

.balance_block .cab_avatar .cab_logo {
    position: absolute;
    left: 50%;
    margin-left: 25px;
    margin-top: 110px;
}

.balance_block .cabinet_wrapper .cab_block.cab_info {
    /*padding-right: 100px;*/
    width: 400px;
    margin-left: 75px;
}

.balance_block .cab_block .cinfo_block {
    /*padding: 23px 0px 23px 0px;*/
    color: #333333;
    font-size: 15px;
    /*width: 100%;*/
}

.balance_block .cab_block .cinfo_block.last {
    border-bottom: none;
}

.balance_block .cab_block .cinfo_name {
    font-size: 35px;
    color: #152041;
}

.balance_block .cab_block .cinfo_age {
    margin: 15px 0px 15px 0px;
}

.balance_block .cab_block .cinfo_general {
    line-height: 24px;
}

.balance_block .cab_block .cinfo_block.cinfo_block_balance {
    font-size: 16px;
    margin-top: 45px;
}

.balance_block .cab_block .cinfo_balance_label {
    font-size: 16px;
    color: #000001;
    padding-left: 30px;
    background: url(../images/popup-ico-balance.png) left center no-repeat;
    margin-bottom: 10px;
    font-weight: bold;
}

.balance_block .cab_block .cinfo_balance {
    font-size: 29px;
    color: #375876;
    margin-right: 20px;
}

.balance_block .cabinet_wrapper .cab_edit_btn {
    position: absolute;
    right: 30px;
    top: 40px;
}

.balance_block_content {
    height: 127px;
    width: 100%;
    background: url(../images/balance_bg.jpg) repeat-x;
    color: #333333;
    font-size: 21px;
    border-top: 1px solid #d9e8f8;
    border-bottom: 1px solid #d9e8f8;
}

.balance_block_content div {
    margin-top: 40px;
    margin-left: 45px;
    position: absolute;
}

.balance_block_content div input {
    height: 45px;
    width: 124px;
    background-color: white;
    color: #000;
    font-weight: bold;
    font-size: 20px;
    outline: none;
    border: none;
    border: 1px solid #d3e4f5;
    text-align: right;
    padding-right: 53px;
    margin: 0 10px 0 25px;
    vertical-align: middle;
    display: inline-block;
}

#rub {
    margin-left: -60px;
    margin-top: 11px;
    width: 100px;
    position: absolute;
    color: #999999;
}

#wmr {
    margin-left: -310px;
    margin-top: 9px;
    width: 30px;
    position: absolute;
    color: #999999;
}

.block_content.history {
    border-bottom: none !important;
}

.history table {
    padding-right: 10px;
}

.h_date {
    font-size: 14px;
    color: #999999;
}

.h_info {
    font-size: 16px;
    color: #003366;
}

.h_amount {
    font-size: 16px;
    text-align: right;
}

.h_status0, .h_status2 {
    color: #ff2a0e;
}

.h_status1 {
    color: #339900;
}

tr.h_line td {
    height: 15px;
}

tr.h_line:last-child {
    display: none;
}

.noti {
    display: none !important;
}

.width46 {
    width: 46px;
}

.width30 {
    width: 30px;
}

.width20 {
    width: 20px;
}

.width71 {
    width: 71px;
}

#uploadList li .pmain_toolbox a img {
    display: none;
}

#uploadList li:hover .pmain_toolbox a img {
    display: inline-block;
}

.wall_icon.wall_icon_repost {

}

.wall_post_toolbox_bottom_right .wall_icon.wall_icon_counter,
.wall_post_toolbox_bottom_right .wall_icon.wall_icon_counter_y {
    margin-right: 0;
}

.wall_post_toolbox_bottom_right .wall_icon.wall_icon_counter + ul li:first-child a,
.wall_post_toolbox_bottom_right .wall_icon.wall_icon_counter_y + ul li:first-child a {
    margin-left: 15px;
}

.sinfo_img .circled {
    width: 156px;
}

img.mini-avatar {
    width: 46px;
}

.short_info td.second_col {
    vertical-align: top;
}

.top_block .tb_popup {
    top: 65px;
}

.popup_searchlocation {
    top: 60px;
}

.main_slider .slider_info .sinfo_amount {
    position: absolute;
    bottom: 30px;
    width: 100%;
}

.wall_wrapper .wall_icon_repost_y {
    background-image: url(../images/icon_wall_repost_y.gif);
}

.body-search {

}

.body-search #main, .body-messages #main, .body-message #main, .body-albums #main {
    padding-top: 99px;
}

.body-search .right_block, .body-messages .right_block, .body-albums .right_block {
    padding-top: 15px;
}

.body-search .left_block, .body-messages .left_block, .body-albums .left_block {
    padding-top: 20px;
}

.backme {
    height: 35px;
    padding-top: 20px;
    padding-left: 20px;
}

.block_search {
    background-color: #edf4fb;
    padding: 20px;
    border-bottom: 1px solid #d9e8f8;
    border-top: 1px solid #d9e8f8;
}

.block_search input.search_left {
    border: none;
    background-color: white;
    font-size: 15px;
    padding: 11px 8px 11px 15px;
    color: #666666;
    font-style: italic;
    width: 726px;
    outline: none;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #d9e8f8;
}

.sContact {
    width: 272px;
    display: inline-block;
}

.sContact {
    width: 272px;
    display: inline-block;
    padding-top: 27px;
}

.scLeft, .scRight {
    display: inline-block;
}

.scRight {
    padding-left: 15px;
    vertical-align: top;
}

.scLeft img {
    width: 90px
}

.block_content span.href {
    display: block;
    float: left;
}

.block_content span.href {
    background-color: #0066cc;
    padding: 4px 8px 4px 8px;
    margin-top: 11px;
    margin-left: 14px;
    width: 144px;
    text-align: center;
}

.block_content span.href a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.scRight span.middle {
    padding: 4px 0;
    display: inline-block;
    line-height: 29px;
    font-size: 14px;
    color: #666666;
}

.scRight a:first-child {
    font-size: 17px;
}

.scRight span.href {
    margin: 0;
}

.body-search .left_block .block_header {
    display: none;
}

.body-search .left_block .block_content {
    padding: 0;
    margin: 0;
    padding: 0 27px;
}

.body-search .block_content .delimer {
    width: 100px;
    display: inline-block;
}

.photos_contacts img {
    width: 77px;
}

.cont_blok ul li:first-child {
    margin-right: 3px !important;
}

.body-message .left_block {
    padding-top: 35px;
}

.body-contacts .styled-select select {
    width: inherit;
    padding-right: 50px;
}

.body-contacts .styled-select select[name="year1"],
.body-contacts .styled-select select[name="year2"] {
    width: inherit;
    padding-right: 30px;
}

.body-contacts .styled-select {
    width: auto;
    background-color: #FFF;
}

.body-contacts .block_field {
    margin-left: 12px;
    display: inline-block;
}

.body-contacts .block_field:first-child {
    margin-left: 0;
}

.yline {
    font-size: 20px;
    color: #a7b5c4;
}

.body-contacts .block_search input.search_left {
    margin-top: 10px;
}

.body-contacts .block_search {
    padding: 10px 20px;
}

.body-contacts .contact img.rounded_3 {
    width: 78px;
    height: 78px;
}

.body-contacts .contact {
    margin-top: 15px;
    margin-bottom: 5px;
}

.body-contacts .left {
    display: inline-block;
}

.body-contacts .right {
    vertical-align: top;
    display: inline-block;
    margin-left: 10px;
}

.body-contacts .right form {
    display: inline;
}

.btn1 {
    background-image: url('/images/btn1.png');
    background-repeat: repeat-x;
    border: 1px solid #dee9f3;
    outline: none;
    height: 37px;
    cursor: pointer;
    border-right: 0;
    padding: 0 15px;
}

.btn1w {
    border: 1px solid #dee9f3;
}

.body-contacts .btn1 {
    margin-top: 20px;
}

.btn1:active {
    outline: 1px inset white;
}

.body-contacts .contact a {
    color: #0066cc;
    font-size: 17px;
}

.body-contacts .contact .icontact {
    /*color: #ff6666;*/
    margin-left: 25px;
}

.online_ico {
    width: 6px;
    height: 6px;
    vertical-align: middle;
    margin-left: 3px;
}

.body-main #main {
    padding-top: 119px;
}

#main .right_block {
    width: 389px;
}

.chosen-select-city, .chosen-select-country {
    width: 356px;
}

.cont {
    position: absolute;
    bottom: 16px;
    right: 21px;
}

.cont button {
    margin-left: 8px;
    background-color: #0066cc;
    color: #FFF;
    font-size: 17px;
    font-weight: bold;
    padding: 8px 10px;
    border: 0;
    outline: 0;
    cursor: pointer;
    padding-left: 44px;
}

.cont button:hover {
    background-color: #046dd5;
}

.cont button:nth-child(1) {
    min-width: 200px;
    background-image: url(/images/sc.png);
    background-repeat: no-repeat;
    background-position: 14px 12px;
}

.cont button:nth-child(2) {
    background-image: url(/images/sc.png);
    background-repeat: no-repeat;
    background-position: 14px -16px;
}

.cont button:nth-child(3) {
    background-image: url(/images/sc.png);
    background-repeat: no-repeat;
    background-position: 14px -43px;

}

.block_content span.href {

}

@media screen and (min-width: 5000px) {
    .extended_search {
        display: none;
    }
}

@media only screen and (device-width: 768px) {
    .extended_search {
        display: none;
    }
}

.body-albums #main {
    /*padding-top: 80px;*/
}

.body-albums .backme {
    border-bottom: 1px solid #d9e8f8;
}

.body-albums .left_block {
    /* padding-top: 0;*/
}

.actRight {
    float: right;
    margin-top: 12px;
    margin-right: 30px;
}

.album {
    position: relative;
    width: 360px;
    margin: 3px 6px;
    display: inline-block;
}

.album .preview {
    height: 190px;
    overflow: hidden;
}

.album .act {
    position: absolute;
    right: 0;
    margin: 7px;
}

.album .desc {
    border: 1px solid #e1e9f1;
    border-top: none;
    height: 75px;
    padding-left: 17px;
}

.no_round_top {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    -webkit-border-top-left-radius: 0px;
    -webkit-border-top-right-radius: 0px;
    -moz-border-radius-topright: 0px;
    -moz-border-radius-topleft: 0px;
}

.no_round_bottom {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-bottomleft: 0px;
}

.desc a {
    font-size: 17px;
    padding: 15px 0;
    display: block;
    padding-bottom: 5px;
}

.desc .gray {
    color: #999999;
    font-size: 13px;
}

.preview img {
    width: 360px;
}

.hiddenAct:before {
    content: ' ';
    background: url('/images/triangle.png') no-repeat;
    width: 10px;
    height: 4px;
    margin-top: -14px;
    right: 7px;
    position: absolute;
}

.hiddenAct {
    display: none;
    padding: 10px 5px;
    width: 190px;
    position: absolute;
    background-color: #FFF;
    margin-left: -176px;
}

.hiddenAct a {
    display: block;
    color: #999;
    font-size: 15px;
    text-decoration: none;
}

.hiddenAct a:hover {
    color: #000001;
}

.button_add_photo {
    display: block;
    font-weight: bold;
    font-size: 19px;
    color: #96a9bd;
    text-align: center;
    background-color: #edf4fb;
    padding: 20px 0;
    cursor: pointer;
}

.photo {
    position: relative;
}

.photo {
    width: 110px;
    height: 110px;
    overflow: hidden;
    margin: 5px;
    display: inline-block;
}

.photo img {
    width: 110px;
}

.photo:hover .delete {
    display: block;
}

.photo .delete {
    display: none;
    position: absolute;
    right: 0;
    margin: 3px;
}

.photo .delete img {
    width: auto;
}

.left_form {
    width: 415px;
}

.left_form span {
    color: #333333;
    font-size: 16px;
    display: block;
    margin-top: 20px;
}

.photos.set span {
    color: #333333;
    font-size: 16px;
    display: block;
    margin-bottom: 5px;
}

.left_form span:first-child {
    margin-top: 0;
}

.left_form input[type="text"] {
    width: 393px;
    height: 42px;
    padding: 0 0 0 15px;
    border-radius: 7px;
    border: 1px solid #d3e4f5;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    font-weight: normal;
}

.left_form textarea {
    width: 393px;
    height: 90px;
    padding: 10px 0 0 15px;
    border-radius: 7px;
    border: 1px solid #d3e4f5;
    resize: none;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    font-weight: normal;
}

.left_form .styled-select {
    display: inline-block;
    width: 200px;
    vertical-align: middle;
}

.left_form .styled-select select {
    width: 200px;
}

.left_form .w {
    padding-right: 5px;
    display: inline-block;
}

.left_form, .right_form {
    display: inline-block;
}

.right_form {
    width: 290px;
    vertical-align: top;
    padding-left: 15px;
    padding-top: 20px;
}

.right_form .overflow {
    width: 287px;
    height: 187px;
    overflow: hidden;
}

.right_form img {
    display: block;
    margin-bottom: 10px;
}

.photos.set .photo img {
    display: inline-block;
}

.photos.set {
    margin-top: 15px;
}

.photos.set .comm {
    vertical-align: top;
    display: inline-block;
    margin-left: 5px;
}

.photos.set .photo {
    width: 100%;
    display: block;
}

.photos.set textarea {
    width: 590px;
    height: 62px;
    padding: 10px 0 0 15px;
    border-radius: 3px;
    border: 1px solid #d3e4f5;
    resize: none;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    font-weight: normal;
}

.photos.set .delete {
    right: 9px;
}

.gallery-image {
    overflow: hidden;
    height: 187px;
}

.gallery-image img {
    width: 309px;
}

#divCrop {
    padding: 15px;
    background-color: #FFF;
    position: absolute;
    z-index: 999;
    text-align: center;
    display: none;
}

#divCrop h1 {
    color: #0f1731;
    font-size: 18px;
    margin: 0;
    padding: 0;
    text-align: left;
}

#appendCrop {
    margin-top: 10px;
    background-color: #0066cc;
    color: #FFF;
    border: 1px solid #1075d9;
    font-size: 16px;
    padding: 5px 10px;
}

#cancelCrop {
    margin-top: 10px;
    background-color: #f6f6f6;
    color: #003366;
    border: 1px solid #e4e6e7;
    font-size: 16px;
    padding: 5px 10px;
}

#shortAbout {
    position: relative;
    padding-bottom: 0px;
}

#shortAbout.open {
    padding-bottom: 35px;
}

#main #shortAbout.open .short_info {
    margin-bottom: 10px;
}

#main .short_info {
    margin-bottom: 20px;
}

#showAllInfo {
    margin-top: 35px;
    color: #0066cc;
    border-bottom: 1px dotted #0066cc;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
}

/*******************************************/
.grid_wall_images {
    width: 100%;
    text-align: center;
}

.grid_wall_images .img_1 {
    text-align: center;
}

.grid_wall_images .img_1 a {
    width: 98%;
    height: auto !important;
}

.grid_wall_images .img_2 a {
    width: 45%;
    padding: 0 1px;
}

.grid_wall_images .img_3 a {
    width: 30%;
    vertical-align: middle;
    padding: 0 3px;
}

.grid_wall_images .img_4 a {
    width: 45%;
    vertical-align: middle;
    padding: 1px;
}

.grid_wall_images .img_5 a {
    width: 30%;
    vertical-align: middle;
    padding: 0 1px;
}

.grid_wall_images .img_5 a:nth-child(1),
.grid_wall_images .img_5 a:nth-child(2) {
    width: 45%;
    vertical-align: middle;
    margin: 0 1px;
    margin-bottom: 1px;
}

.grid_wall_images a {
    display: inline-block;
    width: 45%;
    overflow: hidden;
}

.grid_wall_images img {
    width: 100% !important;
}

#divCrop {
    min-width: 1181px;
    top: 60px;
}

.jcrop-holder {
    display: inline-block;
}

.mini-dialog {
    position: fixed;
    bottom: 0;
    z-index: 9999;
    right: 0;
    width: 300px;
    /*overflow: hidden;*/
    background-color: #f6f9fb;
}

.mini-dialog .mheader {
    background-color: #0066cc;
    font-size: 14px;
    color: #ffffff;
    padding: 8px 10px;
    position: relative;
}

.mini-dialog .mheader a.close {
    width: 16px;
    height: 16px;
    position: absolute;
    right: 5px;
}

.mini-dialog .mheader a.set {
    width: 13px;
    height: 13px;
    position: relative;
    right: 20px;
    top: 2px;
    float: right;
}

.mini-dialog .mheader .set-tooltip {
    position: absolute;
    background: #FFF;
    width: 168px;
    height: 64px;
    top: -100px;
    left: 55px;
    padding: 18px 18px;
    display: none;
}

.mini-dialog .mheader .set-tooltip a {
    text-decoration: none;
    color: #becdd7;
    font-size: 14px;
    display: block;
    line-height: 25px;
}

.mini-dialog .mheader .set-tooltip a:hover {
    color: #0066cc;
}

.mini-dialog .mheader .set-tooltip::after {
    content: '';
    position: absolute;
    width: 6px;
    height: 12px;
    background: url(/images/mdia-mfy.png);
    right: 35px;
    bottom: -9px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
}

.mini-dialog .mheader .set-tooltip {

}

.mini-dialog .mheader a.close i.mdia-close {
    display: block;
    width: 16px;
    height: 16px;
    background: url(/images/mdia-close.png);
}

.mini-dialog .mheader a.set i.mdia-set {
    display: block;
    width: 13px;
    height: 13px;
    background: url(/images/mdia-set.png);
}

.mini-dialog .mheader span {
    font-size: 14px;

}

.rounded_50p {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.mini-dialog .timeline {
    width: 100%;
    background: url(/images/mdia-tl-bg.png) repeat-x;
    background-position: 0px 12px;
    text-align: center;
    margin: 7px 0;
}

.mini-dialog .timeline span {
    font-size: 12px;
    color: #a7a8a8;
    background-color: #f6f9fb;
    padding: 0 7px;
}

.mini-dialog .messages {
    border-left: 1px solid #d9e8f8;
    overflow-y: scroll;
    max-height: 225px;
    height: 225px;
}

.mini-dialog .messages::-webkit-scrollbar {
    background-color: #becdd7;
}

.mini-dialog .messages::-webkit-scrollbar-track {
    background-color: #dbe6ed;
}

.mini-dialog .messages::-webkit-scrollbar-thumb {
    background-color: #becdd7;
}

/*** Mozilla **/
@-moz-document url-prefix() {
}

.mini-dialog .messageI .time {
    font-size: 12px;
    display: inline-block;
    color: #999999;
    margin-right: 10px;
    margin-top: 3px;
    float: right;
}

.mini-dialog .messageI, .mini-dialog .messageYou {
    margin: 10px 0;
}

.mini-dialog .messageI .text {
    background-color: #0066cc;
    color: #FFF;
    text-align: right;
    font-size: 13px;
    padding: 10px 13px 10px 9px;
    position: relative;
    display: inline-block;
    max-width: 145px;
    margin-left: 12px;
    float: right;
    right: 14px;
    word-wrap: break-word;
}

.mini-dialog .messageI .text::after {
    content: '';
    position: absolute;
    width: 6px;
    height: 12px;
    background: url(/images/mdia-mfi.png);
    right: -6px;
    top: 9px;
}

/****/

.mini-dialog .messageYou .text {
    background-color: #ffffff;
    color: #000;
    text-align: right;
    font-size: 13px;
    padding: 10px 13px 10px 9px;
    position: relative;
    display: inline-block;
    max-width: 127px;
    margin-left: 0px;
    float: left;
    left: 14px;
    word-wrap: break-word;
    border: 1px solid #ccdfec;
}

.mini-dialog .messageYou .avatar {
    display: inline;
    float: left;
    margin-left: 5px;
    margin-top: 5px;
}

.mini-dialog .messageYou .time {
    font-size: 12px;
    display: inline-block;
    color: #999999;
    margin-left: 20px;
    margin-top: 3px;
    float: left;
}

.mini-dialog .messageYou .text::after {
    content: '';
    position: absolute;
    width: 9px;
    height: 14px;
    background: url(/images/mdia-mfy.png);
    left: -7px;
    top: 9px;
}

.mini-dialog .mfooter {
    background-color: #FFF;
    height: 55px;
    border-left: 1px solid #d9e8f8;
    border-top: 1px solid #d9e8f8;
    position: relative;
}

.mini-dialog .mfooter textarea {
    background-color: transparent;
    color: #000;
    border: none;
    outline: none;
    padding-top: 7px;
    width: 220px;
    resize: none;
    height: 45px;
}

.mini-dialog .mfooter a.addphoto {
    display: inline-block;
    position: absolute;
    right: 28px;
    top: 8%;
    z-index: 50;
}

.mini-dialog .mfooter a.addphoto i.addphoto {
    display: block;
    width: 16px;
    height: 16px;

    background: url(/images/mdia-spr.png);
    width: 18px;
    height: 25px;
    background-position: -24px 0;
}

.mini-dialog .mfooter a.send {
    background-color: #0066cc;
    width: 29px;
    height: 25px;
    display: inline-block;
    position: absolute;
    right: 4px;
    top: auto;
    bottom: 1px;
    z-index: 60;
}

.mini-dialog .mfooter a.send i.send {
    background: url(/images/mdia-spr.png);
    display: block;
    width: 29px;
    height: 25px;
    background-position: -47px 0;
}

/********/
.fancybox-close {
    color: #FFF;
    background-image: url(/images/p-close.png) !important;
    background-color: #0066cc;
    top: 0px;
    right: -36px;

}

.fancybox-skin {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.fancybox-skin {
    background-color: #edf1f6;
}

.photo-time {
    font-size: 13px;
    color: #999999;
    padding-top: 10px;
    background-color: #edf1f6;
    padding: 10px 20px;
    z-index: 999999;
    position: relative;
    border-bottom: 1px solid #e6eaf5;
}

.p-time {
    float: left;
    display: inline-block;
}

.p-album {
    float: right;
    display: inline-block;
}

.photo-repost-like .wall_icon {
    color: #96a9bd;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 0px 5px 22px;
    text-decoration: none;
    background: none;
    outline: none;
    cursor: pointer;
    background-position: left center;
    background-repeat: no-repeat;
}

.photo-repost-like .wall_icon_counter_y {
    background-image: url(../images/icon_wall_counter_y.png);
}

.photo-repost-like .wall_icon_counter {
    background-image: url(../images/icon_wall_counter.png);
}

.photo-repost-like ul, .photo-repost-like a {
    float: left;
}

.photo-repost-like ul {
    margin-top: 4px;
}

.photo-repost-like .wall_icon.wall_icon_counter + ul li:first-child a, .photo-repost-like .wall_icon.wall_icon_counter_y + ul li:first-child a {
    margin-left: 15px;
}

.photo-repost-like ul a {
    margin-right: 3px;
}

.photo-repost-like {
    font-size: 13px;
    color: #999999;
    padding-top: 10px;
    background-color: #FFF;
    padding: 10px 20px 10px 20px;
    z-index: 999999;
    position: relative;

}

.photo-repost-like .likes {
    float: right;
}

.fancybox-wrap .loading {
    background-color: #FFF;
    text-align: center;
    position: relative;
    font-size: 15px;
    padding: 20px;
}

.chosen-container-multi .chosen-choices {
    overflow-y: scroll;
}

.mess_dialog[data-flag="6"] {
    background-color: papayawhip;
}

body {
    background: #edf4fb;
}

#main {
    -webkit-box-shadow: 0px 0px 60px 1px rgba(166, 166, 166, 0.5);
    -moz-box-shadow: 0px 0px 60px 1px rgba(166, 166, 166, 0.5);
    box-shadow: 0px 0px 60px 1px rgba(166, 166, 166, 0.5);
}

#footer {
    background: #edf4fb;
    height: auto;
}

.wall_post .wall_post_message {
    word-wrap: break-word;
}

a.deleteMessage {
    display: none;
}

.blok_mess:hover a.deleteMessage {
    display: inline;
}

a.deleteMessage img, a.clearDialog img {
    width: 11px;
    height: 11px;
    padding: 0;
    float: right;
    padding-right: 5px;
}

a.clearDialog {
    display: none;
    float: right;
    margin-top: -20px;
    margin-right: 4px;
}

.mess_dialog:hover a.clearDialog {
    display: block;
}

.mess_nav {
    position: relative;
}

.mess_nav .set-tooltip {
    position: absolute;
    background: #FFF;
    width: 168px;
    right: -5px;
    padding: 18px 18px;
    display: none;
    border: 1px solid #cee0ed;
    z-index: 5;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    top: 28px;
}

.mess_nav .set-tooltip a {
    text-decoration: none;
    color: #becdd7;
    font-size: 14px;
    display: block;
    line-height: 25px;
}

.mess_nav .set-tooltip a:hover {
    color: #0066cc;
}

.mess_nav .set-tooltip::after {
    content: '';
    position: absolute;
    width: 6px;
    height: 12px;
    background: url(/images/mdia-mfy.png);
    right: 35px;
    top: -9px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}

.mphotos {
    position: absolute;
    background-color: #FFFFFF;
    top: -68px;
    right: 13px;
    padding: 10px;
    max-width: 130px;
    display: none;
    border: 1px solid #cee0ed;
}

.mphotos div {
    display: inline-block;
    position: relative;
    max-height: 46px;
    overflow: hidden;
}

.mphotos div img {
    max-width: 64px;
}

.mphotos div a {
    background: url(/images/icon-delete-blue.png);
    width: 11px;
    height: 11px;
    position: absolute;
    top: 2px;
    right: 2px;
}

.mphotos::after {
    content: '';
    position: absolute;
    width: 6px;
    height: 12px;
    background: url(/images/mdia-mfy.png);
    right: 35px;
    bottom: -9px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
}

.messageYou .text img, .messageI .text img {
    max-width: 128px;
    display: block;
}

.mess_p img {
    max-width: 50%;
    display: block;
}

.tb_messages .tb_amount {
    display: none;
}

#formMessage .mphotos {
    margin-top: 10px;
    position: relative;
    background-color: transparent;
    top: inherit;
    right: inherit;
    padding: inherit;
    max-width: inherit;
    display: block;
    border: none;
}

#formMessage .mphotos::after {
    content: inherit;
}

#formMessage .mphotos div {
    display: inline-block;
    position: relative;
    max-height: 100px;
    overflow: hidden;
    margin-right: 5px;
    vertical-align: middle;
}

.mess_fut {
    padding-bottom: 30px !important;
}

#formMessage .mphotos div img {
    max-width: 100px;
}

a[rel="messages"] {
    display: inline-block;
    margin: 1px 1px;
}

.mess_p span, .messageYou .text span, .messageI .text span {
    display: block;
}

.fileInMessage, .mess_dialog img.fileInMessage {
    width: 16px;
    height: 16px;
    vertical-align: middle;
    float: none;
}

.delComment {
    display: block;
    float: right;
}

.wall_post_message {
    position: relative;
}

.toolbox_comment {
    position: absolute;
    bottom: 15px;
    right: 0;
}

ul.photos_main {
    /* float: left;*/
    clear: both;
    overflow: hidden;
    /*height: 113px;*/
}

.pmain_toolbox {
    display: none;
}

ul.photos_main li:hover .pmain_toolbox {
    display: block;
}

.alert {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
    margin-right: 20px;
}

.alert.danger {
    color: #a94442;
    border-left-color: #ce4844;
}

.video {
    width: 360px;
    height: 200px;
    position: relative;
    margin: 3px 6px;
    display: inline-block;
}

.video a:first-child, div[data-video] a:first-child {
    display: block;
    position: relative;
    z-index: 5;
    width: 100%;
    height: 100%;
    background-size: cover !important;
}

.video:hover a.delete {
    display: block;
}

.video a.delete {
    display: none;
    position: absolute;
    right: 0;
    margin: 5px;
    top: 0px;
    z-index: 6;
}

.wall_wrapper .wall_post_comment div[contenteditable] {
    display: inline-block;
    resize: none;
    width: 100%;
    border: 1px solid #d9e8f8;
    color: #333333;
    padding: 12px 14px 12px 14px;
    overflow: hidden;
    line-height: 20px;
    font-size: 16px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: #ffffff;
}

#myEmojiField {
    overflow: inherit !important;
}

#myEmojiField .KEmoji_Block .KEmoji_Cont {
    bottom: -197px !important;
}

.KEmoji_Input div[contenteditable] {
    min-height: 50px;
}

.h146 {
    height: 146px !important;
}

.h68 {
    height: 68px !important;
}

.h54 {
    height: 54px !important;
}

.h146 div[contenteditable="true"] {
    height: 140px !important;
}

.h146 + .wall_post_btn {
    display: block;
}

img.ke {
    margin: 0 4px;
}

#myEmojiField2 {
    width: 425px;
    height: 70px;
    resize: none;
    border: 1px solid #d9e8f8;
    border-radius: 3px;
    margin-bottom: 0px;
    display: inline-block;
    vertical-align: top;
}

.textarea_msg.noscroll {
    display: none;
}

#myEmojiField2 .KEmoji_Cont {
    z-index: 60;
    top: -205px;
}

#myEmojiField2 .KEmoji_Cont::after {
    -webkit-transform: rotate(-180deg);

    /* Firefox */
    -moz-transform: rotate(-90deg);

    /* IE */
    -ms-transform: rotate(-90deg);

    /* Opera */
    -o-transform: rotate(-120deg);

    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    bottom: -11px;
    border-bottom: 10px solid #ffffff;
    top: auto;
    right: 28px;
}

#myEmojiField3 .KEmoji_Cont {
    z-index: 60;
    top: -205px;
    right: 0 !important;
}

#myEmojiField3 .KEmoji_Cont > div {
    width: 258px;
}

#myEmojiField3 .KEmoji_Cont::after {
    -webkit-transform: rotate(-180deg);

    /* Firefox */
    -moz-transform: rotate(-90deg);

    /* IE */
    -ms-transform: rotate(-90deg);

    /* Opera */
    -o-transform: rotate(-120deg);

    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    bottom: -11px;
    border-bottom: 10px solid #ffffff;
    top: auto;
    right: 9px;
}

.mess_fut {
    overflow: inherit !important;
}

.mini-dialog .mfooter textarea {
    display: none
}

#myEmojiField3 .KEmoji_Input > div[contenteditable=true] {
    padding-right: 45px;
}

.KEmoji_Block .KEmoji_Input > div[contenteditable=true] {
    overflow: visible;
}

.right_block .gallery .gallery-details {
    padding-top: 5px;
}

/*#main > div.right_block > div:nth-child(5) > div.block_content > div > div.gallery-details{
    padding-top: 0;
}*/
.mess_p img.ke {
    max-width: 16px !important;
    display: inline-block !important;
}

#main > div.right_block > div:nth-child(5) > div.block_content > div > div.gallery-image {
    height: 168px;
}

.video_title {
    position: absolute;
    line-height: 25px;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 7;
    bottom: 0;
    color: #ffffff;
    width: 100%;
    box-sizing: border-box;
    padding: 0 10px;
    word-wrap: break-word;
}

.mess_priv img {
    width: 16px;
    height: 16px;
}

.balance_out {
    background-color: #e3edf7;
    font-size: 21px;
    color: #333333;
}

.balance_out input {
    height: 45px;
    width: 124px;
    background-color: white;
    color: #000;
    font-weight: bold;
    font-size: 20px;
    outline: none;
    border: none;
    border: 1px solid #d3e4f5;
    text-align: right;
    padding-right: 53px;
    margin: 0 10px 0 25px;
    vertical-align: middle;
    display: inline-block;
}

.balance_out div {
    padding: 18px;
}

.schet {
    margin-left: 158px;
}

.schet input {
    width: 310px;
    box-sizing: border-box;
    text-align: left;
    padding-right: 5px;
    padding-left: 25px;
}

.small-text {
    font-size: 14px;
    margin-left: 260px;
    width: 450px;
    box-sizing: border-box;
    margin-top: -32px;
}

form .input_block.radiobox input[type="radio"] + i {
    background: url("/images/checkbox_notchecked_14.png") no-repeat;
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-bottom: 2px;
    vertical-align: middle;
    margin-right: 5px;
}

form .input_block.radiobox input[type="radio"]:checked + i {
    background: url("/images/checkbox_checked_14.png") no-repeat;
}

form .input_block.checkbox input[type="checkbox"], form .input_block.radiobox input[type="radio"],
form .input_block.checkbox2 input[type="checkbox"] {
    position: absolute;
    left: -10000px;
    z-index: -1000;
    overflow: hidden;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

.modal_tariff s {
    font-weight: normal;
    color: #ff0000;
}

.modal_tariff {
    position: fixed;
    top: 0;
    z-index: 99999;
    width: 794px;

}

.modal_tariff .mt-header {
    background-color: #0066cc;
    vertical-align: middle;
    font-size: 32px;
    color: #ffffff;
    padding-top: 21px;
    padding-left: 32px;
    padding: 5px 0;
    padding-left: 20px;
}

.modal_tariff .mt-body {
    background: url("/images/modal-mt-bg.png") no-repeat;
    padding: 25px;
    box-sizing: border-box;
}

.modal_tariff .mt-content {
    background-color: #ffffff;
    text-align: center;
    padding: 40px 0;
    box-sizing: border-box;
}

.modal_tariff .mt-content form div {
    text-align: left;
    font-size: 17px;
    padding-left: 65px;
    color: #0f1731;
}

.modal_tariff .mt-header a {
    vertical-align: middle;
    float: right;
    margin-right: 15px;
    margin-top: 3px;

}

.modal_tariff {
    display: none;
}

.modal_tariff form .input_block.radiobox label.bold {
    font-weight: bold;
}

#overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9998;
    display: none;
}

.lock {
    overflow: hidden;
}

.verIco {
    position: absolute;
    bottom: 0;
    right: 0;
}

.error .mt-content > div {
    font-size: 58px;
    color: #ff3333;
}

.success .mt-content > div {
    font-size: 67px;
    color: #92d451;
}

.error .mt-content small {
    font-size: 18px;
    color: #333333;
}

.btn.red {
    background-color: #ff3333;
    border: none;
}

.btn.blue {
    background-color: #0066cc;
}

#header input.search_left {
    height: 41px;
    box-sizing: border-box;
}

.wall_post .delWall, .wall_post .editWall {
    display: none;
}

.wall_post .editWall {
    margin-right: 5px;
}

.wall_post:hover .delWall, .wall_post:hover .editWall {
    display: inline-block;
}

.wall_post_comments .wall_post .delComment {
    display: none;
}

.wall_post_comments .wall_post:hover .delComment {
    display: inline-block;
}

.prof_blok_puktW50pr {
    width: 100%;
    box-sizing: border-box;
}

.prof_blok_puktW50pr .prof_blok_pukt {
    width: 45%;
    vertical-align: baseline;
    box-sizing: border-box;
    display: inline-block;
}

.prof_blok_puktW50pr .prof_blok_pukt:nth-child(odd) {
    padding-left: 10px;
}

.prof_blok_puktW50pr .styled-select {
    width: 100%;
    box-sizing: border-box;
}

.prof_blok_puktW50pr .styled-select select {
    width: 100%;
    box-sizing: border-box;
}

.photos_contacts.rukv > div {
    width: 100%;
    box-sizing: border-box;
}

.photos_contacts.rukv a {
    display: inline-block;
    vertical-align: top;
}

.photos_contacts.rukv .right_info {
    float: none;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    width: 65%;
    font-size: 17px;
    margin: auto;
    margin-left: 5px;
}

.photos_contacts.rukv .right_info a:first-child {
    font-size: 17px;
}

.photos_contacts.rukv .right_info span {
    font-size: 15px;
    color: #666;
    font-style: italic;
    padding: 5px 0;
    display: inline-block;
}

.groupArea {
    font-size: 14px;
    color: #666666;
    display: inline-block;
}

.groupMembers {
    display: inline-block;
    font-size: 13px;
    color: #999999;
}

.right.groupsList {
    position: relative;
    width: 86%;
}

.right.groupsList .groupTitle {
    padding-top: 8px;
    display: inline-block;
}

.body-contacts .contact a.groupUnJoin {
    position: absolute;
    right: 10px;
    top: 14px;
    display: inline-block;
    color: #ff6666;
    font-size: 14px;
}

.gallery .preview_video {
    width: 110% !important;
}

img.width48 {
    width: 48px;
}

.block_content.audio .idetails {
    padding: 15px 40px 13px 80px;
}

.sinfo_success_wrapper {
    position: absolute;
    right: 40px;
    top: 20px;
    /*width: 100px;*/
    height: 40px;
    text-align: left;
    padding-left: 30px;
    background: url(../images/checkbox_checked.png) left center no-repeat;
    font-size: 13px;
    z-index: 55;
    width: 115px;
    box-sizing: border-box;
}

.sinfo_success_wrapper a {
    color: white;
    text-decoration: none;
}

.sinfo_success_wrapper.s2 {
    background: url('/images/checkbox_checked2.png') left center no-repeat;
}

.body-main .sinfo_success_wrapper {
    right: 2px;
}

a.cover {
    width: 100%;
    height: 100%;
    position: absolute;
    margin: -12px -25px -12px -15px;
}

.myEmojiFieldComment {
    overflow: initial !important;
}

.myEmojiFieldComment .KEmoji_Cont {
    z-index: 60;
    top: -205px;
    right: 0 !important;
}

.myEmojiFieldComment .KEmoji_Cont::after {

    -webkit-transform: rotate(-180deg);

    /* Firefox */
    -moz-transform: rotate(-90deg);

    /* IE */
    -ms-transform: rotate(-90deg);

    /* Opera */
    -o-transform: rotate(-120deg);

    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    border-bottom: 10px solid #ffffff;
    top: auto !important;
    bottom: -10px !important;;
    right: 8px !important;;
}

.myEmojiFieldComment.KEmoji_Block .KEmoji_Cont {
    z-index: 55;
}

.wall_wrapper .wall_post_comment textarea {
    display: none;
}

.myEmojiFieldComment.h86 {
    height: 86px !important;
}

.myEmojiFieldComment .KEmoji_Input {
    height: 100%;
}

.wall_wrapper .wall_post .wall_post_comment {
    min-height: 72px;
}

#myEmojiField .KEmoji_Cont {
    z-index: 70;
    top: 37px;
}

.slider_info:hover .sinfo_success_wrapper.small {
    display: inline-block;
}

.slider_info .sinfo_success_wrapper.small {
    padding-left: 0;
    right: 2px;
    top: 115px;
}

.slider_info .sinfo_success_wrapper.small a {
    display: inline-block;
    width: 22px;
    height: 40px;
}

.user .left, .user .right {
    vertical-align: top;
    display: inline-block;
}

.user .left a {
    vertical-align: top;
    display: inline-block;
}

.user .right {
    float: right;
    text-align: right;
    vertical-align: middle;
}

.user .right input[type=text] {
    width: 198px;
    margin-right: 3px;
    margin-left: 10px;
    margin-top: 5px;
}

.user .right textarea {
    width: 198px;
    margin-right: 3px;
    margin-left: 10px;
    margin-top: 5px;
}

.userAdmin {
    width: 100%;
}

.userAdmin span {
    display: inline-block;
    line-height: 95px;
    vertical-align: top;
    margin: 0;
}

.userAdmin .styled-select {
    margin-left: 10px;
    margin-top: 5px;
}

.userAdmin .left {
    float: left;
}

.clearfix {
    clear: both;
}

.ns {
    display: none;
}

.radioHide {
    display: none;
}

.mini-dialog .mheader span a {
    color: #fff;
    text-decoration: none;
}

.forSelect {
    position: absolute;
    width: 1171px;
    margin-left: 5px;
    top: 20%;
    z-index: 9999;
}

.modal {
    -webkit-box-shadow: -1px 5px 15px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 5px 15px 1px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 5px 15px 1px rgba(0, 0, 0, 0.75);
}

.modal .modal-header {
    background-color: #0066cc;
    font-size: 14px;
    color: #ffffff;
    padding: 8px 10px;
    position: relative;
}

.modal .modal-header a.close {
    width: 16px;
    height: 16px;
    position: absolute;
    right: 5px;
}

.modal .modal-header a.close i.mdia-close {
    display: block;
    width: 16px;
    height: 16px;
    background: url(/images/mdia-close.png);
}

.modal-body {
    min-height: 400px;
    background-color: #edf4fb;
    max-height: 400px;
    overflow: hidden;
}

.searchFilter a {
    color: #333333;
    font-size: 15px;
    padding: 12px 14px;
    text-decoration: none;
    display: inline-block;

}

.searchFilter a.active {
    color: #FFFFFF;
    padding: 10px 15px;
    background-color: #0066cc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.searchFilter {
    padding-left: 22px;
    padding-bottom: 10px;
}

.searchBlock {
    box-sizing: border-box;
    margin: 10px 0 0 0;
    padding: 0 27px;
    padding-bottom: 20px;
    border-bottom: 1px solid #edf4fb;
    background: url(../images/bg_block_content.gif) bottom repeat-x;
}

.searchBlock h3 {
    font-size: 15px;
    color: #333333;
    text-align: left;
    padding-bottom: 10px;
}

.searchBlock a.more {
    text-decoration: none;
    border-bottom: 1px dotted #0066cc;
    display: inline-block;
    margin: 20px 0 0 0;
}

.body-search.all-search .left_block .block_content {
    padding: 0;
}

.searchBlock.companies .middle {
    display: block;
    line-height: 12px;
}

.searchBlock.companies .middle.title {
    color: #000;
}

.searchBlock.companies .href {
    margin-top: 5px;
}

.all-search .gallery {
    border: 1px solid #e1e9f1;
    width: 309px;
    display: inline-block;
    margin-top: 10px;
}

.all-search .gallery .gallery-details {
    padding: 16px;
    padding-top: 5px;
    text-align: left;
}

.all-search .videos {
    text-align: center;
}

.all-search .videos .delimer {
    width: 50px;
}

.all-search div.more {
    text-align: left;
}

.mt-content.success {
    color: limegreen;
    font-size: 23px;
    font-weight: bold;
}

.alertMessage {
    width: 660px;
}

input[name="url"] + .url {
    width: 20px;
    height: 20px;
    background: url(/images/balance/1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    bottom: 10px;
    right: 9px;
    position: absolute;
    display: none;
}

input[name="url"] + .url.fail {
    background: url(/images/balance/2.jpg);
    background-repeat: no-repeat;
}

input[name="url"] + .url.loading {
    background: url(/images/loading.gif);
    background-repeat: no-repeat;
}

.relative {
    position: relative;
}

.photo-comments {
    background-color: #FFF;
    border-top: 1px solid #edf4fb;
}

.photo-comment {
    padding: 0 18px;
    padding-left: 25px;
    border-bottom: 1px solid #edf4fb;
    background: none;
    padding-bottom: 0px;
    padding-top: 18px;
}

.photo-profile {
    position: absolute;
    text-align: left;
    width: 70px;
}

.photo-content {
    padding-left: 70px;
}

.photo-header {
    position: relative;
}

.profile_link {
}

.photo-date {
    font-size: 14px;
    color: #666666;
    padding-left: 10px;
}

.photo-message {
    padding-right: 15px;
    position: relative;
}

.photo-message p {
    padding: 15px 0px 15px 0px;
    font-size: 15px;
    color: #333333;
    line-height: 25px;
}

.photo-write {
    background-color: #edf4fb;
    padding: 14px 20px 14px 22px;
    border: 1px solid #d9e8f8;
    border-right: none;
    border-left: none;
}

.photo-write .wall_post_btn {
    display: none;
}

.photo-write .h146 + .wall_post_btn {
    float: right;
    display: inline-block;
}

.photo-write .KEmoji_Cont_Hidden {
    top: 34px;
    z-index: 99 !important;
}

#myEmojiFieldPhoto.h146 .KEmoji_Input div[contenteditable=true] {
    height: 140px !important;
}

.photo-comment.hide {
    display: none;
}

.showAll {
    text-align: center;
    cursor: pointer;
    padding: 15px;
    background-color: #edf4fb;
    border: 1px solid #d9e8f8;
    margin: 0 20px;
    color: #666;
    font-weight: bold;
    font-size: 15px;
}

.block_header h2 a {
    color: #000;
    text-decoration: none;
}

.forSelect .gallery {
    border: 1px solid #e1e9f1;
    width: 309px;
    display: inline-block;
    margin: 10px;
}

.forSelect .gallery .gallery-details {
    padding: 16px;
    padding-top: 5px;
    text-align: left;
}

.videoPreview {
    height: 71px;
    background-size: cover;
}

.attachments {
    display: inline-block;
    text-align: center;
    width: 100%;
}

.attachments div.gallery-image {
    height: 300px;
    width: 100%;
    text-align: center;
    overflow: hidden;
    z-index: 3;
}

.attachments div.gallery {
    border: 1px solid #e1e9f1;
    width: 90%;
    display: inline-block;
    min-height: 231px;
    margin: 1px;
}

.attachments .gallery-details {
	display: block;
	position: absolute;
	z-index: 5;
	width: 88%;
	bottom: 3px;
	margin: 0px;
	background-color: rgba(0, 0, 0, 0.15);
}

.attachments .gallery-details a{
	color: #FFF;
}

.attachments {
    display: inline-block;
}

.attachments div, .attachments a {
    display: inline-block;
    vertical-align: middle;
}

.attachments img {

    height: 188px;
}

.two .grid_wall_images {
    width: 49%;
    display: inline-block;
    vertical-align: middle;
}

.two .attachments {
    width: 49%;
    vertical-align: middle;
}

.two .grid_wall_images a {
    vertical-align: middle;
    width: auto;
    height: 210px;
}

.grid_wall_images.c0 {
    display: none;
}

.grid_wall_images.c0 + .attachments {
    width: 100%;
}

.online {
    color: forestgreen;
}

.forSelect .modal-body {
    text-align: center;
    overflow: scroll;
}

.tip_wrap {
    display: inline-block;
    position: relative;
    height: auto;
}

.tooltip.positive {
    background: #eef8dd;
    border-color: #99b962;
}

.tooltip.negative {
    background: #ffefed;
    border-color: #ff2a0e;
}

.tooltip {
    position: absolute;
    width: 200px;
    padding: 16px 7px 16px 13px;
    z-index: 100;
    font-size: 13px;
    line-height: 20px;
    color: #333333;
    background: #FFF;
    border: 1px solid #bfd7e2;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    line-height: normal;
}

.tooltip .triangle {
    display: block;
    position: absolute;
    width: 12px;
    height: 6px;
    background-image: url(/img/tooltip.png);
    background-repeat: no-repeat;
}

.tooltip.top .triangle {
    bottom: -6px;
    left: 28px;
}

.tooltip.bottom .triangle {
    top: -6px;
    left: 28px;
}

.tooltip.right .triangle {
    left: -7px;
    top: 20px;
    width: 7px;
    height: 14px;
}

.tooltip.positive.top .triangle {
    background-position: -12px 0;
}

.tooltip.positive.right .triangle {
    background-position: -12px -12px;
}

.tooltip.positive.bottom .triangle {
    background-position: -12px -6px;
}

.tooltip.negative.top .triangle {
    background-position: -24px 0;
}

.tooltip.negative.right .triangle {
    background-position: -24px -12px;
}

.tooltip.negative.bottom .triangle {
    background-position: -24px -6px;
}

.tooltip.neutral.top .triangle {
    background-position: 0 0;
}

.tooltip.neutral.right .triangle {
    background-position: 0 -12px;
    left: -6px;
}

.tooltip.neutral.bottom .triangle {
    background-position: 0 -6px;
}

#auth_phone_code1 + .tooltip {
    width: 333px;
}

#auth_block3 {
    display: none;
}

.wallEdit textarea {
    display: none;
}

.editWall {
    display: none !important;
}

.mini-dialog .attachments {
    text-align: left;
}

.mini-dialog .attachments a {
    display: inline;
}

.mini-dialog .attachments .gallery {
    width: 123px;
    min-height: 72px;
}

.mini-dialog .attachments div.gallery-image {
    height: 72px;
}

.mini-dialog .attachments .gallery-details {
    padding: 10px;
    padding-top: 2px;
    text-align: left;
}

.mini-dialog .preview_video {
    background-position: 1px -16px !important;
}

.attachments.docs {
    text-align: left;
}

#header ul.top_menu li {
    margin-right: 30px;
}

#header ul.top_menu li.item_bs {
    background-image: url(/images/bs.png);
}


.video:hover a.addMe {
    display: block;
}

.video a.addMe {
    display: none;
    position: absolute;
    right: 0;
    margin: 5px;
    top: 0px;
    z-index: 6;
}