﻿html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody, tfoot, 
thead, tr, th, td {	margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; background: transparent;}
html, body {

}

ul {
    list-style: none;
}

/*++ STYLES ++*/
body {
    font-family: 'PT Sans', sans-serif;
}

input, button, textarea {
    font-family: 'PT Sans', sans-serif;
}
.wrap{
    text-align: center;
    max-width: 1183px;
    margin: 0 auto;
    margin-top: 40px;
    padding-bottom: 100px;
}
.desc{
    margin-top: 25px;
    color: #333333;
    font-size: 40px;
    font-weight: bold;
}
.desc span{
    color: #3399ff;
}
.desc p{
    margin-top: 5px;
    font-size: 18px;
    font-weight: normal;
}
.header{
    margin-top: 35px;
    color: #333333;
    font-weight: bold;
    font-size: 18px;    
}
.grids{
    margin-top: 55px;
}

.grids .grid{
    display: inline-block;
    width: 264px;
    height: 112px;
    background-color: #ebf0f5;
    border: 8px solid #ebf0f5;
    margin: 5px;
}
.grids .grid:hover{
    border: 8px solid #fae115;
    background-color: #FFF;
}
.grids .grid a{
    width: 100%;
    height: 100%;
    display: block;
    font-size: 21px;
    color: #003399;
    text-align: center;
}
.grids .grid a span{
    vertical-align: middle;
    display: table-cell;
    height: 112px;
    width: 264px;
}
/*  FOOTER  */
footer {padding-top:23px;width:100%;min-width:1200px;height:67px;background:#0f1122;position: fixed; bottom: 0;z-index: 101;}
.footer1 {margin:0 auto;padding-top:10px;width:1200px;height:43px;font:17px 'PT Sans', 'Myriad Pro', Verdana;color:#fff;vertical-align:bottom;}
.footer1a {position:relative;padding-left:60px;width: 105%;}
.footer1a img {position:absolute;top:-11px;left:0;}
.footer1a {float:left;}
.footer1a span {display:block;float:left;}
footer .logo {float:left;font:19px 'PT Sans', 'Myriad Pro', Verdana;}
.yellow {padding:4px 0 0 20px;font:14px 'PT Sans', 'Myriad Pro', Verdana;color:#fae115;}
.menu {padding:0 0 0 30px;float:right;}
.menu a {display:block;float:left;margin:2px 20px;font:17px 'PT Sans', 'Myriad Pro', Verdana;color:#fff;text-decoration:none;border-bottom:1px solid #2C2F51;}
.menu a:hover {color:#fae115;border-bottom:1px solid #fae115;}

.page{
    margin-top: 70px;
}
.page .left{
    text-align: left;
    width: 845px;
    float: left;
}
.page .right{
    width: 330px;
    float: right;
}
.page .right .grid{

}

.page .right .grid{
    display: inline-block;
    width: 280px;
    height: 95px;
    background-color: #ebf0f5;
}
.page .right .grid:hover,.page .right .grid.active{
    background-color: #fae115;
}
.page .right .grid a{
    width: 100%;
    height: 100%;
    display: block;
    font-size: 21px;
    color: #003399;
    text-align: center;
}
.page .right .grid a span{
    vertical-align: middle;
    display: table-cell;
    height: 95px;
    width: 280px;
}
.page .right .grid a span i{
    display: inline-block;
    font-style: normal;
    width: 180px;
}
a{
    text-decoration: none;
}

.clear{
    clear: both;
}

.page h1{
    padding: 0;
    margin: 0;
    font-size: 37px;
    color: #003399;
    padding-bottom: 25px;
}
.content ol{
    padding-left: 20px;
}
.content ol li{
    padding-top: 10px;
}
.content p{
    padding: 5px 0;
}






