﻿html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody, tfoot, 
thead, tr, th, td {	margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; background: transparent;}
html, body {
	
}

ul {
	list-style: none;
}

/*++ STYLES ++*/
body {
	background: url(../images/bg-main.gif) 50% 0 repeat-y #edf4fb;
	font-family: 'PT Sans', sans-serif;
}

input, button, textarea {
	font-family: 'PT Sans', sans-serif;
}

h2 {
	font-size: 34px;
	font-weight: normal;
}

a {
	color: #0066cc;
}

.main_block {
	width: 1181px;
}

.centred {
	margin: 0px auto;
}

.clear {
	clear: both;
}

.dotted {
	text-decoration: none;
	border-bottom: 1px dotted #0066cc;
}

.rounded_3 {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.rounded_2, ul.photos_main img, .iblock img, .photos_contacts img, .popup_col_img img, .popup_left img {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

/*++ button ++*/
.btn {
	background-image: none;
	background-color: #0066cc;
	border: 1px solid #1075d9;
	color: white;
	font-size: 15px;
	font-weight: normal;
	padding: 10px 20px 10px 20px;
	cursor: pointer;
	outline:none;
	text-align: center;
	*zoom: 1;
}
.btn-icon {
	padding-left: 40px;
	background-position: 15px center;
	background-repeat: no-repeat;
}
.btn-icon-search {
	background-image: url(/images/icon-search.png);
}

.btn-color-yellow {
	color: black;
	background-color: #F9E115;
	border-color: #FAD345;
}

.btn-color-pink {
	background-color: #ef8080;
	border-color: #ed6c6c;
}
.btn-size-small {
	padding: 7px 9px 7px 9px;
	font-size: 14px;
}
/*-- button --*/

/*++ content block ++*/
.block_header {
	vertical-align: middle;
	padding-left: 34px;
	padding-top: 20px;
}	
	.block_header span.counter, .block_header h2 {
		display: block;
		float: left;
	}

	.block_header span.counter {
		background-color: #0066cc;
		padding: 4px 8px 4px 8px;
		margin-top: 11px;
		margin-left: 14px;
	}

		.block_header span.counter a {
			color: white;
			text-decoration: none;
			font-size: 16px;
			font-weight: bold;
		}

	.block_header a.toolbox {
		float: right;
		display: block;
		margin-top: 15px;
		margin-right: 30px;
	}

.block_content {
	padding: 20px 0px 30px 34px;
}
/*-- content block --*/

/*++ photos ++*/
ul.photos_main {
	list-style-type: none;
}
	ul.photos_main li {
		display: block;
		float: left;
		margin-right: 12px;
		position: relative;
	}

		ul.photos_main li .pmain_toolbox {
			position: absolute;
			top: 3px;
			right: 3px;
		}

.photos_contacts div {
	float: left;
	width: 77px;
	margin-right: 33px;
	margin-bottom: 25px;
}

.photos_contacts div a {
	font-size: 13px;
}
/*-- photos --*/

/*++ info table ++*/
.short_info { }

	.short_info td {
		font-size: 16px;
	}

	.short_info td.first_col {
		padding: 0px 70px 10px 0px;
		color: #333333;
	}

	.short_info td.second_col {
		color: #000066;
	}
/*-- info table --*/

/*-- progress --*/
.progressline {
	height: 1px;
	background-color: #d9e8f8;
	position: relative;
}

	.progressline .status {
		height: 4px;
		margin-top: -1px;
		position: absolute;
		background-color: #fae115;
	}

	.progressline.blue .status {
		background-color: #cce3fa;
	}
/*++ progress ++*/

/*-- Wall --*/
.wall_wrapper {

}
	.wall_wrapper .photos_main {
		margin-top: 20px;
	}

	.wall_post {
		padding-top: 18px;
		padding-bottom: 10px;
		border-bottom: 1px solid #edf4fb;
		background: url(../images/bg_block_content.gif) bottom repeat-x; 
	}

		.wall_post_comments .wall_post {
			background: none;
		}

		.wall_post .wall_post_header {
			position: relative;
		}

		.wall_post .wall_post_header span.wall_post_date {
			font-size: 14px;
			color: #666666;
			padding-left: 10px;
		}

		.wall_post .wall_post_profile {
			position: absolute;
			width: 90px;
			text-align: center;
		}

		.wall_post .wall_post_content {
			padding-left: 90px;
		}

		.wall_post_comments {
			padding-right: 20px;
			padding-bottom: 25px;
		}

		.wall_post_comments .wall_post_profile {
			text-align: left;
			width: 70px;
		}

		.wall_post_comments .wall_post {
			padding-left: 0px;
			border-bottom: 1px solid #edf4fb;
		}

		.wall_post_comments .wall_post_content {
			padding-left: 70px;
		}

		.wall_post_comments .wall_post_more_comments, .wall_post_comments .wall_post_hide_comments {
			text-align: center;
			padding: 14px 0px 14px 0px;
			cursor: pointer;
			margin: 10px 0px 3px 0px;
			font-size: 15px;
			color: #96a9bd;
			*zoom:1;
		}

		.wall_post_comments .wall_post_more_comments {
			background-color: #edf4fb;	
		}

		.wall_post_comments .wall_post_hide_comments {
			border-bottom: 1px solid #edf4fb;
		}

		.wall_post_comments .wall_post_hide_comments:hover {
			background-color: #edf4fb;	
			border-color: white;
		}

		.wall_post_comments .wall_post_toolbox_top {
			right: 0;
		}
			/*
			.wall_post_comments .wall_post_more_comments span {
				font-size: 15px;
				color: #96a9bd;
			}
			*/

		.wall_post .wall_post_message {
			padding-right: 15px;
		}

			.wall_post .wall_post_message p {
				padding: 15px 0px 15px 0px;
				font-size: 15px;
				color: #333333;
				line-height: 25px;
			}

		/* Post comment styles */
		.wall_wrapper .wall_post_comment {
			background-color: #edf4fb;
			padding: 14px 20px 14px 22px;
			border: 1px solid #d9e8f8;
			border-right: none;
			border-left: none;
		}

			.wall_wrapper .wall_post .wall_post_comment {
				border-right: 1px solid #d9e8f8;
				border-left: 1px solid #d9e8f8;
				padding: 10px 12px 10px 12px;
			}

			.wall_wrapper .wall_post_comment .wall_post_profile {
				width: 80px;
				margin-top: 5px;
				position: absolute;
			}

			.wall_wrapper .wall_post .wall_post_comment .wall_post_profile {
				margin-top: 10px;
				width: 40px;
			}

			.wall_wrapper .wall_post_comment .wall_post_content {
				padding-left: 70px;
			}

			.wall_wrapper .wall_post .wall_post_comment .wall_post_content {
				padding-left: 40px;
			}

			.wall_wrapper .wall_post_comment textarea {
				display: inline;
				resize: none;
				width: 100%;
				border: 1px solid #d9e8f8;
				color: #333333;
				padding: 12px 14px 12px 14px;
				overflow: hidden;
				line-height: 20px;
				font-size: 16px;
			    box-sizing: border-box;
			    -webkit-box-sizing: border-box;
			    -moz-box-sizing: border-box;
			}

		.wall_wrapper .wall_post_btn {
			margin-top: 8px;
			margin-bottom: 10px;
			display: none;
			position: relative;
		}

		.wall_wrapper .wall_post_btn_right {
			position: absolute;
			right: 20px;
			top: 12px;
		}

	.wall_wrapper .wall_icon {
		color: #96a9bd;
		font-size: 14px;
		font-weight: bold;
		padding: 5px 0px 5px 22px;
		text-decoration: none;
		background: none;
		outline: none;
		cursor: pointer;
		background-position: left center;
		background-repeat: no-repeat;
	}
		.wall_wrapper .wall_icon_note {
			background-image: url(../images/icon_wall_note.gif);
		}
		.wall_wrapper .wall_icon_delete {
			background-image: url(../images/icon-toolbox-close2.png);
		}
		.wall_wrapper .wall_icon_repost {
			background-image: url(../images/icon_wall_repost.gif);
		}
		.wall_wrapper .wall_icon_counter {
			background-image: url(../images/icon_wall_counter.png);
		}
		.wall_wrapper .wall_icon_counter_y {
			background-image: url(../images/icon_wall_counter_y.png);
		}
		.wall_wrapper .wall_icon_photo {
			background-image: url(../images/icon_wall_photo.gif);
		}

		.wall_wrapper .wall_icon.normal {
			font-weight: normal;
		}

	.wall_post_toolbox_top {
		position: absolute;
		right: 20px;
	}

	.wall_post .wall_post_toolbox_bottom_left {
		float: left;
	}

	.wall_post .wall_post_toolbox_bottom_right {
		float: right;
		margin-right: 30px;
	}

		.wall_post_toolbox_bottom_right ul {
			margin-top: 2px;
		}

		.wall_post_toolbox_bottom_right a {
			display: block;
		}

		.wall_post_toolbox_bottom_right ul, .wall_post_toolbox_bottom_right a {
			float: left;
		}

		.wall_post_toolbox_bottom_right ul a {
			margin-right: 3px;
		}
		.wall_post_toolbox_bottom_right a.wall_icon {
			margin-right: 15px;
		}
/*++ Wall ++*/

/*-- STYLES --*/

/*++ HEADER ++*/
#header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 119px;
	background: url(../images/bg-header.gif) repeat-x;
}

.header_wrapper {
	background: url(../images/bg-header.gif) repeat-x;
}

	#header .top_block {
		height: 59px;
	}

		.top_block .tb_part, .top_block .tb_part_r {
			padding-right: 18px;
			padding-left: 18px;
			height: 59px;
		}

		.tb_part {
			float: left;
		}

		.tb_part_r {
			float: right;
		}

		.top_block .tb_sep_r {
			border-right: 1px solid #202e58;
		}

		.top_block .tb_sep_l {
			border-left: 1px solid #202e58;
		}

		.top_block .tb_btn {
			cursor: pointer;
			position: relative;
		}

		.top_block .tb_amount {
			position: absolute;
			left: 32px;
			top: 9px;
			background-color: #ff3333;
			text-align: center;
			-webkit-border-radius: 9px;
			-moz-border-radius: 9px;
			border-radius: 9px;
			padding: 0px 5px 0px 5px;
			font-size: 13px;
			color: white;
			font-weight: bold;
		}

		.top_block .tb_ico {
			background-repeat: no-repeat;
			background-position: center;
			width: 20px;
			padding-right: 23px;
			padding-left: 23px;
		}

		.top_block .tb_btn.active, .top_block .tb_btn:hover {
			background-color: #0f1731;
		}

		/* Logo */
		.top_block .tb_logo {
			padding-left: 0px;
			height: 49px;
			padding-top: 10px;
		}

		.top_block .tb_logo img {
			vertical-align: middle;
		}

		/* Services */
		.top_block .tb_services {
			vertical-align: middle;
			color: white;
			font-size: 16px;
			height: 59px;
			line-height: 59px;
		}

			.top_block .tb_services span {
				background: url(../images/icon-bottom-arrow.png) right center no-repeat;
				padding-right: 18px;
			}

		/* Messages */
		.top_block .tb_messages {
			background-image: url(../images/icon-toolbox-messages.png);
		}

		/* Notice */
		.top_block .tb_notice {
			background-image: url(../images/icon-toolbox-notice.png);
		}

		/* Friends */
		.top_block .tb_friends {
			background-image: url(../images/icon-toolbox-friends.png);
		}


		/* POPUP */
		.top_block .tb_popup {
			display: none;
			border: 5px solid #0066cc;
			background-color: white;
			/*padding: 9px;*/
			position: absolute;
			z-index: 400;
			/*visibility: visible;*/
		}

		.popup_hlighted {
			color: #ff3333;
			font-weight: bold;
		}

		.popup_row {
			border-bottom: 1px solid #d9e2ec;
			color: #333333;
			font-size: 16px;
			padding: 12px 25px 12px 15px;
			position: relative;
		}
			.popup_row .popup_col_img {
				position: absolute;
				width: 60px;
			}

			.popup_row .popup_col_text {
				padding-left: 60px;
				font-size: 13px;
				line-height: 20px;
				color: #333333;
			}

				.popup_row .popup_col_text .title {
					font-size: 15px;
					font-weight: bold;
					color: black
				}

				.popup_row .popup_col_text .date {
					font-size: 13px;
					color: #999999;
				}

				.popup_row .popup_col_text .info {
					font-style: italic;
				}

			.popup_row .popup_toolbox {
				position: absolute;
				right: 10px;
				top: 5px;
			}

		.popup_row.last {
			border-bottom: none;
		}
			.popup_row .popup_left {
				float: left;
				vertical-align: middle;
			}

			.popup_row .popup_right {
				float: right;
				vertical-align: middle;
			}

		.popup_row.hlighted {
			background-color: #e7ecf8;
		}

		.popup_ico {
			background-repeat: no-repeat;
			background-position: left center;
			padding-left: 30px;
		}

			.popup_ico_profile {
				background-image: url(../images/popup-ico-profile.png);
			}
			.popup_ico_balance {
				background-image: url(../images/popup-ico-balance.png);
			}
			.popup_ico_star {
				background-image: url(../images/popup-ico-star.png);
			}
			.popup_ico_help {
				background-image: url(../images/popup-ico-help.png);
			}
			.popup_ico_profile {
				background-image: url(../images/popup-ico-profile.png);
			}
			.popup_ico_settings {
				background-image: url(../images/popup-ico-settings.png);
			}


		/* Services */
		.popup_services {
			width: 470px;
			color: #333333;
		}

		.popup_services .popup_col_label {
			width: 110px;
			font-weight: bold;
			text-align: left;
		}

		.popup_services .popup_col_label, .popup_services .popup_col_text {
			padding-left: 0px;
			float: left;
			font-size: 16px;
			line-height: 20px;
			vertical-align: middle;
		}

		.popup_services .popup_row.disabled .popup_col_label {
			color: #999999;
		}
		.popup_services .popup_row.disabled .popup_col_text {
			color: #cccccc;
		}
		

		/* Messages */
		.popup_messages {
			width: 390px;
		}

		.popup_messages .popup_col_img {
			width: 75px;
		}

		.popup_messages .popup_row {
			padding-right: 10px;
		}
		.popup_messages .popup_col_text {
			padding-left: 75px;
		}

		/* Friends */
		.popup_friends .popup_row {
			padding-right: 10px;
		}

		.popup_friends {
			width: 400px;
		}

		.popup_friends .popup_col_img {
			width: 75px;
		}

		.popup_friends .popup_col_text {
			padding-left: 75px;
		}

		.popup_friends .popup_col_text .title {
			margin-bottom: 4px;
			display: block;
		}

		.popup_friends .btn {
			margin-right: 5px;
		}

		/* Notice */
		.popup_notice  {
			width: 376px;
		}


		/* Profile */
		.popup_profile .popup_row.header {
			border-bottom: none;
			background-color: #e7ecf8;
			padding: 9px 25px 9px 7px;
		}

		.popup_profile .header .popup_left {
			font-weight: bold;
		}

		.popup_profile .header .popup_right a {
			line-height: 46px;
			vertical-align: middle;
		}

		.popup_profile .header span, .popup_profile .header img {
			display: inline-block;
			vertical-align: middle;
		}
		
		.popup_profile .header span {
			padding-left: 20px;
		}

		.popup_profile {
			width: 470px;
		}

	#header .bottom_block {
		height: 60px;
	}

	#header ul.top_menu {
		list-style-type: none;
		display: block;
		float: left;
		margin-top: 20px;
	}

	#header ul.top_menu.right {
		float: right;
	}

		#header ul.top_menu li {
			display: inline;
			padding-left: 20px;
			margin-right: 35px;
			background-repeat: no-repeat;
			background-position: left center;
		}

			#header ul.top_menu li a {
				color: white;
				font-size: 16px;
				text-decoration: none;
			}

		#header ul.top_menu li.item_main {
			background-image: url(../images/icon-topmenu-main.gif);
		}
		#header ul.top_menu li.item_contacts {
			background-image: url(../images/icon-topmenu-contacts.gif);
		}
		#header ul.top_menu li.item_companies {
			background-image: url(../images/icon-topmenu-companies.gif);
		}
		#header ul.top_menu li.item_communities {
			background-image: url(../images/icon-topmenu-communities.gif);
		}
		#header ul.top_menu li.item_photos {
			background-image: url(../images/icon-topmenu-photos.gif);
		}
		#header ul.top_menu li.item_videos {
			background-image: url(../images/icon-topmenu-videos.gif);
		}
		#header ul.top_menu li.item_level {
			background-image: url(../images/icon-top-arrow.gif);
		}

	#header input.search_left {
		border: none;
		background-color: white;
		border-right: 1px solid #d1d1d1;
		font-size: 15px;
		padding: 11px 8px 11px 15px;
		color: #666666;
		font-style: italic;
		width: 250px;
		outline: none;

		-webkit-border-top-left-radius: 3px;
		-webkit-border-bottom-left-radius: 3px;
		-moz-border-radius-topleft: 3px;
		-moz-border-radius-bottomleft: 3px;
		border-top-left-radius: 3px;
		border-bottom-left-radius: 3px;
	}

	#header a.search_extended {
		color: white;
		font-size: 14px;
	}
/*-- HEADER --*/

/* MAIN */
#main {
	padding-top: 150px;
	background-color: white;
	padding-bottom: 50px;
}

	#main .left_block {
		width: 790px;
		float: left;
		border-right: 1px solid #d9e8f8;
	}

		#main .left_block .block_content {
			border-bottom: 1px solid #edf4fb;
			background: url(../images/bg_block_content.gif) bottom repeat-x; 
		}

	#main .right_block {
		width: 390px;
		float: right;
		border-left: 1px solid #d9e8f8;
		margin-left: -1px;
	}

		#main .right_block .block_content { 
			padding-bottom: 15px;
		}

		.right_block .iblock {
			position: absolute;
		}

		.right_block .idetails {
			padding: 7px 40px 7px 95px;
			margin-bottom: 15px;
		}

		.right_block .idetails.last {
			margin-bottom: 0px;
		}

		.right_block .link {
			font-size: 17px;
		}

		.right_block .link.medium {
			font-size: 15px;
		}

		.right_block .link.small {
			font-size: 13px;
		}

		.right_block .title {
			font-size: 14px;
			color: #666666;
		}

		.right_block .description {
			font-size: 13px;
			color: #999999;
		}

		/* Gallery */
		.right_block .gallery {
			border: 1px solid #e1e9f1;
			width: 309px;
		}

			.right_block .gallery .gallery-image {
				text-align: center;
			}

			.right_block .gallery .gallery-details {
				padding: 16px;
			}

			.right_block .gallery .link {
				line-height: 23px;
			}

		/* Audio */
		.block_content.audio a {
			text-decoration: none;
		}
		.block_content.audio .iblock {
			text-align: center;
			width: 80px;
		}
		.block_content.audio .idetails {
			padding-left: 80px; 
		}
		.block_content.audio button {
			background: none;
			border: none;
			cursor: pointer;
			padding: 0px;
			outline: 0;
		}

		.block_content.audio .title {
			font-size: 16px;
		}

		.block_content.audio .description {
			font-size: 14px;
		}

#main .short_info {
	margin-bottom: 40px;
}

/* Slider */
.main_slider {
	height: 478px;
	position: relative;
	z-index: 10;
}
	.main_slider .slider_info {
		height: 478px;
		width: 350px;
		font-size: 15px;
		color: white;
		text-align: center;
		position: absolute;
		background: url(../images/bg-slider-info.png) repeat;
	}

		.main_slider .slider_info a {
			color: #33ccff;
		}

		.main_slider .slider_info .sinfo_name {
			font-size: 28px;
			margin: 15px 0px 15px 0px;
		}

		.main_slider .slider_info .sinfo_age {
			margin-bottom: 15px;
			color: #33ccff;
		}

		.main_slider .slider_info .sinfo_img {
			margin-top: 20px;
		}

		.main_slider .slider_info .sinfo_img_toolbox {
			position: absolute;
			left: 50%;
			margin-left: -24px;
			margin-top: 55px;
		}

		.main_slider .slider_toolbox {
			position: absolute;
			/*left: 1160px;*/
			right: 15px;
			top: 15px;
		}

		.main_slider .slider_info .sinfo_amount {
			margin-top: 50px;
			font-size: 14px;
			color: #bacae0;
		}

		.main_slider .slider_info .sinfo_contacts {
			padding-right: 20px;
		}

/* Skills */
.skills_table {
	width: 100%;
	margin-bottom: 25px;
}
	.skills_table td {
		vertical-align: middle;
	}

	.skills_table .skill_title {
		width: 210px;
		text-align: right;
		font-size: 16px;
		color: #333333;
	}

	.skills_table .skill_amount {
		width: 60px;
		text-align: center;
		font-size: 14px;
		font-weight: bold;
		color: #96a9bd;
	}

	.skills_table .skill_profiles {
		width: 150px;
	}

		.skills_table .skill_profiles ul, .wall_post_toolbox_bottom_right ul {
			list-style: none;
		}

			.skills_table .skill_profiles ul li, .wall_post_toolbox_bottom_right ul li {
				display: inline;
			}

			.skills_table .skill_profiles ul li.skill_profile_btn {
				margin-right: 10px;
			}

	.skills_table .skill_progress {
		padding-right: 10px;
	}

/* FOOTER */
#footer {
	height: 180px;
	background: url(../images/bg-main-bottom.gif) 50% 0 no-repeat #edf4fb;
}

	#footer .main_block {
		height: 180px;
		background: url(../images/bg-footer.gif) top repeat-x;
	}
