﻿html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody, tfoot,
thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    background: transparent;
}

html, body {

}

ul {
    list-style: none;
}

/*++ STYLES ++*/
body {
    background: url(../images/bg-main.gif) 50% 0 repeat-y #edf4fb;
    font-family: 'PT Sans', sans-serif;
}

input, button, textarea {
    font-family: 'PT Sans', sans-serif;
}

h2 {
    font-size: 34px;
    font-weight: normal;
}

a {
    color: #0066cc;
}

.main_block {
    width: 1181px;
}

.centred {
    margin: 0px auto;
}

.clear {
    clear: both;
}

.dotted {
    text-decoration: none;
    border-bottom: 1px dotted #0066cc;
}

.rounded_3, .wall_post_toolbox_bottom_right li a img {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.rounded_2 {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.rounded_5 {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.rounded_8 {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px
}

.rounded_15 {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px
}

.rounded_16 {
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px
}

.rounded_20 {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px
}

.circled, .wall_post_profile img, .wall_post_toolbox_bottom_right li a img, .skill_profiles a img {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

/*++ button ++*/
.btn {
    background-image: none;
    background-color: #0066cc;
    border: 1px solid #1075d9;
    color: white;
    font-size: 15px;
    font-weight: normal;
    padding: 10px 20px 10px 20px;
    cursor: pointer;
    outline: none;
    text-align: center;
    line-height: normal;
    display: inline-block;
    *zoom: 1;
    overflow: visible;
    height: 41px;
}

.btn-icon {
    padding-left: 40px;
    background-position: 15px center;
    background-repeat: no-repeat;
}

.btn-icon-search {
    background-image: url(/images/icon-search.png);
}

.btn-icon-heart {
    background-image: url(/images/icon-heart-white.png);
}

.btn-color-yellow {
    color: black;
    background-color: #fae115;
    border-color: #ffcb3d;
}

.btn-color-lyellow {
    background-color: #efd00d;
    border-color: #eccb0a;
    color: #993300;
}

.btn-color-white {
    color: #003366;
    background-color: #f6f6f6;
    border-color: #e4e6e7;
}

.btn-color-bwhite {
    color: #0066cc;
    background-color: #fff;
    border-color: #99ccff;
}

.btn-color-orange {
    color: white;
    background-color: #ff684f;
    border: none;
}

.btn-type-link {
    background-color: transparent;
    border-color: transparent;
    color: #0066cc;
}

.btn-style-dotted span {
    border-bottom: 1px dotted #0066cc;
}

.btn-color-lyellow.btn-icon-search {
    background-image: url(/images/icon-search-yellow.png);
}

.btn-color-lblue {
    color: white;
    background-color: #3398cc;
    border-color: #40a2d3;
}

.btn-color-bblue {
    background-color: #0099ff;
    color: white;
    border-color: transparent;
}

.btn-color-pink {
    background-color: #ef8080;
    border-color: #ed6c6c;
}

.btn-size-small {
    padding: 7px 9px 7px 9px;
    font-size: 14px;
    *zoom: 1;
    display: inline;
    height: 35px;
}

.btn-size-small.btn-icon {
    padding-left: 32px;
    background-position: 10px center;
}

/*-- button --*/

.inp {
    font-size: 16px;
    color: #999999;
    border: 1px solid #9bbedc;
    outline: none;
    padding: 14px;
}

.inp-size-small {
    padding: 10px;
}

.inp_full {
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

/*++ content block ++*/
.block_header {
    vertical-align: middle;
    padding-left: 34px;
    padding-top: 20px;
}

.block_header span.counter, .block_header h2 {
    display: block;
    float: left;
}

.block_header span.counter {
    background-color: #0066cc;
    padding: 4px 8px 4px 8px;
    margin-top: 11px;
    margin-left: 14px;
}

.block_header span.counter a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

.block_header a.toolbox {
    float: right;
    display: block;
    margin-top: 15px;
    margin-right: 30px;
}

.block_content {
    padding: 20px 0px 30px 34px;
}

/*-- content block --*/

/*++ photos ++*/
ul.photos_main {
    list-style-type: none;
}

ul.photos_main li {
    display: block;
    float: left;
    margin-right: 12px;
    position: relative;
}

ul.photos_main li .pmain_toolbox {
    position: absolute;
    top: 3px;
    right: 3px;
}

.photos_contacts div {
    float: left;
    width: 77px;
    margin-right: 33px;
    margin-bottom: 25px;
}

.photos_contacts div a {
    font-size: 13px;
}

/*-- photos --*/

/*++ info table ++*/
.short_info {
}

.short_info td {
    font-size: 16px;
}

.short_info td.first_col {
    padding: 0px 70px 10px 0px;
    color: #333333;
}

.short_info td.second_col {
    color: #000066;
}

/*-- info table --*/

/*-- progress --*/
.progressline {
    height: 1px;
    background-color: #d9e8f8;
    position: relative;
}

.progressline .status {
    height: 4px;
    margin-top: -1px;
    position: absolute;
    background-color: #fae115;
}

.progressline.blue .status {
    background-color: #cce3fa;
}

/*++ progress ++*/

/*-- Wall --*/
.wall_wrapper {

}

.wall_wrapper .photos_main {
    margin-top: 20px;
}

.wall_post {
    padding-top: 18px;
    padding-bottom: 10px;
    border-bottom: 1px solid #edf4fb;
    background: url(../images/bg_block_content.gif) bottom repeat-x;
    padding-bottom: 30px;
}

.wall_post_comments .wall_post {
    background: none;
    padding-bottom: 0px;
}

.wall_post .wall_post_header {
    position: relative;
}

span.wall_post_date {
    font-size: 14px;
    color: #666666;
}

.wall_post .wall_post_header span.wall_post_date {
    padding-left: 10px;
}

.wall_post .wall_post_profile {
    position: absolute;
    width: 90px;
    text-align: center;
}

.wall_post .wall_post_content {
    padding-left: 90px;
}

.wall_post_comments {
    padding-right: 20px;
    /*padding-bottom: 25px;*/
}

.wall_post_comments .wall_post_profile {
    text-align: left;
    width: 70px;
}

.wall_post_comments .wall_post {
    padding-left: 0px;
    border-bottom: 1px solid #edf4fb;
}

.wall_post_comments .wall_post_content {
    padding-left: 70px;
}

.wall_post_comments .wall_post_more_comments, .wall_post_comments .wall_post_hide_comments {
    text-align: center;
    padding: 14px 0px 14px 0px;
    cursor: pointer;
    margin: 10px 0px 3px 0px;
    font-size: 15px;
    color: #96a9bd;
    *zoom: 1;
}

.wall_post_comments .wall_post_more_comments {
    background-color: #edf4fb;
}

.wall_post_comments .wall_post_hide_comments {
    border-bottom: 1px solid #edf4fb;
}

.wall_post_comments .wall_post_hide_comments:hover {
    background-color: #edf4fb;
    border-color: white;
}

.wall_post_comments .wall_post_toolbox_top {
    right: 0;
}

/*
.wall_post_comments .wall_post_more_comments span {
    font-size: 15px;
    color: #96a9bd;
}
*/

.wall_post .wall_post_message {
    padding-right: 15px;
}

.wall_post .wall_post_message p {
    padding: 15px 0px 15px 0px;
    font-size: 15px;
    color: #333333;
    line-height: 25px;
}

.wall_post .wall_repost_message {
    border: 1px solid #d9e8f8;
    margin-right: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.repost_arrow {
    position: absolute;
    top: -7px;
    left: 35px;
    width: 15px;
    height: 7px;
    background: url(../images/repost_arrow.png) center no-repeat;
}

.wall_post .wall_repost_message p {
    padding: 15px 0px 15px 0px;
    font-size: 15px;
    color: #333333;
    line-height: 25px;
}

.wall_repost_message .wall_repost_header {
    background-color: #f5f8fb;
    padding: 10px;
    position: relative;
    height: 36px;
    padding-right: 170px;
}

.wall_repost_header img, .wall_repost_header a {
    display: inline;
    vertical-align: middle;
    margin-right: 10px;
}

.wall_repost_message .wall_repost_header .wall_post_date {
    position: absolute;
    right: 20px;
    top: 20px;
}

.wall_repost_message .wall_repost_content {
    padding: 18px;
    padding-top: 5px;
}

.wall_repost_link {
    margin-bottom: 15px;
}

.wall_repost_link a {
    color: #0066cc;
    font-size: 15px;
    text-decoration: none;
}

/* Post comment styles */
.wall_wrapper .wall_post_comment {
    background-color: #edf4fb;
    padding: 14px 20px 14px 22px;
    border: 1px solid #d9e8f8;
    border-right: none;
    border-left: none;
}

.wall_wrapper .wall_post .wall_post_comment {
    border-right: 1px solid #d9e8f8;
    border-left: 1px solid #d9e8f8;
    padding: 10px 12px 10px 12px;
    margin-right: 20px;
}

.wall_wrapper .wall_post_comment .wall_post_profile {
    width: 80px;
    margin-top: 5px;
    position: absolute;
}

.wall_wrapper .wall_post .wall_post_comment .wall_post_profile {
    margin-top: 10px;
    width: 40px;
}

.wall_wrapper .wall_post_comment .wall_post_content {
    padding-left: 70px;
}

.wall_wrapper .wall_post .wall_post_comment .wall_post_content {
    padding-left: 40px;
}

.wall_wrapper .wall_post_comment textarea {
    display: inline;
    resize: none;
    width: 100%;
    border: 1px solid #d9e8f8;
    color: #333333;
    padding: 12px 14px 12px 14px;
    overflow: hidden;
    line-height: 20px;
    font-size: 16px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.wall_wrapper .wall_post_btn {
    margin-top: 8px;
    margin-bottom: 10px;
    display: none;
    position: relative;
}

.wall_wrapper .wall_post_btn_right {
    position: absolute;
    right: 20px;
    top: 12px;
}

.wall_icon {
    color: #96a9bd;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 0px 5px 22px;
    text-decoration: none;
    background: none;
    outline: none;
    cursor: pointer;
    background-position: left center;
    background-repeat: no-repeat;
}

.wall_wrapper .wall_icon_note {
    background-image: url(../images/icon_wall_note.gif);
}

.wall_wrapper .wall_icon_delete {
    background-image: url(../images/icon-toolbox-close2.png);
}

.wall_wrapper .wall_icon_repost {
    background-image: url(../images/icon_wall_repost.gif);
}

.wall_wrapper .wall_icon_counter {
    background-image: url(../images/icon_wall_counter.png);
}

.wall_wrapper .wall_icon_counter_y {
    background-image: url(../images/icon_wall_counter_y.png);
}

.wall_icon_photo {
    background-image: url(../images/icon_wall_photo.png);
}
.wall_icon_video {
    background-image: url(../images/icon_wall_video.png);
}
.wall_icon_file {
    background-image: url(../images/icon_wall_file.png);
}

.wall_icon.normal {
    font-weight: normal;
}

.wall_post_toolbox_top {
    position: absolute;
    right: 20px;
}

.wall_post_toolbox_bottom {
    margin-bottom: 13px;
}

.wall_post .wall_post_toolbox_bottom_left {
    float: left;
    margin-top: 4px;
}

.wall_post .wall_post_toolbox_bottom_right {
    float: right;
    margin-right: 30px;
}

.wall_post_toolbox_bottom_right ul {
    margin-top: 4px;
}

.wall_post_toolbox_bottom_right a {
    display: block;
}

.wall_post_toolbox_bottom_right .wall_icon_repost {
    border-right: 1px solid #e5edf6;
    padding-right: 15px;
    padding-top: 2px;
    margin-top: 3px;
    margin-bottom: 3px;
    padding-bottom: 2px;
}

.wall_post_toolbox_bottom_right ul, .wall_post_toolbox_bottom_right a {
    float: left;
}

.wall_post_toolbox_bottom_right ul a {
    margin-right: 3px;
}

.wall_post_toolbox_bottom_right a.wall_icon {
    margin-right: 15px;
}

/*++ Wall ++*/

/*-- STYLES --*/

/*++ HEADER ++*/
#header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 119px;
    background: url(../images/bg-header.gif) repeat-x;
}

.header_wrapper {
    background: url(../images/bg-header.gif) repeat-x;
}

#header .top_block {
    height: 59px;
}

.top_block .tb_part, .top_block .tb_part_r {
    padding-right: 18px;
    padding-left: 18px;
    height: 59px;
}

.tb_part {
    float: left;
}

.tb_part_r {
    float: right;
}

.top_block .tb_sep_r {
    border-right: 1px solid #202e58;
}

.top_block .tb_sep_l {
    border-left: 1px solid #202e58;
}

.top_block .tb_btn {
    cursor: pointer;
    position: relative;
}

.top_block .tb_btn .tb_popup {
    cursor: auto;
}

.top_block .tb_amount {
    position: absolute;
    left: 32px;
    top: 9px;
    background-color: #ff3333;
    text-align: center;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    padding: 0px 5px 0px 5px;
    font-size: 13px;
    color: white;
    font-weight: bold;
}

.top_block .tb_ico {
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    padding-right: 23px;
    padding-left: 23px;
}

.top_block .tb_btn.active, .top_block .tb_btn:hover {
    background-color: #0f1731;
}

/* Search */
.top_block .tb_search {
    padding-top: 8px;
    height: 51px;
}

.tb_search input, .tb_search div, .tb_search button {
    float: left;
}

.extended_search {
    margin-left: 10px;
    color: #ffffff;
    font-size: 14px;
    display: block;
    float: left;
    margin-top: 2px;
}

.top_block .btn-searchlocation {
    background-color: white;
    color: #000f3e;
    font-size: 14px;
    height: 41px;
    vertical-align: middle;
    border: none;
    margin-right: 10px;
    /*position: relative;*/

    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    /*z-index: 1;*/
}

.top_block .btn-searchlocation span {
    background: url(../images/icon-bottom-arrow-blue.gif) right center no-repeat;
    padding-right: 18px;
}

/* Cabinet link */
.top_block .tb_lcabinet {
    vertical-align: middle;
    height: 59px;
    line-height: 59px;
}

.top_block .tb_lcabinet a {
    vertical-align: middle;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    color: white;
}

.top_block .tb_actbtn {
    padding-top: 13px;
    height: 46px;
}

/**/

/* Logo */
.top_block .tb_logo {
    padding-left: 0px;
    height: 49px;
    padding-top: 10px;
}

.top_block .tb_logo img {
    vertical-align: middle;
    margin-right: 10px;
}

.top_block .tb_logo a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

.top_block .tb_logo span {
    vertical-align: middle;
}

.top_block .tb_profile {
    padding: 6px 10px 7px 10px;
    height: 46px;
}

/* Services */
.top_block .tb_services {
    vertical-align: middle;
    color: white;
    font-size: 16px;
    height: 59px;
    line-height: 59px;
}

.top_block .tb_services span {
    background: url(../images/icon-bottom-arrow.png) right center no-repeat;
    padding-right: 18px;
}

/* Messages */
.top_block .tb_messages {
    background-image: url(../images/icon-toolbox-messages.png);
}

/* Notice */
.top_block .tb_notice {
    background-image: url(../images/icon-toolbox-notice.png);
}

/* Friends */
.top_block .tb_friends {
    background-image: url(../images/icon-toolbox-friends.png);
}

/* POPUP */
.popup {
    z-index: 400;
}

.top_block .tb_popup {
    display: none;
    border: 5px solid #0066cc;
    background-color: white;
    position: absolute;
    top: 9px;
}

.popup_hlighted {
    color: #ff3333;
    font-weight: bold;
}

.popup_row {
    border-bottom: 1px solid #d9e2ec;
    color: #333333;
    font-size: 16px;
    padding: 12px 25px 12px 15px;
    position: relative;
}

.popup_row a {
    text-decoration: none;
    color: #333333;
}

.popup_services a, .popup_profile a {
    color: #0066cc;
    text-decoration: underline;
}

.popup_row .popup_col_img {
    position: absolute;
    width: 60px;
}

.popup_row .popup_col_text {
    padding-left: 60px;
    font-size: 13px;
    line-height: 20px;
    color: #333333;
}

.popup_row .popup_col_text .title {
    font-size: 15px;
    font-weight: bold;
}

.popup_row .popup_col_text .title a {
    color: black;
}

.popup_row .popup_col_text .date {
    font-size: 13px;
    color: #999999;
}

.popup_row .popup_col_text .info {
    font-style: italic;
}

.popup_row .popup_toolbox {
    position: absolute;
    right: 10px;
    top: 5px;
}

.popup_row.last {
    border-bottom: none;
}

.popup_row .popup_left {
    float: left;
    vertical-align: middle;
}

.popup_row .popup_right {
    float: right;
    vertical-align: middle;
}

.popup_row.hlighted {
    background-color: #e7ecf8;
}

.popup_ico {
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 30px;
}

.popup_ico_profile {
    background-image: url(../images/popup-ico-profile.png);
}

.popup_ico_balance {
    background-image: url(../images/popup-ico-balance.png);
}

.popup_ico_star {
    background-image: url(../images/popup-ico-star.png);
}

.popup_ico_help {
    background-image: url(../images/popup-ico-help.png);
}

.popup_ico_profile {
    background-image: url(../images/popup-ico-profile.png);
}

.popup_ico_settings {
    background-image: url(../images/popup-ico-settings.png);
}

/* Search location */
.popup_searchlocation {
    position: absolute;
    top: 9px;
    border: 1px solid #222f56;
    color: white;
    font-size: 15px;
    background-color: #152041;
    display: none;
    width: 270px;
    z-index: 400;
}

.popup_searchlocation ul {

}

.popup_searchlocation li {
    padding: 10px;
    padding-left: 45px;
    border-bottom: 1px solid #202f5a;
    text-align: left;
    background-position: 14px center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.popup_searchlocation li.last {
    border-bottom: none;
}

.popup_searchlocation li.checked {
    background-color: #1e2b53;
    background-image: url(../images/checkbox_checked.png) !important;
    background-position: 10px center;
}

.popup_searchlocation li.checkbox_all {
    background-image: url(../images/checkbox_all.png);
}

.popup_searchlocation li.checkbox_people {
    background-image: url(../images/checkbox_people.png);
}

.popup_searchlocation li.checkbox_vacancies {
    background-image: url(../images/checkbox_vacancies.png);
}

.popup_searchlocation li.checkbox_companies {
    background-image: url(../images/checkbox_companies.png);
}

.popup_searchlocation li.checkbox_communities {
    background-image: url(../images/checkbox_communities.png);
}

.popup_searchlocation li.checkbox_groups {
    background-image: url(../images/checkbox_groups.png);
}

.popup_searchlocation li.checkbox_articles {
    background-image: url(../images/checkbox_articles.png);
}

/* registration */
.popup_registration {
    width: 306px;
    padding: 15px;
    font-size: 14px;
    color: #333333;
}

.popup_registration .reg_label {
    margin: 5px 0px 3px 0px;
    font-weight: bold;
    font-size: 16px;
}

.popup_registration p {
    margin: 17px 0px 20px 0px;
}

.popup_registration .btn {
    font-size: 14px;
}

/* auth */
.popup_auth {
    width: 306px;
    padding: 20px 15px 15px 15px;
    font-size: 14px;
    color: #333333;
}

.popup_auth label {
    font-size: 16px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 6px;
    display: block;
}

.popup_auth .inp {
    margin-bottom: 20px;
}

.popup_auth .btn {
    font-size: 14px;
}

.popup_auth .btn-forget {
    float: right;
}

/* Services */
.popup_services {
    width: 470px;
    color: #333333;
}

.popup_services .popup_col_label {
    width: 110px;
    font-weight: bold;
    text-align: left;
}

.popup_services .popup_col_label, .popup_services .popup_col_text {
    padding-left: 0px;
    float: left;
    font-size: 16px;
    line-height: 20px;
    vertical-align: middle;
}

.popup_services .popup_row.disabled .popup_col_label {
    color: #999999;
}

.popup_services .popup_row.disabled .popup_col_text {
    color: #cccccc;
}

/* Messages */
.popup_messages {
    width: 390px;
}

.popup_messages .popup_col_img {
    width: 75px;
}

.popup_messages .popup_row {
    padding-right: 10px;
}

.popup_messages .popup_col_text {
    padding-left: 75px;
}

/* Friends */
.popup_friends .popup_row {
    padding-right: 10px;
}

.popup_friends {
    width: 400px;
}

.popup_friends .popup_col_img {
    width: 75px;
}

.popup_friends .popup_col_text {
    padding-left: 75px;
}

.popup_friends .popup_col_text .title {
    margin-bottom: 4px;
    display: block;
}

.popup_friends .btn {
    margin-right: 5px;
}

/* Notice */
.popup_notice {
    width: 376px;
}

/* Profile */
.popup_profile .popup_row.header {
    border-bottom: none;
    background-color: #e7ecf8;
    padding: 9px 25px 9px 7px;
}

.popup_profile .header .popup_left {
    font-weight: bold;
}

.popup_profile .header .popup_right a {
    line-height: 46px;
    vertical-align: middle;
}

.popup_profile .header span, .popup_profile .header img {
    display: inline-block;
    vertical-align: middle;
}

.popup_profile .header span {
    padding-left: 20px;
}

.popup_profile {
    width: 470px;
}

#header .bottom_block {
    height: 60px;
}

#header ul.top_menu {
    list-style-type: none;
    display: block;
    float: left;
    margin-top: 20px;
}

#header ul.top_menu.right {
    float: right;
}

#header ul.top_menu li {
    display: inline;
    padding-left: 20px;
    margin-right: 35px;
    background-repeat: no-repeat;
    background-position: left center;
}

#header ul.top_menu li a {
    color: white;
    font-size: 16px;
    text-decoration: none;
}

#header ul.top_menu li.item_main {
    background-image: url(../images/icon-topmenu-main.gif);
}

#header ul.top_menu li.item_contacts {
    background-image: url(../images/icon-topmenu-contacts.gif);
}

#header ul.top_menu li.item_message {
    background-image: url(../images/message.png);
}

#header ul.top_menu li.item_companies {
    background-image: url(../images/icon-topmenu-companies.gif);
}

#header ul.top_menu li.item_communities {
    background-image: url(../images/icon-topmenu-communities.gif);
}

#header ul.top_menu li.item_photos {
    background-image: url(../images/icon-topmenu-photos.gif);
}

#header ul.top_menu li.item_videos {
    background-image: url(../images/icon-topmenu-videos.gif);
}

#header ul.top_menu li.item_level {
    background-image: url(../images/icon-top-arrow.gif);
}

#header input.search_left {
    border: none;
    background-color: white;
    border-right: 1px solid #d1d1d1;
    font-size: 15px;
    padding: 11px 8px 9px 15px;
    color: #666666;
    font-style: italic;
    width: 250px;
    outline: none;

    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

#header a.search_extended {
    color: white;
    font-size: 14px;
}

/*-- HEADER --*/

/* MAIN */
#main {
    padding-top: 150px;
    background-color: white;
    padding-bottom: 50px;
}

#main .left_block {
    width: 790px;
    float: left;
    border-right: 1px solid #d9e8f8;
}

#main .left_block .block_content {
    border-bottom: 1px solid #edf4fb;
    background: url(../images/bg_block_content.gif) bottom repeat-x;
}

#main .right_block {
    width: 390px;
    float: right;
    border-left: 1px solid #d9e8f8;
    margin-left: -1px;
}

#main .right_block .block_content {
    padding-bottom: 15px;
}

.right_block .iblock {
    position: absolute;
}

.right_block .idetails {
    padding: 7px 40px 7px 95px;
    margin-bottom: 15px;
}

.right_block .idetails.last {
    margin-bottom: 0px;
}

.right_block .link {
    font-size: 17px;
}

.right_block .link.medium {
    font-size: 15px;
}

.right_block .link.small {
    font-size: 13px;
}

.right_block .title {
    font-size: 14px;
    color: #666666;
}

.right_block .description {
    font-size: 13px;
    color: #999999;
}

/* Gallery */
.right_block .gallery {
    border: 1px solid #e1e9f1;
    width: 309px;
}

.right_block .gallery .gallery-image {
    text-align: center;
}

.right_block .gallery .gallery-details {
    padding: 16px;
}

.right_block .gallery .link {
    line-height: 23px;
}

/* Audio */
.block_content.audio a {
    text-decoration: none;
}

.block_content.audio .iblock {
    text-align: center;
    width: 80px;
}

.block_content.audio .idetails {
    padding-left: 80px;
}

.block_content.audio button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0px;
    outline: 0;
}

.block_content.audio .title {
    font-size: 16px;
}

.block_content.audio .description {
    font-size: 14px;
}

#main .short_info {
    margin-bottom: 40px;
}

/* Slider */
.main_slider {
    height: 478px;
    position: relative;
    z-index: 1;
}

.main_slider .slider_info {
    height: 478px;
    width: 350px;
    font-size: 15px;
    color: white;
    text-align: center;
    position: absolute;
    background: url(../images/bg-slider-info.png) repeat;
}

.main_slider .slider_info a {
    color: #33ccff;
}

.main_slider .slider_info .sinfo_name {
    font-size: 28px;
    margin: 15px 0px 15px 0px;
}

.main_slider .slider_info .sinfo_age {
    margin-bottom: 15px;
    color: #33ccff;
}

.main_slider .slider_info .sinfo_img {
    margin-top: 20px;
    position: relative;
}

.main_slider .slider_info .sinfo_img_toolbox {
    position: absolute;
    left: 50%;
    margin-left: -24px;
    margin-top: 55px;
	z-index: 5;
}

.main_slider .slider_toolbox {
    position: absolute;
    /*left: 1160px;*/
    right: 15px;
    top: 15px;
}

.main_slider .slider_info .sinfo_amount {
    margin-top: 50px;
    font-size: 14px;
    color: #bacae0;
}

.main_slider .slider_info .sinfo_contacts {
    padding-right: 20px;
}

/* Skills */
.skills_table {
    width: 100%;
    margin-bottom: 25px;
}

.skills_table td {
    vertical-align: middle;
}

.skills_table .skill_title {
    width: 210px;
    text-align: right;
    font-size: 16px;
    color: #333333;
}

.skills_table .skill_amount {
    width: 60px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #96a9bd;
}

.skills_table .skill_profiles {
    width: 150px;
}

.skills_table .skill_profiles ul, .wall_post_toolbox_bottom_right ul {
    list-style: none;
}

.skills_table .skill_profiles ul li, .wall_post_toolbox_bottom_right ul li {
    display: inline;
}

.skills_table .skill_profiles ul li.skill_profile_btn {
    margin-right: 10px;
}

.skills_table .skill_progress {
    padding-right: 10px;
}

/* FOOTER */
#footer {
    height: 180px;
    background: url(../images/bg-main-bottom.gif) 50% 0 no-repeat #edf4fb;
}

#footer .main_block {
    height: 180px;
    background: url(../images/bg-footer.gif) top repeat-x;
}

.r_bl_menu ul li a {
    font-family: 'PT Sans', sans-serif;
    font-size: 21px;
    color: #0066cc;
    width: 365px;
    display: block;
    padding: 27px 0 27px 26px;
    border-bottom: 1px solid #d9e8f8;
}

.r_bl_menu ul li a:hover {
    font-family: 'PT Sans', sans-serif;
    color: #fff;
    background: #152041;
    text-decoration: none;
    border-bottom: none;
}

.r_bl_menu .akt {
    font-family: 'PT Sans', sans-serif;
    color: #fff;
    background: #152041;
    text-decoration: none;
    border-bottom: none;
}

.prof_h1 {
    font-family: 'PT Sans', sans-serif;
    color: #0f1731;
    font-size: 45px;
    font-weight: normal;
    margin-bottom: 24px;
}

.prof_blok_left h2 {
    font-family: 'PT Sans', sans-serif;
    color: #0f1731;
    font-size: 34px;
    font-weight: normal;
}

.prof_blok_pukt p {
    font-family: 'PT Sans', sans-serif;
    color: #333333;
    font-size: 16px;
    font-weight: normal;
    padding-bottom: 16px;
}

.styled-select select {
    background: #fff;
    width: 339px;
    height: 42px;
    padding: 5px;
    font-size: 16px;
    line-height: 1;
    border: 0;
    border-radius: 0;
    height: 34px;
    -webkit-appearance: none;
    margin-top: 4px;
    background: url(../images/icon-bottom-arrow-bl.png) no-repeat right;
    background: none \0/;
    cursor: pointer;
    outline: none;

    font-family: 'PT Sans', sans-serif;
    color: #333333;
    font-size: 16px;
    font-weight: normal;
}

.styled-select {
    width: 338px;
    height: 42px;
    overflow: hidden;
    border: 1px solid #d3e4f5;
    padding-right: 13px;
    cursor: pointer;
    border-radius: 7px;
    display: inline-table;
}

.styled-select_1 {
    width: 79px;
}

.styled-select_2 {
    width: 108px;
    margin: 0 10px;
    margin: 0 6px \0/;
}

.styled-select_2, x:-moz-any-link {
    margin: 0 6px;
}

.styled-select_3 {
    width: 99px;
}

.styled-select_1 select {
    width: 80px;
}

.styled-select_2 select {
    width: 109px;
}

.styled-select_3 select {
    width: 100px;
}

.prof_blok_pukt input[type=text] {
    width: 338px;
    height: 42px;
    padding: 0 0 0 15px;
    border-radius: 7px;
    border: 1px solid #d3e4f5;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    font-weight: normal;
}

.prof_blok_pukt textarea {
    width: 723px;
    height: 90px;
    padding: 10px 0 0 15px;
    border-radius: 7px;
    border: 1px solid #d3e4f5;
    resize: none;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    font-weight: normal;
}

.prof_blok_left {
    border-top: 1px solid #d9e8f8;
    padding-top: 24px;
    padding-bottom: 73px;
    margin-left: -34px;
    padding-left: 34px;
}

.prof_blok_pukt {
    width: 356px;
    padding-top: 30px;
    display: inline-table;
}

.div_left {
    padding-left: 34px;
}

.prof_blok_pukt_left {
    margin-right: 28px;
}

.p_span {
    display: inline-table;
}

.prof_butt {
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    background: #0066cc;
    padding: 16px 41px;
    border-radius: 6px;
}
.normal.text{
    color: #0066cc;
}